* {font-family: 'Lato'}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-family: 'Lato'}
h1 {margin-bottom:20px;margin-top:15px;}
h4, h5, h6 {margin-bottom:0px;}

.facebook-bg{color:#3B5998}
.twitter-bg{color:#44CCF6}
.linkedin-bg{color:#0275B6}
.pinterest-bg{color:#CB2027}

.btn.btn-primary:hover, .btn.btn-primary:focus, .btn-group:focus .btn.btn-primary.dropdown-toggle{background:#264E90 !important}
#main{overflow-x:hidden}
input:focus{border-color:#2D5CA9 !important}
.checkbox.checked .second-icon, .radio.checked .second-icon{color:#00529c}
input:focus{border-color:#00529c}

header{padding-top:15px;padding-bottom:15px;padding:0;border-radius:0}
header .container{padding:0}
.navbar{margin-bottom:0}
header img.face{display:none}
.navbar-brand{padding:15px 15px}
i.fa{margin-right:5px;}
img.img-responsive{/*width:100%*/}
.navbar-toggle .icon-bar{background:#566473;height:4px;width:24px;}
.navbar-nav > li.search-icon{display:none}
.navbar .nav > li > a{color:#A4B1B2;padding-top:18px;padding-bottom:18px;padding-right:15px;padding-left:15px;}
.navbar .nav > li > a:hover{color:#F468A9}
.navbar-right .contact{padding-top:10px;width:108%}
header button.dropdown-toggle{background:#fff;border:2px solid #BDC3C7;color:#333333;padding:5px 12px}
.select.select-block{margin-bottom:0}
header button.dropdown-toggle span.caret{
	color:#757575;
	border-bottom-color: #757575 !important;
    border-left-width: 6px;
    border-right-width: 6px;
    border-style: solid solid none;
    border-top: 8px solid #757575 !important;
    transition: all 0.25s ease 0s;margin-top:8px;
}
header input.search-query {
	max-width:150px;
	color:#000000 !important;
	border-top:2px solid #BDC3C7 !important;
	border-left:2px solid #BDC3C7 !important;
	border-bottom:2px solid #BDC3C7 !important;
}
header button.dropdown-toggle span.filter-option{top:5px !important}
.navbar .navbar-search.form-search .input-append .btn{
	border-top:2px solid #BDC3C7 !important;
	border-right:2px solid #BDC3C7 !important;
	border-bottom:2px solid #BDC3C7 !important;
}
.navbar .navbar-search.form-search .input-append .btn:hover, .navbar .navbar-search.form-search .input-append .btn:focus{color:#555}
.dropdown-inverse{background:#ECEEF0;color:#CCCCCC}
header .dropdown-inverse li.active > a, .dropdown-inverse li.selected > a{background:#34495E;color:#FFFFFF}
header .dropdown-inverse li > a:hover, .dropdown-inverse li > a:active, .dropdown-inverse li > a{color:#A1A6A9}

@media only screen and (max-width:480px){
	.navbar-header{text-align:center}
	.navbar-brand{text-align:center;float:none;display:inline-block;width:100%;padding-top:15px;padding-bottom:15px;}
	.navbar-nav {display:inline-block;margin-right:5px;}
	.navbar-nav > li{float:left;}
	.navbar-nav > li > a > .text{display:none}
	.navbar-nav > li.search-icon{display:inline-block}
	.navbar-nav > li > a > .fui-search{font-size:21px;}
	header img.face{display:inline-block;margin-right:10px}
	
	.navbar-toggle{position:absolute;float:left;margin-top:15px;margin-right:5px;left:0;z-index:1}
}

.btn-file {
  overflow: hidden;
  position: relative;
}
.btn-file > input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
  width: 100%;
}
.fileinput {
  margin-bottom: 9px;
  display: block;
}
.fileinput .fileinput-filename {
  font-size: 15px;
}
.fileinput .uneditable-input {
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: text;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fileinput .uneditable-input [class^="fui-"] {
  margin-right: .3em;
}
.fileinput .fileinput-preview {
  cursor: pointer;
}
.fileinput .thumbnail {
  overflow: hidden;
  display: inline-block;
}
.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
  display: none;
}
.fileinput-inline .fileinput-controls {
  display: inline;
}
.fileinput-new .input-group .btn-file {
  border-radius: 0 4px 4px 0;
}
.fileinput-new .input-group .btn-file.btn-xs,
.fileinput-new .input-group .btn-file.btn-sm {
  border-radius: 0 3px 3px 0;
}
.fileinput-new .input-group .btn-file.btn-lg {
  border-radius: 0 6px 6px 0;
}
.form-group.has-warning .fileinput .uneditable-input {
  color: #f1c40f;
  border-color: #faebcc;
}
.form-group.has-warning .fileinput .fileinput-preview {
  color: #f1c40f;
}
.form-group.has-warning .fileinput .thumbnail {
  border-color: #faebcc;
}
.form-group.has-error .fileinput .uneditable-input {
  color: #e74c3c;
  border-color: #ebccd1;
}
.form-group.has-error .fileinput .fileinput-preview {
  color: #e74c3c;
}
.form-group.has-error .fileinput .thumbnail {
  border-color: #ebccd1;
}
.form-group.has-success .fileinput .uneditable-input {
  color: #2ecc71;
  border-color: #d6e9c6;
}
.form-group.has-success .fileinput .fileinput-preview {
  color: #2ecc71;
}
.form-group.has-success .fileinput .thumbnail {
  border-color: #d6e9c6;
}

@media only screen and (min-width:768px){
	.navbar-toggle{display:none}
	.navbar .nav > li > a{padding-left:25px;padding-right:25px;}
	.navbar-nav{padding:25px 15px}
	.navbar-header{float:left}
	}
	
@media only screen and (max-width:768px){
	.advt-posted-wrapper #selecctall ,
 .advt-posted-wrapper .action-row  {
    display: inline-block;
    float: left;
    margin-bottom: 10px;
    margin-top: 20px !important;
}
}

@media only screen and (max-width:1200px){
	.logged-in .admin-logo{display:none}
}

@media only screen and (min-width:481px){
	
	.navbar .nav > li{float:left}
	.navbar-nav > li > a > .text{display:none}
}

@media only screen and (min-width:600px){
	
	.navbar-nav > li > a > .text{display:inline}
	
}
@media only screen and (min-width:601px){
	.navbar-nav{padding:25px 15px}
	.navbar .nav > li > a{padding-left:25px;padding-right:25px;}
}

@media only screen and (min-width:980px){
	.navbar-nav{padding:0}
	
	
}

@media only screen and (max-width:1024px){
	.navbar-right{display:none}
}

header span.header-icon{ display: inline-block; height: 25px; background: url(../img/icons/header-icons.png) no-repeat; float: left; margin-top:-4px;margin-right:10px;}
header span.header-icon.logo{ background-position: 0 0; width: 24px; }
header span.header-icon.post-advt{ background-position: -24px 0; width: 13px; }
header span.header-icon.notifications{ background-position: -37px 0; width: 16px; }
header span.header-icon.sign-up{ background-position: -53px 0; width: 16px; }

footer{background:#EBEDEF}
footer .footer-brand{display:none}
footer ul.bottom-links li a{color:#b8bfc7;}
footer ul.bottom-links li a:hover{color:#00529c}
section.ct-content{background:#fff}
section.ct-content .container{padding:0}
section.ct-content .container > div{padding:0}
section.ct-homepage .col-lg-2{padding:0}


.navbar-collapse{padding:0;max-height:540px}
.logged-in .left-menu{margin-top:15px}
.logged-in .admin-logo{text-align:center;}
.logged-out .admin-logo{text-align:center;border-bottom:1px solid #BDC3C7}


.logged-in .left-menu ul{background:#ECEEF0;padding:10px 0;}
.logged-in .left-menu ul li{position:relative;}


.logged-in .user-name{margin-bottom:10px;}
.logged-in .user-name p{display:inline-block;font-size:13px;line-height:16px;margin:8px 0;padding-left:20px}
.logged-in .user-name img{display:inline-block;border-radius:50%;float:right;margin-right:10px;}
.logged-in li > a{padding:6px 15px 8px 50px;display:block;font-size:14.994px;color:rgba(52, 73, 94, 0.75)}
.logged-in li > a:hover{background:#BDC3C7;color:#fff}
.logged-in .u-icon{ background: url(../img/icons/user-icons.png) no-repeat; display: inline-block; width: 16px; height: 20px; margin: 0 15px 0 0; position:absolute;left:15px;top:5px;}
.logged-in .u-icon.profile{ 			background-position: 0 1px; }
.logged-in .u-icon.inbox{ 				background-position: -33px 1px; }
.logged-in .u-icon.text-chat{ 			background-position: -49px 3px; }
.logged-in .u-icon.notifications{ 		background-position: -65px 3px; }
.logged-in .u-icon.ads-posted{ 			background-position: -81px 0px; width: 13px; margin-right: 18px; top:7px }
.logged-in .u-icon.video-bio{ 			background-position: -94px 1px; }
.logged-in .u-icon.video-resume{ 		background-position: -110px 1px; }
.logged-in .u-icon.wall{ 				background-position: -110px 1px; }
.logged-in .u-icon.friends{ 			background-position: -17px 1px; }
.logged-in .u-icon.account-settings{ 	background-position: -126px 2px; }
.logged-in .u-icon.log-out{ 			background-position: -142px 3px; }
.logged-in .num-notif, .logged-out .num-notif{background:none repeat scroll 0 0 #f90000;display:inline-block;text-align:right;border-radius:5px;padding:2px 8px;color:#fff;margin-left:15px;}

.logged-in li:last-child{background:none repeat scroll 0 0 #C9CED2}


.ct-post-ad-final .right-content{border-left:1px solid transparent;padding:15px}
.ct-post-advt-final .right-content{border-left:1px solid transparent;padding:15px}

.ct-post-ad-final .right-content .wrapper{background:#ecf0f1;padding:15px;border:1px solid #BDC3C7;position:relative}
.ct-post-ad-final .right-content .wrapper input{width:100%;height:35px;margin-top:4px;margin-bottom:5px;font-size:14.994px}
.ct-post-ad-final .right-content .wrapper input:focus{border-color:#80A8CC}
.ct-post-ad-final .right-content .wrapper input.search:focus{border-color:#BDC3C7}


.ct-post-ad-final .right-content .wrapper textarea{width:100%;height:215px;}
.ct-post-ad-final .right-content .wrapper textarea:focus{border-color:#80A8CC}

.ct-post-ad-final .right-content .wrapper .info input{width:80%}
.ct-post-ad-final .right-content .wrapper .info i.fa{margin-left:10px}
.ct-post-ad-final .right-content .wrapper .info i.fa-check-circle{color:#00529C}
.ct-post-ad-final .right-content .wrapper .info i.fa-times-circle{color:#CC0000}


.ct-post-ad-final .right-content .wrapper .info .facebook input{border-color:#00529C;color:#00529C}
.ct-post-ad-final .right-content .wrapper .info .twitter input{border-color:#01AEFE;color:#01AEFE}
.ct-post-ad-final .right-content .wrapper .info .gplus input{border-color:#CD3627;color:#CD3627}
.ct-post-ad-final .right-content .wrapper .info .tumblr input{border-color:#36506B;color:#36506B}
.ct-post-ad-final .right-content .wrapper .info .pinterest input{border-color:#CA2624;color:#CA2624}
.ct-post-ad-final .right-content .wrapper .info .other input{border-color:#95A5A6;color:#95A5A6}

.ct-post-ad-final .right-content .wrapper .info .facebook i.fa-check-circle{color:#00529C}
.ct-post-ad-final .right-content .wrapper .info .twitter i.fa-check-circle{color:#01AEFE}
.ct-post-ad-final .right-content .wrapper .info .gplus i.fa-check-circle{color:#CD3627}
.ct-post-ad-final .right-content .wrapper .info .tumblr i.fa-check-circle{color:#36506B}
.ct-post-ad-final .right-content .wrapper .info .pinterest i.fa-check-circle{color:#CA2624}
.ct-post-ad-final .right-content .wrapper .info .other i.fa-check-circle{color:#95A5A6}

.ct-post-ad-final .right-content .wrapper .blog-form .video-description{border:2px solid #BDC3C7;border-radius:6px;padding:10px 15px;background:#fff}
.ct-post-ad-final .right-content .wrapper .blog-form .video-description h3{text-align:center}
.ct-post-ad-final .right-content .wrapper .blog-form .video-description p{margin-left:15px;margin-right:15px;}


.ct-post-ad-final .right-content .wrapper .input{padding:0 5px;}
.ct-post-ad-final .right-content .wrapper .col-sm-4{padding:0 5px}
.ct-post-ad-final .right-content .wrapper .col-sm-7{padding:0}
.ct-post-ad-final .right-content .wrapper .map-input{padding:0}
.ct-post-ad-final .right-content .wrapper .map-input input{width:90%;display:inline-block;padding-right:0;float:left;border-radius:0;
	border-top:2px solid #BDC3C7;
	border-left:2px solid #BDC3C7;
	border-bottom:2px solid #BDC3C7;
	border-right:0 none;
	-webkit-border-top-left-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-bottomleft: 6px;
border-top-left-radius: 6px;
border-bottom-left-radius: 6px;
}
.ct-post-ad-final .right-content .wrapper .map-input button{width:10%;display:inline-block;margin:4px 0px;padding:5px;height:35px;border-radius:0;
	border-top:2px solid #BDC3C7;
	border-right:2px solid #BDC3C7;
	border-bottom:2px solid #BDC3C7;
	background:#fff;color:#BCC3CA;
	border-left:0 none;
	-webkit-border-top-right-radius: 6px;
-webkit-border-bottom-right-radius: 6px;
-moz-border-radius-topright: 6px;
-moz-border-radius-bottomright: 6px;
border-top-right-radius: 6px;
border-bottom-right-radius: 6px;
}


.ct-post-ad-final .right-content .wrapper .map-input .map-canvas{width:100%;height:195px;margin-top:0;}

@media (max-width:320px){
.ct-post-ad-final .right-content .wrapper .map-input .map-canvas{margin-top:15px;}
}

.ct-post-ad-final .right-content .wrapper .video-description{border:2px solid #BDC3C7;border-radius:6px;padding:10px 15px;background:#fff}
.ct-post-ad-final .right-content .wrapper .video-description h3{font-size:18px;color:#ff0000;font-weight:regular;}
.ct-post-ad-final .right-content .wrapper .video-description p{line-height:1.5;font-size:14px;font-weight:regular;}
.ct-post-ad-final .right-content .wrapper .video-link.col-sm-5 input{color:#ff0000;font-size:14px;border-color:#ff0000;padding:0}
.ct-post-ad-final .right-content .wrapper .upload-wrapper img.img-responsive{width:85%;text-align:center;display:inline-block}
.ct-post-ad-final .right-content .wrapper .upload-wrapper .btn-file{background:#00529c}
.ct-post-ad-final .right-content .submit{text-align:center;}
.ct-post-ad-final .right-content .submit input{width:auto;display:inline-block;padding:8px 26px;background:#00529C;height:41px}
.ct-post-ad-final .right-content .submit input[type="submit"]{background:#95A5A6;margin-right:5px;padding:8px 35px;}
.ct-post-ad-final .right-content .submit input[type="submit"]:hover{background:#718687}




.ct-post-ad-final .right-content .wrapper .upload-wrapper .fileinput{text-align:right}
.ct-post-ad-final .right-content .wrapper .upload-wrapper .btn-select-image{margin-top:15px;}

.ct-post-ad-final .right-content .wrapper .upload-wrapper .img-upload-wrapper{min-height:175px;min-width:230px;border:2px solid #BDC3C7;background:#fff;border-radius:6px;width: 220px; height: 150px;}

.ct-post-ad-final .right-content .wrapper .upload-wrapper textarea{height:80px;margin-top:5px;font-size:13px;line-height:1.5;border-radius:4px;width:230px;}
.ct-post-ad-final .right-content .wrapper .upload-wrapper .control{padding:75px 0;}
.ct-post-ad-final .right-content .wrapper .upload-wrapper .btn-control{position:relative;}
.ct-post-ad-final .right-content .wrapper .upload-wrapper .bg-uploading{border-radius:8px;background:#3498DB;}
.ct-post-ad-final .right-content .wrapper .upload-wrapper .bg-failed{border-radius:8px;background:#CCCCCC;}
.ct-post-ad-final .right-content .wrapper .upload-wrapper h3{border-radius:8px;padding-top:10px;padding-bottom:10px;font-weight:bold;font-size:15px;color:#fff;height:45px;background:#95A5A6}
.ct-post-ad-final .right-content .wrapper .upload-wrapper h3.uploading{background:#00529C;}
.ct-post-ad-final .right-content .wrapper .upload-wrapper h3.failed{background:#BA0D0D}
.ct-post-ad-final .right-content .wrapper .upload-wrapper h3 span{position:absolute;top:13px;left:30%}
.ct-post-ad-final .right-content .wrapper .upload-wrapper h4{font-size:14px;font-weight:bold;color:#95a5a6;padding:7px 4px;text-align:center}
.ct-post-ad-final .right-content .wrapper .email-checkbxs span.icons{top:7px}
.ct-post-ad-final .right-content .wrapper .checkbxs label{font-size:14px;font-weight:normal;line-height:20px;}
.ct-post-ad-final .right-content .wrapper .checkbxs span.icon-disabled{position:absolute;left:8.75px;z-index:1}
.ct-post-ad-final .right-content .wrapper .checkbxs span.email{color:#00529C}

.checkbox.disabled, .radio.disabled{color:#ABADAF}
.checkbox.disabled .icons, .radio.disabled .icons{color:#D1D3D5}
.checkbox.checked .icons, .radio.checked .icons{color:#2D5CA9}
.checkbox.checked, .radio.checked{color:#34495E}

.stepper-wrap{margin-top:9px;margin-bottom:9px;}
.stepper-btn-wrap{margin:0;height:35px;}
input.numeric{padding-right:30px}
.dl-menuwrapper .custom-select{background:#4485f5;font-weight:bold;color:#ffffff;font-size:15px;border-radius:6px;cursor:pointer;padding:10px 20px 10px 20px;}
.dl-menuwrapper .custom-select .caret{float:right;margin-top:5px;border-bottom-color:#fff;border-top-color:#fff}

.dl-menuwrapper .dl-menu.dl-menuopen{border-radius:6px;width:100%}
.dl-menuwrapper button:hover, .dl-menuwrapper button.dl-active, .dl-menuwrapper ul{background:#ECF0F1}
.dl-menuwrapper li > a{color:#111111;font-weight:normal;background:#ECF0F1;font-family:'Lato';font-size:14px;color:#111}
.dl-menuwrapper li > a:hover{background:#00529c;color:#fff;font-weight:normal}
.dl-menuwrapper li.first-child > a:hover{
	-webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
}
.dl-menuwrapper li.last-child > a:hover{
	-webkit-border-bottom-right-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
-moz-border-radius-bottomright: 6px;
-moz-border-radius-bottomleft: 6px;
border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
}
.dl-menuwrapper .dl-submenu{margin-left:0;border-radius:6px;}
.dl-menuwrapper li.dl-back > a{
-webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
}

.dl-menuwrapper{z-index:1;position:relative;margin:5px 0;max-width:98%}
.right-caret {
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-left: 6px solid #fff;
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
		float:right;
}

.left-caret {
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #fff;
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
		float:left;
		position: absolute; left: 15px; top: 13px;
}
.addlayer{z-index:-1}

.ct-homepage{}
.ct-homepage .admin-pn{display:none}
.ct-homepage .sm-toggle a.sm-toggle-trigger{display:block;background:#ECF0F1;padding:10px;font-size:18px;font-weight:bold;color:#565E6B;margin:10px 0;border-radius:6px;cursor:pointer}
.ct-homepage .sm-toggle a.sm-toggle-trigger .fa-chevron-left:before, 
.ct-homepage .sm-toggle a.sm-toggle-trigger .fa-chevron-right:before{font-size:24px}

.ct-homepage ul.list-cities .fa-chevron-left:before, 
.ct-homepage ul.list-cities .fa-chevron-right:before{font-size:14px}

.ct-homepage .dropdown-show a.sm-toggle-trigger{background:#00529C;color:#fff;}

.ct-homepage .sm-toggle a.sm-toggle-trigger:hover{background:#00529C;color:#fff}

.ct-homepage .sm-toggle i.fa{float:right}



.ct-homepage .list-toggle h3{display:block}
.ct-homepage .list-toggle{display:none}
.ct-homepage ul.home-list li a{color:#111;display:block;padding:9px;font-size:15px}
.ct-homepage ul.home-list li a:hover{color:#F468A9;background:#ECF0F1}
.ct-homepage .sub-list{padding:0}
.logged-out{padding:0}
.logged-out h6{text-align: center; color: #000000; font-weight: bold; padding: 15px 0; margin:0;font-size:23.996px}
.logged-out h5{text-align: center; color: #000000; font-weight: bold; padding: 15px 0; font-size: 14px;}



.ct-homepage .recommend-country{background:#f9fafb;border:2px solid #ecf0f1;border-radius:4px;padding:5px 15px }
.ct-homepage .recommend-country h5{color:#606e7c;font-size:15px;}
.ct-homepage .recommend-country h5 span{color:#5996c4}
.for-login button.btn{background:#F468A9;width:100%}
.for-login a.sign-in{display:block;width:100%}
.social-connect {text-align:left;margin-top:30px}
.social-connect .soc-log-fb{background:#2F4B93;margin:5px 0}
.social-connect .soc-log-tw{background:#00BDEF;margin:5px 0}
.social-connect a{color:#fff;font-weight:bold;padding:5px 10px;display:block}


.for-login .col-sm-6{margin:5px 0}
.for-login button.btn:hover{background:#EE98C0;}
.login-panel{margin:5px 35px;}

.ct-homepage-content{padding:20px;border-left:none}
.ct-homepage-content .row{padding-top:25px;padding-bottom:25px;padding-left:35px;padding-right:35px;border-left:none}



.modal-dialog{width:300px}
.modal-header{border-bottom:none}
.modal{left:0;width:auto;margin:auto;border:none;background:none}
.modal-login{}
.modal-login .control-group{margin:10px 0}

.modal-login h4{text-align: center; font-size: 32x; font-weight: bold; color: black; margin: 15px 70px 0;}
.modal-login .control-group span{background: url(../img/sign/icons.png) no-repeat; width: 30px; display: block; position: absolute; z-index: 10; left: 20px; padding: 0 15px 0 0; border-right: 1px solid #C6C0CA;}
.modal-login .control-group span{background: url(../img/sign/icons.png) no-repeat; width: 30px; display: block; position: absolute; z-index: 10; left: 20px; padding: 0 15px 0 0; border-right: 1px solid #C6C0CA;}

.modal-login .control-group span.username{ background-position: 0px 0px; height: 19px; top: 25px; }
.modal-login .control-group span.password{ background-position: 0px -38px; height: 19px; top: 25px; }
.modal-login .control-group span.email{ background-position: 0px -20px; height: 19px; top: 25px; }
.modal-login .control-group span.location{ background-position: 0px -98px; height: 19px; top: 25px; }
.modal-login .control-group span.full_name{ background-position: 0px -74px; height: 19px; top: 25px; }

.modal-login input{width: 100%; padding: 13px 5px 13px 50px; border: 2px solid white; border-right: 1px solid #EAE6EE; border-bottom: 2px solid #EAE6EE; font-size: 16px;  color: black;height:50px}
.modal-login input:focus{border:2px solid #00529C}
.modal-login button.btn{background:#f381b5}
.modal-login button.btn:hover{background:#EE98C0}
.modal-login a.forgot{font-weight:bold;display:block;color:#535c67;padding:10px 0;float:right}
.modal-login a.forgot:hover{color:#f381b5}

@media only screen and (min-width:768px){
	.ct-homepage .admin-pn{display:block}
	.ct-homepage .sm-toggle{display:none}
	.ct-homepage h3{display:block;color: #989EA3; font-size: 16px; font-weight: bold; border-bottom: 2px solid #ECF0F1; padding:5px 0; text-transform:uppercase;}
	.ct-homepage .list-toggle{display:block;}
	
	.modal-login .control-group span.username{ top: 15px; }
	.modal-login .control-group span.password{ top: 15px; }
	.modal-login .control-group span.email{ top: 15px; }
	.modal-login .control-group span.location{ top: 15px; }
	.modal-login .control-group span.full_name{ top: 15px; }
	
}

@media only screen and (min-width:1024px){
	.ct-post-ad-final .right-content{border-left:1px solid #BDC3C7}
	.ct-post-ad-final .right-content .wrapper{margin:30px;padding:0 30px 15px 20px;}
	.ct-post-ad-final .right-content .wrapper input[type="text"]{margin-top:9px;margin-bottom:9px;padding:0 5px}
	.ct-post-ad-final .right-content .wrapper .info input{margin-top:0;margin-bottom:0}
	.ct-post-ad-final .right-content .wrapper .col-sm-4{padding: 0 5px}
	.ct-post-ad-final .right-content .wrapper .col-sm-7{padding:0 5px;padding-left:15px;}
	.ct-post-ad-final .right-content .wrapper .map-input{padding-left:15px;padding-right:0}
	
	.ct-post-ad-final .right-content .wrapper .map-input button{margin:9px 0;}
	.dl-menu-wrapper{margin-left:30px;margin-right:30px;padding-bottom:15px;border-bottom:2px solid #ECF0F1}
	.dl-menu-ct{padding-left:0;padding-right:0}
	footer .footer-brand{display:inline-block}
	.modal-dialog{width:360px}
	.ct-homepage-content{border-left:1px solid #BDC3C7}
	.ct-post-ad-final .right-content .submit{text-align:right}
	.ct-post-ad-final .right-content .submit input[type="submit"]{width:auto;display:inline-block;padding:8px 35px}
	
	
}



.ct-city-page{border:none;padding:10px 15px;}
ul.list-cities {display:inline-block;border-bottom:2px solid #ECF0F1;width:100%}
ul.list-cities > li{float:none;}
ul.list-cities > li.active > a{color:#F468A9}
ul.list-cities > li > a{display:block;padding:5px;color:#A4B1B2}
ul.list-cities > li > a:hover{color:#F468A9}
ul.list-cities > li.main > a{font-size:18px;color:#2E404D;font-weight:bold;padding-top:10px;}

.ct-city-page .banner{border:2px solid #ecf0f1;background:#fff; padding:10px 10px 15px;cursor:pointer;margin-bottom:10px}
.ct-city-page .banner h6{margin:0;font-size:12px;color:#2e404d;text-align:right;margin-bottom:5px;}
.ct-city-page .banner h6 a{color:#2D5CA9}
.ct-city-page .banner h1{margin:0;font-size:24px;color:#c9ced2;text-align:center;line-height:28px;margin:0 0 10px}
.ct-city-page .banner h4{margin:0;font-size:14px;color:#7f8c8d;text-align:center}
.ct-city-page .ct-list h3{color: #989EA3; font-size: 16px; font-weight: bold; border-bottom: 2px solid #ECF0F1; padding:5px 0; text-transform:uppercase;cursor:pointer}
.ct-city-page .ct-list h3:hover{color:#34495E}
.ct-city-page .ct-list h3 i.fa{display:inline-block;float:right}
.ct-city-page i.fa-chevron-right{display:inline-block;}
.ct-adpost-listing i.fa-chevron-right{display:inline-block;}


.ct-city-page .ct-list .ct-list-toggle{display:none;border-bottom:25px}
.ct-city-page .ct-list ul.ct-list-content > li > a{display:block;padding:4px 0;color:#111;font-size:15px}
.ct-city-page .ct-list ul.ct-list-content > li > a:hover{color:#F468A9}

@media only screen and (min-width:768px){
	ul.list-cities > li{float:left;}
	ul.list-cities > li > a{padding:15px 5px;}
	.ct-city-page .banner h1{font-size:35px;}
	.ct-city-page .ct-list h3{cursor:default}
	.ct-city-page .ct-list h3 i.fa{display:none}
	.ct-city-page .ct-list .ct-list-toggle{display:inline-block}
	.ct-city-page .ct-list h3:hover{color:#989EA3}
	.ct-city-page i.fa-chevron-right{display:none;}
 
	
	.ct-city-page{border:none;padding:10px 0;}
}

@media only screen and (min-width:1024px){
	.ct-city-page{border-left:1px solid #BDC3C7;padding:10px 25px;}
	
	
}

.ct-advt-posted .advt-posted-wrapper{margin:0;background:#F9FAFB;padding:10px;border:1px solid #D3D6D6;border-radius:6px;}
.ct-advt-posted .advt-posted{background:#F5F5F5;border:1px solid #D3D6D6;padding:15px;margin:10px 0}
.ct-advt-posted .advt-posted h3{color: #00529C; font-weight: bold; font-size: 15px; display:block;word-break:break-all}
.ct-advt-posted .advt-posted h3 a{color: #00529C;}
.ct-advt-posted .advt-posted button{padding:3px 15px;margin: 0 5px}
.ct-advt-posted button.btn-primary{background:#00529C}
.ct-advt-posted button.btn-primary:hover, .ct-advt-posted button:hover{background:#ECF0F1;color:#000}
.ct-advt-posted .advt-posted button:first-child{margin-left:0}
.ct-advt-posted .advt-posted .status span{margin:0 15px;display:inline-block;font-weight:bold;color:#000000;font-size:12px}
.ct-advt-posted .advt-posted .status span.active{color:#2980B9}
.ct-advt-posted .advt-posted .status span.expired{color:#ff0000}
.ct-advt-posted .advt-posted span:first-child{margin-left:0;}
.ct-advt-posted .advt-posted .status{margin:10px 0;margin-left:0}
.ct-advt-posted .advt-posted .action{margin:10px 0;margin-left:0}
.ct-advt-posted .advt-posted .check{padding:0 10px}
.ct-advt-posted .expired h3 a{color:#595959;font-style:italic}
.ct-advt-posted .action-row{margin-left:0;margin-top:20px}
.ct-advt-posted .action-row button{margin: 0 10px}
.ct-advt-posted .action-row button:hover{background:#7F8C8D;color:#fff}
.ct-advt-posted .action-row button.btn-primary:hover{background:#5DADE2;color:#fff}
.ct-advt-posted .action-row button:first-child{margin-left:0}

.breadcumb-wrapper{}
ul.breadcumb{display:inline-block;margin-left:10px;}
.ct-advt-posted ul.breadcumb{}
ul.breadcumb li{float:left}
ul.breadcumb > li > a{display:block;padding:0 4px 0 9px;font-size:20px;color:#bdc3c7;font-weight:bold}
ul.breadcumb > li:first-child > a{color:#000}
ul.breadcumb > li:last-child > a{color:#2f4b93}
ul.breadcumb > li:first-child > a:hover{color:#2f4b93}


@media only screen and (min-width:768px){
	.ct-advt-posted .advt-posted .check{padding:0 10px}
.ct-advt-posted .advt-posted-wrapper {
    margin: 15px;
    padding: 25px 35px 52px;
}
	.ct-advt-posted .action-row{margin-left:65px}
	ul.breadcumb{margin-left:25px;}
	.ct-advt-posted .advt-posted .status{margin-left:50px}
	.ct-advt-posted .advt-posted .action{margin-left:50px}
}

.notification{padding-left:15px 25px}
.notification .notification-list{padding:10px 15px}
.notification .notification-list .pull-left{min-height:44px;margin-right:15px;}
.notification .notification-list .pull-left img{border-radius:50%}
.notification .notification-list p{font-size:14px;margin:0;color:#34495e;}
.notification .notification-list .wrap{width:95%;position:relative}
@media only screen and (min-width:768px){
	.notification .notification-list .wrap{width:85%;position:relative}
}

.notification .notification-list i.fa-times{position:absolute;right:0;top:0;bottom:0;color:#ff0000;cursor:pointer}


.notification .notification-list span{color:#34495e;font-size:12px;}
.notification .notification-list a{font-weight:normal;color:#00529c}
.notification .notification-list .profile-link{font-weight:bold}

article.ct-photo-main{padding-bottom:0}
.ct-photo-main .photo-main{padding:15px;}
.ct-photo-main .photo-main .item{border:1px solid #e5e5e5;position:relative;margin-bottom:10px;margin-top:5px}
.ct-photo-main .photo-main p{font-size:11px;color:#024883;font-weight:bold;padding:10px;margin:0}
.ct-photo-main .photo-main a{position:absolute;top:5px;right:5px;}
.ct-photo-main .photo-main i.fui-cross{color:#fff}
.ct-photo-main .photo-main i.fui-cross:hover{color:#c31d0f}
.ct-photo-main .photo-main .photo-control{text-align:center;border:1px solid transparent;padding:65px 0;min-height:0}
.ct-photo-main .photo-main .photo-control button.upload{color:#fff;font-weight:bold;font-size:15px;background:#95a5a6;width:90%}
.ct-photo-main .photo-main .photo-control .upload-info{border:1px solid #e7e7e7;background:#eeeeee;color:#7f8c8d;margin-top:20px;padding:10px 0}
.ct-photo-main .photo-main .photo-control .upload-info h3{font-size:16px;font-weight:bold;margin:0}
.ct-photo-main .photo-main .photo-control .upload-info span{font-size:14px;font-weight:normal;margin:0}

.ct-photo-main .individual-photo .photo-control{padding:25px 0;}
.ct-photo-main .individual-photo{background:#ECF0F1;padding-top:25px;margin-top:20px}
.ct-photo-main .individual-photo .col-sm-7{padding:0}

.ct-photo-main .individual-photo .photo-about a{position:static}

.ls-responsive .liquid-slider .panel .panel-wrapper{padding:0}
.ls-responsive .ls-nav-right-arrow{top:5%;right:0}
.ls-responsive .ls-nav-left-arrow{top:5%;left:0}
.ls-responsive
.liquid-slider .photo-about{border:1px solid #D7D9DE;background:#fff}
.liquid-slider .photo-about p{color:#2c3e50;font-size:14px;margin:0;padding:20px 0;text-align:center;font-weight:normal}
.liquid-slider .photo-about-panel{background:#F6F7F8;border-bottom:1px solid #D7D9DE;padding-top:10px}
.liquid-slider .photo-about-panel ul{display:inline-block;margin-left:10px;margin-right:10px;}
.liquid-slider .photo-about-panel ul > li {float:left}
.liquid-slider .photo-about-panel ul > li > a{display:block;padding:5px;color:#00529C}
.liquid-slider .photo-about-panel .col-sm-6{padding:0}
.liquid-slider .panel{background:none;border:none}

.modal .modal-header{background:#f5f5f5;-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;border-bottom:1px solid #e4e4e4}
.modal h4.modal-title{color:#111111;font-size:24px;font-weight:bold;text-align:center;}
.modal .modal-body{padding-left:20px;padding-right:20px}
.modal .modal-body label.checkbox{float:left}

.modal .modal-body p{margin:0;padding:20px 0;font-size:14px;color:#2c3e50;text-align:center}
.modal .modal-footer{text-align:center}
.modal .modal-footer button.btn-delete{background:#c31d0f}


/* comments box style */
.comments-wrapper{margin:15px 0}
.comments-reply-input{background:#fff;border:1px solid #D3D6DB}
.comments-reply-input .title{background:#F6F7F8;border-bottom:1px solid #D3D6DB}
.comments-reply-input .title h6{font-size:14px;margin:0;padding:10px;}
.comments-reply-input textarea{border:none;width:100%}
.comments-reply-input .buttons{background:#F6F7F8;border-top:1px solid #D3D6DB}
.comments-reply-input .buttons button{padding:4px 25px 4px;margin:8px;border-radius:4px;}

.comments-timeline{margin:15px 0}
.comments-timeline .profpic{margin-right:15px;min-height:0;padding:10px 0}
.comments-timeline .comment-item{padding:10px 0}
.comments-timeline .comment-item .col-sm-2{padding:0}
.comments-timeline .comment-item .col-sm-3{padding:0}

.comments-timeline .comment-item .col-sm-1{padding:0}
.comments-timeline .comment-item .action{margin-left:0}

.comments-timeline .comment-item a{position:static;display:block;padding:5px;color:#00529C}
.comments-timeline .comment-item p{font-size:14px;color:#111;font-weight:normal;line-height:1.72217;padding:10px 0}
.comments-timeline .comment-item ul.action {display:block;margin:10px 0}
.comments-timeline .comment-item ul.action > li{float:none}
.comments-timeline .comment-item ul.show-reply{float:none;display:inline-block}
.comments-timeline .comment-item ul.show-reply > li{float:none}



.comments-timeline h3{color:#024883;font-size:16px;font-weight:bold}
.comments-timeline h3 span{color:#c5c5c5;font-size:12px;margin-left:10px;}


@media only screen and (min-width:768px){
	.comments-timeline .comment-item ul.action{margin-left:0;}
	.comments-timeline .comment-item ul.action > li{float:left;}
	.comments-timeline .profpic{min-height:120px}
	.comments-timeline .replied{min-height:320px}
	
	.comments-timeline .comment-item p{padding:0 10px;}
	.comments-timeline .comment-item ul.action{display:inline-block}
	.comments-timeline .comment-item ul.show-reply{float:right;display:block}
	.comments-timeline .comment-item ul.show-reply > li{float:left}
	.ls-responsive .ls-nav-right-arrow{right:0;top:20%}
	.ls-responsive .ls-nav-left-arrow{left:0;top:20%}
	.ct-photo-main .individual-photo .col-sm-7{padding-left:15px;padding-right:15px;}
}

.ct-profile-wrapper{border-right:1px solid #BDC3C7}
.tab-content{border:none}
.profile ul.profile-tabs{border-top:1px solid #ECF0F1;border-bottom:1px solid #ECF0F1}
.profile ul.profile-tabs li{margin:0}
.profile ul.profile-tabs li a:hover, .profile ul.profile-tabs li.active a{background:#ECF0F1;border-top:2px solid #90C0D8;border-radius:0;border-left-color:#ECF0F1;border-right-color:#ECF0F1;color:#37404E}
.profile ul.profile-tabs li.active a{border-bottom:2px solid #ECF0F1}
.profile ul.profile-tabs li a{padding:7px 21px 8px;margin:0;font-size:14px;display:block;color:#90C0D8;font-weight:normal}
.profile .resp-tab-content{padding:0}
.profile .tab-pane-heading{background:#F6F7F8;padding:10px 0;padding-left:20px;padding-right:20px;}
.profile .tab-pane-heading h3{color:#6A7481;font-size:18px;}
.profile .setting-list{}
.profile .setting-list li > a{display:block;padding:10px 40px;color:#252525}
.profile .setting-list li > a:hover{color:#90C0D8}
.profile .photo-wrapper .img-circle{border:1px solid #D6DBDE}


.profile .share-wrapper{text-align:center}
.profile .briefcase{padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px}
.profile .briefcase h4{margin-top:30px;color:#6a7480;font-size:14px;font-weight:600;line-height:25px}
.profile .briefcase h4:first-child{margin-top:15px;}
.profile .briefcase h5{padding-left:0px;margin:0;padding-top:5px;color:#95a5a6;font-size:12px;}

.profile .briefcase i.fa{color:#BDBDBD;min-width:0}
.profile .briefcase strong{color:#00529C}


.profile .tab-pane{display:block}
.profile .tab-pane p{font-weight:normal;font-size:14px;color:#252525;padding:10px 0;}
.profile .tab-pane p i.fa-edit{color:#BDBDBD}
.profile .tab-pane .edit{background:#fff;border-top:1px solid #ECF0F1;border-bottom:1px solid #ECF0F1}
.profile .heading{margin:15px 0}
.profile .photo-wrapper{margin-right:15px;float:none;text-align:center}
.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: all 0.5s;
	top:0;
	left:0;
	right:0;
	border-radius:50%;
	height:110px;
	width:110px;
}

.overlay i.fa{position:absolute;top:25%;bottom:0;left:3%;right:0}
.profile .info-wrapper{padding:15px;}
.profile .info-wrapper h3{margin:0;font-size:24px;font-weight:regular;color:#000;}
.profile .info-wrapper h5{font-size:14px;color:#9ea7b3;margin:0;text-align:center}

.profile .info-wrapper span{color:#9EA7B3;font-size:14px;margin-left:15px;}
.profile .info-wrapper span i.fa{color:#90C0D8;}
.profile ul.share-btn{display:inline-block;margin-top:40px}
.profile ul.share-btn > li {float:left;}
.profile ul.share-btn > li > a{text-align:center;padding:2px;display:block;color:#fff}
.profile ul.share-btn > li > a > i{text-align:center;margin:0}
.profile ul.share-btn > li.facebook > a{background:#3B5998;}
.profile ul.share-btn > li.twitter > a{background:#56A3D9;}
.profile ul.share-btn > li.linkedin > a{background:#007BB6;}
.profile ul.share-btn > li.googleplus > a{background:#DD4B39;}
.profile ul.share-btn > li.pinterest > a{background:#CB211D;}
.profile ul.share-btn > li.tumblr > a{background:#37465D;}
.profile ul.share-btn > li.youtube > a{background:#BF221F;}
.profile .btn-action{margin:10px 0;text-align:center}
.profile .btn-action button.btn-primary{background:#90C0D8;color:#fff;font-size:12px;padding:3px 10px;margin-left:3px;margin-right:3px;border-radius:4px}
.profile .btn-action button.btn-primary:first-child{margin-left:0}

.resp-accordion a{color:#90C0D8}
.profile .comments-wrapper{padding-left:15px;padding-right:15px;width:100%}
.comments-timeline .comment-item p{border:none}
.profile .leave-comment{margin:10px 0}
.profile .leave-comment-profpic{margin-right:10px;min-height:32px;min-width:28px}
.profile .leave-comment-ct{}
.profile .input{display:inline;position:relative}
.profile .leave-comment input{width:85%;font-size:11px;color:#111;padding:4px;border-radius:0;border:1px solid #D3D6DB;height:30px;margin:2px 0}
.profile .leave-comment i.fa{position:absolute;right:5px;top:3px}
.profile .wall p{padding-top:0;padding-bottom:0;padding-left:0;padding-right:0}
.profile .tab-pane .edit{border-top:none}
.profile .comments-timeline .comment-item ul.action{margin:0}
.profile .leave-comment-profpic{float:left}
.profile .comments-wrapper .show-more-comments{margin:10px 0}
.profile .comments-wrapper .show-more-comments button.btn-primary{background:#2980B9;color:#fff;font-size:14px;border-radius:0;width:100%}
.profile .comments-wrapper .show-more-comments button.btn-primary:hover{background:#126091;}
.profile .wall ul.post-action{float:left;padding:10px 15px;margin:0}
.profile .wall ul.post-action li{float:left}
.profile .wall ul.post-action li > a{display:block;padding:3px 10px;color:#B3B7BD}
.profile .wall ul.post-action li > a:hover{color:#126192}
.profile .wall ul.post-action li > a > span{display:none}

.profile .wall ul.post-action li > a:first-child{padding-left:0}

.profile .wall .comments-reply-input .buttons button{background:#2980B9}
.profile .tab-advt-post{margin:15px;}
.profile .tab-advt-post .advt-item{padding:15px 20px;background:#F5F5F5;border:1px solid #D7DCDE;margin:5px 0}
.profile .tab-advt-post .advt-item h4{font-size:14px;color:#2980B9;font-weight:bold;margin-bottom:15px;}
.profile .tab-advt-post .advt-item button.btn-primary{color:#fff;font-weight:bold;font-size:12px;border-radius:4px;padding:3px 15px}
.profile .tab-advt-post .advt-item button.btn-edit{background:#34495E;}
.profile .tab-advt-post .advt-item button.btn-edit:hover{background:#315272;}
.profile .tab-advt-post .advt-item button.btn-delete{background:#2D5CA9;}
.profile .tab-advt-post .advt-item button.btn-delete:hover{background:#205CBC;}
.profile .tab-advt-post .advt-item button.btn-report{background:#90C0D8;}
.profile .tab-advt-post .advt-item button.btn-report:hover{background:#76B4D3;}

.profile .tab-advt-post .advt-item h5{font-size:12px;color:#111;margin-top:5px}
.profile .tab-advt-post .advt-item h5 a{color:#024883}
.profile .tab-advt-post .advt-item .inf{text-align:left}
.profile .tab-advt-post .advt-item .inf span{color:#024883;margin:0 20px;font-size:12px;}
.profile .tab-advt-post .advt-item .inf span:first-child{margin-left:0}

.profile .tab-advt-post .advt-item .inf span.inactive{color:#ff0000}
.profile .video-pane-wrapper{margin:15px 0;}
.profile .video-pane-wrapper h3{font-size:14px;font-weight:bold;padding:8px 30px}
.profile .video-pane-wrapper h3.clock{color:#BDC3C7}
.profile .video-pane-wrapper i.fa-user{color:#F381B5}
.profile .video-pane-wrapper i.fa-clock-o{color:#777}
.profile .video-ct-wrapper{margin:0 15px;background:url(../img/video-bg.jpg) no-repeat right bottom;min-height:985px;padding-top:30px;border:5px solid #ecf0f1;position:relative}
.profile .video-ct-wrapper .vid-player{position:absolute;bottom:0;display:inline-block;width:100%}
.profile .video-ct-wrapper .video-play-ctrl{margin-bottom:0}
.profile .video-ct-wrapper .video-play-ctrl div{cursor:pointer}
.profile .video-ct-wrapper .video-play-ctrl .blue{background:#024C8E;min-height:40px;}
.profile .video-ct-wrapper .video-play-ctrl i{color:#fff;padding:10px}
.profile .video-ct-wrapper .video-play-ctrl div{border-right:1px solid #fff;text-align:center}
.profile .video-ct-wrapper .video-play-ctrl h4{color:#fff;font-size:16px;font-weight:bold;padding:14.5px 0;margin:0}

.profile .video-ct-wrapper .video-play-ctrl div:last-child{border-right:1px solid transparent}

.profile .video-ct-wrapper .video-play-ctrl .black{background:#111111;min-height:41px;}
.profile .video-ct-wrapper .video-play-desc{background:rgba(2, 76, 142, 0.8);padding:15px 0}
.profile .video-ct-wrapper .video-play-desc h3{color:#fff;font-size:28px;font-weight:bold;}
.profile .video-ct-wrapper .video-play-desc p{color:#fff;font-size:18px;margin-left:30px;opacity:0.9}
.profile .video-ct-wrapper .video-play-desc p:last-child{font-size:20px;font-weight:bold}
.profile .video-ct-wrapper .video-play-desc .share{text-align:center}
.profile .video-ct-wrapper .video-play-desc .share a{font-size:14px;color:#fff;margin-right:10px;}

.profile .video-ct-wrapper .video-play-desc .share button{margin:0 5px;padding:7px 25px;font-size:14px;border:1px solid #fff}
.profile .video-ct-wrapper .video-play-desc .share button.btn-fb{background:#3B5A9B}
.profile .video-ct-wrapper .video-play-desc .share button.btn-tw{background:#00AAE4}

.profile .video-ct-wrapper .video-play-desc .input{height:40px;}
.profile ul.user-settings{display:none}

.profile .popover-content{display:block}







@media only screen and (min-width:768px){
	.profile .briefcase{padding-left:40px;padding-right:40px;}
	.profile .briefcase h4{line-height:20px;}
	.profile .briefcase i.fa{min-width:40px}
	.profile .briefcase h5{padding-left:45px;}
	.profile .tab-pane p{paddig:10px 0}
	
	.profile .tab-pane-heading{padding-left:40px;padding-right:40px}
	.profile .share-wrapper{text-align:center}
	.profile .photo-wrapper{margin-right:15px;float:left}
	.overlay {
		display: block;
		position: absolute;
		z-index: 20;
		background: rgba(0, 0, 0, 0.8);
		overflow: hidden;
		transition: all 0.5s;
		top:0;
		border-radius:50%;
		height:110px;
		width:110px;
	}

	.overlay i.fa{position:absolute;top:25%;bottom:0;left:3%;right:0}
	.profile .btn-action{text-align:left}
	.profile .info-wrapper h5{text-align:left}
	.profile .comments-wrapper{padding-left:40px;padding-right:40px;width:75%}
	.profile .wall ul.post-action li > a > span{display:inline}
	.profile .leave-comment input{width:75%}
	.profile .wall p{padding-left:20px;padding-right:20px}
	.profile .leave-comment input{margin:9px 0}
	.profile .tab-advt-post .advt-item .inf{text-align:right}
	.profile .tab-advt-post .advt-item .inf span:first-child{margin-left:20px}
	.profile .video-ct-wrapper{min-height:800px}
	.profile .video-pane-wrapper{margin:15px;}
	.profile .video-ct-wrapper .video-play-ctrl{margin-bottom:25px}
	.profile ul.user-settings{display:block}
	.profile .popover-content{display:none}
}


.ct-adpost-listing{padding-top:7px !important;min-height:800px}
.ct-adpost-listing .breadcumb-wrapper ul li a{font-size:23.996px}
.ct-adpost-listing .breadcumb-wrapper ul li a{font-size:23.996px}
.ct-adpost-listing ul.list-cities{margin-left:15px;border-bottom:none;margin-bottom:0;}
.ct-adpost-listing ul.breadcumb{margin-bottom:0}


.ct-adpost-listing fieldset{margin:0 15px;border-bottom:2px solid #BDC3C7;padding-bottom:0;}
.ct-adpost-listing fieldset .caret{top:16px;color:#BDC3C7;backgound:#BDC3C7;border-bottom-color:#BDC3C7 !important;border-top-color:#BDC3C7 !important}
.ct-adpost-listing fieldset .dropdown-toggle{background:#fff;border:2px solid #BDC3C7;color:#BDC3C7;padding:7px 12px}
.ct-adpost-listing fieldset .select .btn .filter-option{top:7px}
.ct-adpost-listing fieldset .btn{padding:7px 10px 6px 4px}


.ct-adpost-listing .select-block{width:99%}
.ct-adpost-listing .form-list{float:none;margin-right:15px;margin:5px 0}

.ct-adpost-listing .tab-wrapper{padding:10px 10px;text-align:center}
.ct-adpost-listing ul.adpostlist-tabs{display:inline-block;border-bottom:none}
.ct-adpost-listing ul.adpostlist-tabs li a{border:none;border-radius:5px;display:block;padding:4px 25px;font-weight:bold;font-size:14px;background:#00529C;color:#fff;margin:0 3px;transition: all 0.25s ease 0s;}
@media only screen and(min-width:768px){
	.ct-adpost-listing ul.adpostlist-tabs li a{min-width:85px}
}
.ct-adpost-listing ul.adpostlist-tabs li.active a{background:#ECF0F1;color:#111;border:none}
.ct-adpost-listing ul.adpostlist-tabs li a:hover{border:none;background:#ECF0F1;color:#111;transition: all 0.25s ease 0s;}
.ct-adpost-listing ul.list-cities li a{font-size:12px;text-transform:uppercase;padding-top:8px;padding-bottom:8px}
.ct-adpost-listing .tab-content h3{background:#E6E6E6;color:#000000;font-size:15px;font-weight:bold;padding-top:5px;padding-bottom:5px;}
.ct-adpost-listing .tab-content .list ul li{text-align:left}
.ct-adpost-listing .tab-content .list ul li a{font-size:15px;color:#00529C;font-weight:bold;padding:5px 0;display:block;}
.ct-adpost-listing ul.breadcumb li a{font-size:12px;}
.ct-adpost-listing .tab-content .maps,.pic{margin:0 3px;}
.ct-adpost-listing .tab-content .maps{color:#187818}
.ct-adpost-listing .tab-content .location{color:#1F3038}
.ct-adpost-listing .tab-content .pic{color:#99B9D6}

.ct-adpost-listing .tab-content .picture .item{margin:8px 0;text-align:left;padding-right:0px;padding-left:0px;width:100%;}

.ct-adpost-listing .tab-content .picture .item a{color:#00529C;display:block;font-size:15px;font-weight:bold;padding-top:5px;}
.ct-adpost-listing .tab-content .picture .item h6{margin:0;font-size:15px;font-weight:bold;}
.ct-adpost-listing .tab-content .square .item a{font-size:14px;padding-top:0}
.ct-adpost-listing .tab-content .square .item h6{font-size:14px;}
.ct-adpost-listing .tab-content .square .btn-ctrl{padding:15px 0;padding-bottom:10px;}

.ct-adpost-listing .tab-content .square button{padding:1px 6px;font-size:10px;font-weight:bold;color:#fff;border-radius:4px;}

.ct-adpost-listing .tab-content .square button.btn-open{background:#2ECC71;}
.ct-adpost-listing .tab-content .square button.btn-open-tab{background:#80A8CC;}
.ct-adpost-listing .tab-content .square button.btn-view-pic{background:#3473DB;}
.ct-adpost-listing .tab-content .square button.btn-view-map{background:#00529C;}

.ct-adpost-listing .tab-content .map-frame{position:relative}
.ct-adpost-listing .tab-content .map-frame .map-zoom-control{position:absolute;left:10px;top:25px}
.ct-adpost-listing .tab-content .map-frame .map-zoom-control div{background:#00529C;height:41px;width:41px;margin-bottom:5px;cursor:pointer;position:relative}
.ct-adpost-listing .tab-content .map-frame .map-zoom-control div img{vertical-align:middle;position:absolute; top:15px;left:15px;}







.ct-adpost-listing .tab-content .picture .pull-left{margin-right:15px;position:relative}
.ct-adpost-listing .tab-content .picture .pull-left .big-img{
	width: 280px; 
	height: 280px; 
	border: 2px solid #CCCCCC; 
	position: absolute; display: none; 
	z-index: 10; 
	background-repeat: no-repeat; 
	top: 40px; 
	left: 40px;
}

.ct-adpost-listing .tab-content .picture .list-picture{text-align:left}


.ct-adpost-listing .pagination-wrapper{padding:10px 10px}
.pagination-wrapper{text-align:center}
.pagination{display:inline-block}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{background:#2980B9;border:none}
.pagination > li > a, .pagination > li > span{background:#E4E7EA;border:none;color:#fff;margin:0 1px;}
.pagination > li > a:hover{background:#2980B9;border:none;color:#fff}
.ct-adpost-listing .map-frame .map-poi-plus-sample{ position:absolute;left:100px;top:200px; cursor:pointer; }
.ct-adpost-listing .map-frame .map-poi-min-sample{ position:absolute;left:100px;top:200px; cursor:pointer; }

.ct-adpost-listing .mask{ float:left; width:300px; height:260px; overflow:hidden;}
.ct-adpost-listing	ul.images { position:relative; top:0px;left:0px; height:2660px; list-style:none;padding-left:0;margin:0}
.ct-adpost-listing	ul.images li { float:left; position:relative; top:0px;left:0px; }
.ct-adpost-listing	ul.images li > img{ width:300px;height:260px }

	
.ct-adpost-listing .navbutton{position: static; bottom: 60px; left: 41.999%;padding-top:10px;}
.ct-adpost-listing	span.picture-date{color:#7f8c8d;font-weight:bold;font-size:12px;position:absolute;margin:0;bottom:97px;left:15px;}

.ct-adpost-listing	ul.nav-slider{list-style:none;padding:0;position:absolute;margin:0;bottom:100px;right:15px;}
.ct-adpost-listing	ul.nav-slider li{width:10px;height:10px;border-radius:50%;float:left;margin:0 2px;cursor:pointer;background:#7f8c8d}
.ct-adpost-listing	ul.nav-slider li.selected{background:#ffffff}

.ct-adpost-listing .popover{background:rgba(252, 252, 251, 0.8);border-radius:0;border:1px solid #7eb7db;max-width:320px;text-align:center}
.ct-adpost-listing .popover span.close{position:absolute;right:3px;top:3px;color:#C8CDD0;font-size:14px}
.ct-adpost-listing .popover span.close i{color:#111111;size:12px}


#popover_plus_content{ /*width: 412px;*/ padding:5px 10px 0;/*Commented by muzaffar to handle the popup height*/}

#popover_plus_content h5{color:#00529c;font-weight:bold;font-size:22px;margin-bottom:7px;}
#popover_plus_content h5 span{color:#1f3038;}

#popover_plus_content .footer-carousel {padding:5px 0}
#popover_plus_content .footer-carousel .foot-menu{border-radius:4px;margin:5px 0}

.ct-adpost-listing .footer-carousel .foot-menu a{font-size:10px;font-weight:bold;color:#ffffff;vertical-align:middle;display:block;padding:3px 5px;}
.ct-adpost-listing .footer-carousel .view-pic{background:#3473db;}
.ct-adpost-listing .footer-carousel .posting-info{background:#2c3e50}
.ct-adpost-listing .footer-carousel .new-tab{background:#1abc9c}
.ct-adpost-listing .footer-carousel .contact-info{background:#00529c;}
.ct-adpost-listing .footer-carousel .send-email{background:#2ecc71}
.ct-adpost-listing .footer-carousel .inbox-msg-user{background:#255559}

.ct-adpost-listing .form-list button.btn-search{background:#fff;color:#BDC3C7;border:2px solid #BDC3C7;border-left:none;border-radius:0 6px 6px 0;padding:8px 10px 7px 4px;margin-top:9px}
.ct-adpost-listing .form-list input:focus{border-color:#00529c}
.ct-adpost-listing .form-list input.search{min-height:40px;width:85%;border-radius:6px 0 0 6px;border-right:none;float:left}
.ct-adpost-listing .form-list input.search:focus{border-color:#BDC3C7}
.ct-adpost-listing .form-list input.max{width:100%;min-height:40px;margin:0}
.ct-adpost-listing .form-list input.min{width:100%;min-height:40px;margin:0}
.ct-adpost-listing .form-list input.numeric{min-height:40px;width:100%}
.ct-adpost-listing .form-list .checkbox span{margin:0;font-size:17px;font-weight:bold;padding:0}
.ct-adpost-listing .form-list h5{margin:0;padding:9px 12px 10px;font-size:17px;font-weight:bold;}
.ct-adpost-listing #numeric{display:none}
/*.ct-adpost-listing ul.nav-tabs{display:none}*/
.nav.nav-tabs.resp-tabs-list.adpostlist-tabs > li {margin-top: 5px;}
.ct-adpost-listing h2.resp-accordion{background:#00529C;border-radius:6px;border:none;color:#fff;margin-bottom:15px;}
.ct-adpost-listing h2.resp-tab-active{background:#00529C !important;border-radius:6px;border:none !important;color:#fff;margin-bottom:15px;}



@media only screen and (min-width:768px){
	.ct-adpost-listing .pagination-wrapper{padding:10px 45px}
	.ct-adpost-listing .tab-wrapper{padding:10px 45px;}
	.ct-adpost-listing .map-frame .map-poi-plus-sample{ position:absolute;left:512px;top:493px; cursor:pointer; }
	.ct-adpost-listing .map-frame .map-poi-min-sample{ position:absolute;left:390px;top:582px; cursor:pointer; }
	.ct-adpost-listing .form-list{float:left;margin-right:15px;}
	
	.ct-adpost-listing .form-list button.btn-search{margin-top:0px;padding:7px 10px 7px 4px;}
	.ct-adpost-listing .form-list .checkbox span{padding:0;}
	.ct-adpost-listing ul.list-cities li a{font-size:10px;text-transform:uppercase;padding-top:0;padding-bottom:0}
	
	.ct-adpost-listing ul.breadcumb li a{font-size:23.996px;}
	
	.ct-adpost-listing .select-block{width:220px}
	.ct-adpost-listing .form-list input.search{width:150px}
	.ct-adpost-listing .form-list input.min{width:60px;}
	.ct-adpost-listing .form-list input.max{width:60px;}
	.ct-adpost-listing .form-list input.numeric{min-height:40px;width:60px}
	
}

@media only screen and (min-width:1024px){
	.ct-adpost-listing ul.nav-tabs{display:inline-block}
	
}
@media only screen and (min-width:1200px){
	.pagination-wrapper{text-align:left}
	.pagination{display:inline-block}
}

.ct-inbox .ct-inbox-wrapper{padding:15px 0;}
.ct-inbox .ct-inbox-wrapper .inbox-header{background:#7F8C8D}
.ct-inbox .ct-inbox-wrapper .inbox-header .btn{color:#616161}
.ct-inbox .ct-inbox-wrapper .inbox-header .btn i{margin: 0 3px}
.ct-inbox .ct-inbox-wrapper .inbox-header .btn .text{display:none}
.ct-inbox .ct-inbox-wrapper .inbox-header .btn-back{margin-right:0}
.ct-inbox .ct-inbox-wrapper .inbox-header .col-sm-6{padding-bottom:10px}
.ct-inbox .ct-inbox-wrapper .inbox-header h3{color:#fff;font-size:18px;padding:15px 15px;margin:0}
.ct-inbox .ct-inbox-wrapper .sent-date a{color:#285E90;font-size:12px}
.ct-inbox .ct-inbox-wrapper .inbox-header h3 i{margin-right:10px;cursor:pointer}
.ct-inbox-new-message .ct-inbox-wrapper .inbox-new-wrap{border-left:1px solid #E4E4E4;border-right:1px solid #E4E4E4}
.ct-inbox-new-message .ct-inbox-wrapper .inbox-header{position:relative}
.ct-inbox-new-message .ct-inbox-wrapper .inbox-header h3{text-align:center}
.ct-inbox-new-message .ct-inbox-wrapper .inbox-header h3 i{position:absolute;left:15px;top:15px;}
.ct-inbox .ct-inbox-wrapper .inbox-header .col-sm-5{padding:0}
.ct-inbox .ct-inbox-wrapper .inbox-header .col-sm-6{padding-top:10px;text-align:center}
.ct-inbox .ct-inbox-wrapper .inbox-header .col-sm-6 button{padding:5px 10px;background:#fff;border-radius:2px;}
.ct-inbox .ct-inbox-wrapper .inbox-header .col-sm-6 button i{color:#616161}
.ct-inbox-new-message .ct-inbox-wrapper .inbox-header .col-sm-6 .btn-inbox .text{display:none}
.ct-inbox-new-message .ct-inbox-wrapper .inbox-header .col-sm-6 .btn-back{margin-right:0;}
.ct-inbox .ct-inbox-wrapper .inbox-header .col-sm-1{padding:0;text-align:center;}
.ct-inbox .ct-inbox-wrapper .inbox-header .col-sm-1 i{font-size:18px;padding:15px;color:#fff}
.ct-inbox-new-message .ct-inbox-wrapper .inbox-header .col-sm-6{padding-bottom:15px;}
.ct-inbox-new-message .ct-inbox-wrapper .inbox-header .col-sm-1{position:absolute;right:0;top:0;}
.ct-inbox .ct-inbox-wrapper .inbox-header{position:relative;right:0;top:0;}
.ct-inbox .ct-inbox-wrapper .inbox-header .col-sm-1{position:absolute;right:0;top:0;}
.ct-inbox .ct-inbox-wrapper .row{margin:0;padding:0 15px;position:relative}
.ct-inbox .ct-inbox-wrapper .row:nth-of-type(odd){background:#ECF0F1}
.ct-inbox .ct-inbox-wrapper .row:nth-of-type(even){background:#fff}
.ct-inbox-new-message .ct-inbox-wrapper .row:nth-of-type(odd){background:#fff}
.ct-inbox .ct-inbox-wrapper .row:last-child{padding-left:15px;padding-right:15px;padding-top:15px;}
.ct-inbox .ct-inbox-wrapper .reply{background:#fff;border:1px solid #BDC3C7}
.ct-inbox .ct-inbox-wrapper .reply label{width:100%;border-bottom:1px solid #BDC3C7;margin:0}
.ct-inbox .ct-inbox-wrapper .reply label:last-child{border-bottom:none;padding:15px}
.ct-inbox .ct-inbox-wrapper .reply textarea{width:100%;border:none;height:190px}
.ct-inbox-new-message .ct-inbox-wrapper .row{padding:0}
.ct-inbox-new-message .ct-inbox-wrapper .row label{width:100%;padding:0 10px;margin:0;border-bottom:1px solid #E4E4E4}
.ct-inbox-new-message .ct-inbox-wrapper .row label input{display:inline-block;width:80%;border:none;font-size:14px}
.ct-inbox-new-message .ct-inbox-wrapper .row label input.autocomplete{height:30px;}
.ct-inbox-new-message .ct-inbox-wrapper .row label textarea{display:inline-block;width:100%;border:none;font-size:14px;min-height:180px}
.ct-inbox-new-message .ct-inbox-wrapper label.send{padding:15px}
.ct-inbox-new-message .ct-inbox-wrapper label.send a{font-size:13px;color:#a6a6a6;margin:0 5px;}
.ct-inbox-new-message .ct-inbox-wrapper label button.btn-send{background:#F2F2F2;border:1px solid #DCDCDC;color:#6E6E6E;font-size:12px;padding:6px 20px}
.ct-inbox .ct-inbox-wrapper label.send{padding:15px}
.ct-inbox .ct-inbox-wrapper label.send a{font-size:13px;color:#a6a6a6;margin:0 5px;}
.ct-inbox .ct-inbox-wrapper label button.btn-send{background:#F2F2F2;border:1px solid #DCDCDC;color:#6E6E6E;font-size:12px;padding:6px 20px}
.ct-inbox .ct-inbox-wrapper .col-1{margin:0;margin-top:15px;}
.ct-inbox .ct-inbox-wrapper .col-2{margin-bottom:10px;margin-top:15px;}
.ct-inbox .ct-inbox-wrapper .col-3 a{color:#024883;font-size:16px;font-weight:bold;}
.ct-inbox .ct-inbox-wrapper .col-3 p{color:#111;font-family:Arial;font-size:14px;}
.ct-inbox .ct-inbox-wrapper .col-4 a{position:absolute;top:25px;right:10px}
.ct-inbox .ct-inbox-wrapper .col-4 a i{color:#BDC3C7;font-weight:normal}
.ct-inbox .ct-inbox-wrapper .col-4 a:hover i{color:#2980B9;}
.ct-inbox .inbox-toggle-menu{position:absolute;background:#fff;border:1px solid #dcdcdc;top:83px;z-index:2;display: none;}
.ct-inbox .inbox-toggle-menu ul{margin: 0; list-style: none;padding:0}
.ct-inbox .inbox-toggle-menu ul li a{padding:3px 15px;color:#111111;display:block;}
.ct-inbox .inbox-toggle-menu ul li a:hover{background: #ECEEF0}

@media only screen and (min-width:768px){
	.ct-inbox .ct-inbox-wrapper .col-3{margin:15px 5px}
	.ct-inbox-new-message .ct-inbox-wrapper .row label{padding-top:15px;padding-bottom:15px;}
	.ct-inbox-new-message .ct-inbox-wrapper .row label input{padding:0}
	.ct-inbox-new-message .ct-inbox-wrapper .inbox-header .col-sm-6 .btn-inbox i{margin:0 3px}
	.ct-inbox-new-message .ct-inbox-wrapper .inbox-header .col-sm-6 .btn-inbox .text{display:inline;color:#616161;}
	.ct-inbox-new-message .ct-inbox-wrapper .inbox-header .col-sm-6{padding-bottom:10px}	
	.ct-inbox-new-message .ct-inbox-wrapper .inbox-header .col-sm-1{position:static;text-align:center;padding-top:5px;}
	.ct-inbox-new-message .ct-inbox-wrapper .inbox-header .col-sm-6 .btn-back{margin-right:15px;}
	.ct-inbox .ct-inbox-wrapper .inbox-header .btn .text{display:inline;color:#616161;}
	.ct-inbox .ct-inbox-wrapper .inbox-header .col-sm-1{position:static;text-align:center;padding-top:5px;}
	.ct-inbox .ct-inbox-wrapper .row:last-child{padding-left:15px;padding-right:15px;padding-top:15px;}
}
@media only screen and (min-width:1024px){
	.ct-inbox .ct-inbox-wrapper .ct-msg{max-width:700px}
}
@media only screen and (min-width:1200px){
	.ct-inbox .ct-inbox-wrapper{padding:15px 25px;}
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; padding:8px 0}

.autocomplete-suggestion h3{font-size:14px;font-weight:bold;color:#000; }
.autocomplete-suggestion { padding: 8px 10px; white-space: nowrap; overflow: hidden; }
.autocomplete-suggestion img{border-radius:50%;float:left;margin-right:5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
#clear{position:absolute;top:18px;left:205px;display:none;font-size:16px;color:#9daccc;font-weight:bold;cursor:pointer}



.ct-post-ad-final .ct-like-page{padding-left:0;padding-right:0;}
.ct-like-page ul.breadcumb{margin:0;display:inline-block;width:100%}
.ct-like-page .col-1, .ct-like-page .col-2{padding-left:0;padding-right:0}
.ct-like-page ul.breadcumb li a{font-size:23.996px;color:#111}
.ct-like-page .panel{background:#ECF0F1;margin:5px;border-radius:0;padding:10px 20px}
.ct-like-page .panel:last-child{margin-left:0}
.ct-like-page .panel:first-child{margin-right:0}
.ct-like-page .panel h3{font-size:15px;}
.ct-like-page .panel span{color:#024883}
.ct-like-page .panel small{font-weight:normal;font-size:15px;color:#111}
.ct-like-page .breadcumb-wrapper{margin-left:10px;margin-bottom:10px;width:100%}

.ct-like-page .panel-wrapper{border-top:1px solid #BDC3C7}
.ct-like-page .panel-wrapper .col-sm-6{padding-left:0;padding-right:0}
.ct-like-page .profiles{border-top:1px solid #BFC5C9}
.ct-like-page .profiles .profiles-col{margin-top:5px;margin-bottom:5px;padding-left:15px;padding-right:15px;}
.ct-like-page .profiles .person-like{padding:5px 0}
.ct-like-page .profiles .person-like .name{padding:5px 0}
.ct-like-page .profiles .person-like img{border-radius:50%}
.ct-like-page .profiles .person-like .pull-left{margin-right:15px;}
.ct-like-page .profiles .person-like h3{color:#024883;font-size:16px;font-weight:bold;margin:0}
.ct-like-page .profiles .person-like h4{font-size:14px;color:#34495e;margin:0}
.ct-like-page .profiles .more{text-align:center;padding:10px 0;border-top:1px solid #BFC5C9}
.ct-like-page .profiles .more a{color:#024883;font-size:14px;font-weight:bold;}

.ct-review-wrapper .breadcumb{padding-bottom:8px;margin:0}
.ct-review-wrapper .review-to-publish{padding:20px 25px;margin:20px 15px;border:2px solid #ecf0f1;background:#f9fafb;border-radius:6px;}
.ct-review-wrapper .review-to-publish h3{margin:0;font-size:16px;font-weight:normal;color:#2c3e50;margin-bottom:20px;}
.ct-review-wrapper .review-to-publish button{padding:5px 45px;border-radius:4px;margin-top:5px;margin-bottom:5px;}
.ct-review-wrapper .review-to-publish label{font-size:14px;font-weight:normal;}
.ct-review-wrapper .review-to-publish a{color:#00529c;font-weight:bold;}
.ct-review-wrapper .review-to-publish button.edit-btn{background:#2980b9;}
.ct-review-wrapper .review-to-publish button.edit-btn:hover{background:#3E6BA4;}
.ct-review-wrapper .review-to-publish button.publish-btn{background:#ed0085;}
.ct-review-wrapper .review-to-publish button.publish-btn:hover{background:#DD117C;}
.ct-review-wrapper .cols-no-padding{padding:0}
.ct-review-wrapper .description{font-size:16px;line-height:24px;color:#111}
.ct-review-wrapper h2{font-size:26px;color:#000;margin-top:0px;margin-bottom:4px;margin-left:12px;margin-right:15px;font-weight:semibold}

.nav-head{display:inline-block;margin-left:15px;margin-right:15px;}
.nav-head li{float:left;margin-top:0px;margin-bottom:5px;}
.nav-head li a{display:block;margin:0 10px;color:#2f4b93;font-size:16px}
.nav-head li a:hover{color:#1a0dab;}
.nav-head li:first-child a{margin-left:0}

.ct-review-wrapper .owl-pagination{position:absolute;top:10px;right:25px}

.ct-review-wrapper .owl-prev{position:absolute;top:40%;left:0;}
.ct-review-wrapper .owl-next{position:absolute;top:40%;right:0}

.ct-review-wrapper .fa-chevron-right{color:#ecf0f1;transition: all 0.75s ease 0s;}
.ct-review-wrapper .fa-chevron-right:hover{color:#95a5a6;transition: all 0.75s ease 0s;}
.ct-review-wrapper .fa-chevron-left{color:#ecf0f1;transition: all 0.75s ease 0s;}
.ct-review-wrapper .fa-chevron-left:hover{color:#95a5a6;transition: all 0.75s ease 0s;}

.ct-review-wrapper address{background:#ECF0F1;color:#000;font-weight:bold;text-align:center;padding:35px 0 34px 0}
.ct-review-wrapper .nav-bottom{margin:0 15px;margin-bottom:15px;display:inline-block}
.ct-review-wrapper .nav-bottom li{float:left;margin-top:5px;margin-bottom:5px;}
.ct-review-wrapper .nav-bottom li a{display:block;color:#cbcbcb;}
.ct-review-wrapper .nav-bottom li a:hover{color:gray;}
.ct-review-wrapper p.description{padding-top:10px;padding-bottom:10px;font-size: 15px; line-height: 2; color: #1F1F1F;padding-left:15px;padding-right:15px;}
.ct-review-wrapper .review-breadcumb{border-bottom:2px solid #ecf0f1;margin-left:20px;margin-right:20px;margin-bottom:15px;}


@media only screen and (max-width:480px){
	.ct-review-wrapper .review-to-publish{margin:0}
	.ct-review-wrapper .nav-head li{float:none}
	.ct-review-wrapper .nav-head li a{margin-left:0}
	.owl-carousel .caption{font-size:10px !important;padding:10px !important}
	.ct-review-wrapper .owl-prev,.ct-review-wrapper .owl-next{top:30%}
	.ct-review-wrapper .review-breadcumb{margin-left:15px;margin-right:15px;}
    
    
    
    .ct-adpost-listing ul.adpostlist-tabs li{float: left !important;}
    .ct-adpost-listing ul.adpostlist-tabs li a{
        padding: 4px 15px;
        
    }
    
   .ct-adpost-listing ul.breadcumb li a {
      font-size: 10px;
      margin: 1px;
      padding: 0;
    }
    
   
    ul.breadcumb{margin-left: 30px;}
    ul.breadcumb li{
    margin-right: -1px !important;
   }  
     
}


@media only screen and (max-width:320px){
     ul.breadcumb li:first-child
      {
          margin-left: -10px !important;
      }
    
}




.owl-theme .owl-controls .owl-page span{margin-left:4px !important;margin-right:4px !important;background: #2C3E50 !important;box-shadow: 0 0 3px 1px white;opacity:1 !important}
.owl-theme .owl-controls .active span{background: #fff !important;box-shadow: 0 0 3px 1px #2C3E50;}
.owl-carousel .item{position:relative;}
.owl-carousel .caption{padding:20px 35px;background:rgba(0,0,0,0.5);color:#fff;position:absolute;left:0;bottom:0;right:0;font-size:16px}

.ct-thank-you{min-height:490px}
.thank-you-box{background:#ecf0f1;padding:25px;border-radius:6px;}
.thank-you-box .payment{margin-top:25px;margin-bottom:20px;}
.thank-you-box .payment .charity{color:#ef6282}
.thank-you-box h2{font-size:24px;color:#34495e;margin:0;margin-bottom:15px;}
.thank-you-box p{font-size:16px;color:#34495e;margin:0;margin-bottom:5px;}
.thank-you-box .payment p{margin-bottom:0;}
.thank-you-box p a{color:#00529c}
.thank-you-box h1{font-size:30px;color:#34495e;margin:0;padding:8px 0;font-weight:normal;margin-bottom:15px;}
.thank-you-box h1 img{margin-right:7px;}
.thank-you-box button.btn-thank-you{background:#00529c;color:#fff;font-weight:bold;font-size:15px;padding:8px 35px;}
.thank-you-box button.btn-thank-you:hover{background:#00427C;}

.ct-payment{min-height:490px}
.ct-payment .payment-block{padding:15px 25px;background:#ecf0f1;margin-bottom:25px;border-radius:6px;}
.ct-payment .payment-block p{font-size:16px;color:#34495e;margin:0;margin-bottom:5px;}
.ct-payment .payment-block p a{color:#00529c}
.ct-payment .payment-block h2{font-size:24px;color:#34495e;margin:0;margin-bottom:15px;}
.ct-payment ul.breadcumb{margin:0}
.ct-payment ul.breadcumb li{margin:0 3px;}
.ct-payment ul.breadcumb li:first-child{margin-left:0;}
.ct-payment ul.breadcumb li a{font-size:16px;font-weight:400}

.ct-payment .payment-block h4{font-size:16px;color:#00529c;margin:0;margin-bottom:25px;font-weight:bold;}
.ct-payment fieldset input{height:40px}
.ct-payment fieldset input:focus{border-color:#00529c}

.ct-payment button.btn-continue{background:#00529c;color:#fff;font-weight:bold;font-size:15px;padding:8px 35px;}
.ct-payment button.btn-continue:hover{background:#00427C;}
.ct-payment button.btn-back{background:#bdc3c7;color:#fff;font-weight:bold;font-size:15px;padding:8px 35px;}
.ct-payment button.btn-back:hover{background:#bdc3c7;}

.ct-payment .col-sm-1{padding:0;width:5.333%}
.ct-payment .button-group{margin:15px 0}
.ct-payment .button-group .col-sm-2{padding:0;margin:10px 0}

@media only screen and (max-width:480px){
	.ct-payment .col-sm-1{width:100%;text-align:center}
	.ct-payment button.btn-continue{width:100%}
	.ct-payment button.btn-back{width:100%}
	
}
.hidden{display:none;}
.progress .percent{color:#fff;font-size:12px;font-weight:bold}
span.text{position:relative}
.notif-circle{width:6px;height:6px;background:#f90000;display:block;border-radius:50%;position: absolute; top: 0px; right: -10px;}
.for-login a.sign-up{background:#F468A9;width:100%}

.ct-signup .signup{width:100%;margin:40px auto}
@media only screen and (min-width:1280px){
	.ct-signup .signup{width:40%;}
}
.ct-signup{position:relative;min-height:700px}
.ct-signup .amy-bg{display:none}
@media only screen and (min-width:1280px){
.ct-signup .amy-bg{display:block;position:absolute;left:120px;top:65px;z-index:9}
}

.ct-signup .signup .inputgroup{position:relative;padding:0;margin:5px 0;text-align:center}
.ct-signup .signup .inputgroup span.fui{position:absolute;left:15px;top:8px;border-right:2px solid #f3f5f6;padding-right:10px;padding-top:3px;padding-bottom:3px}
.ct-signup .signup input{height:40px;border-width:1px;padding-left:45px;border-radius:6px;padding-top:0;padding-bottom:0;font-size:16px;}
.ct-signup .signup input:focus{border:1px solid #2d5ca9}
.ct-signup .signup h2{color:#111;font-size:34px;font-weight:bold;margin:0;text-align:right;margin-right:50px}
.ct-signup .signup h3{color:#707070;font-size:20px;font-weight:bold;margin:0;text-align:right;margin-right:50px}
.ct-signup .signup .social-signup{border:1px solid #bdc3c7;border-radius:6px;padding-right:15px;padding-left:15px;padding-top:10px;padding-bottom:10px;}
.ct-signup .signup-form{padding:30px 0;}
.ct-signup .signup-form p{color:#566473;font-size:14px;font-weight:normal;text-align:center}
.ct-signup .signup-form p a{color:#f381b5}
.ct-signup .signup-form p a:hover{color:#d94488}
.ct-signup .signup-form input[type="submit"]{background:#f381b5;color:#fff;font-size:22.28px;font-weight:bold;padding:20px 130px;height:auto;width:auto !important}
.ct-signup .signup-form input[type="submit"]:hover{background:#d94488;}
.ct-signup .signup-form .social-signup .col-sm-6{padding:0;text-align:left}
.ct-signup .signup-form .social-signup label{text-align:left}
.ct-signup .signup-form .social-signup .banner{text-align:left;display:inline-block;padding:5px 10px;color:#fff;min-width:80px}
.ct-signup .signup-form .social-signup .fb-banner{background:#2F4B93;}
.ct-signup .signup-form .social-signup .tw-banner{background:#00AAE4;}
.ct-signup .signup-form .social-signup .profpic{font-size:16px}
.ct-signup .signup-form .social-signup .profpic span{margin-right:5px;color:#2F4B93;}

.ct-signup .signup-form .social-signup .profpic a{display:inline-block;color:#2F4B93;padding:8px 0}

.ct-signup .signup-form .social-signup .facebook-sign-in a{background:#2F4B93;display:inline-block;padding:10px 15px;color:#fff}
.ct-signup .signup-form .signup-progress{border-radius:6px;width:0%;background:#f381b5;height:2px;padding:0}
.ct-signup .notifier, .alert-message{border:none;background:#fff;font-size:13px;color:#ff0000;padding-left:0;padding-right:0;}
.alert-message{background:transparent;}
.modal-signup .fileinput-preview{border-radius:50%;background:#eeeeee;margin-bottom:0}

.modal-signup .btn-file-wrapper{background:#566473}
.modal-signup .btn-file-wrapper:hover{background:#647281}

.modal-signup .modal-header{background:#fff;border-bottom:none}
.modal-signup input{border:2px solid #edeff2;border-radius:6px}
.modal-signup .fui-check-inverted{top:6px;color:#00A523}
.modal-signup .notifier{padding:0;background:#fff;border:none;text-align:center;margin:0}
.modal-signup .notifier.alert{font-size:14px;color:#ff0000}
.modal-signup .notifier.success{font-size:14px;color:#00A523}
.modal-signup .fileinput-preview{border-radius:50%;background:#eeeeee;margin-bottom:0}

.modal-signup .btn-file-wrapper{background:#566473}
.modal-signup .btn-file-wrapper:hover{background:#647281}


.modal-signup .col-social-1{padding-left:30px;padding-right:30px;}
.modal-signup .col-social{padding:0}
.modal-signup .checkbox, .modal-signup .radio{padding-left:25px}

.modal-signup .thumbnail > img, .thumbnail a > img{height:100%;max-height:100%}
.modal-signup .row-footer p{font-size:14px;color:#546474;padding-top:0;padding-bottom:0;margin-bottom:10px;}
.modal-signup .row-footer p a{color:#ff6eb1}
.modal-signup .social-media-footer i.fa{color:#fff}
.modal-signup .social-media-footer a{color:#fff;font-size:16px;font-weight:bold;display:block;padding:4px 14px;min-height:20px;}
.modal-signup .tw-checkbox a{background:#00a9e8}
.modal-signup .fb-checkbox a{background:#324395}

.modal-signup .fb-checkbox .checkbox.checked .second-icon, .modal-signup .fb-checkbox .radio.checked .second-icon{color:#324395}
.modal-signup .tw-checkbox .checkbox.checked .second-icon, .modal-signup .tw-checkbox .radio.checked .second-icon{color:#00a9e8}
@media only screen and (max-width:320px){
	.modal-signup .fileinput .col-sm-6{text-align:center}
	.modal-signup .thumbnail{margin:15px auto;}
    
	
}
.xeditable{border-bottom:1px dashed #BDBDBD;color:#333;font-weight:bold}
.xeditable:hover{color:#90C0D8;}
.xeditable-done{border-bottom:0px solid #fff !important;color:#333;font-weight:normal}
.xeditable-done:hover{color:#555;}



.account-setting{padding:0 10px;}
.account-setting h2{font-weight:bold;color:#34495e;font-size:24px;margin-top:15px;margin-bottom:15px;}
.account-setting h4{font-weight:bold;color:#34495e;font-size:20px;margin-top:20px;margin-bottom:15px;}
.account-setting .fileinput-preview{border-radius:50%;background:#ECEEF0}
.account-setting .btn-file-wrapper{background:#586472}
.account-setting .btn-file-wrapper:hover{background:#586472}
.account-setting textarea{border:2px solid #dee1e3;width: 272px; height: 110px;}
.account-setting input{height:40px;}

.account-setting ul.social-info li{float:left;margin:3px;}
.account-setting ul.social-info li a{display:block;position:relative;outline:none}
.account-setting ul.social-info li a:focus{outline:none}

.account-setting ul.social-info li a i.checked{position:absolute;bottom:1px;right:3px;color:#fff;top:auto;margin:0}

.account-setting ul.social-info li a img{border-radius:6px;width:48px;height:48px;}
.sign-up-bar{border-radius:6px;height:3px;margin:6px 0;display:block;background:#EE98C0;width:0%}
.account-setting .control-group{margin:10px 0}
.account-setting .btn-setting{background:#2D5CA9;border-bottom:4px solid #264E90;padding:6px 20px;font-size:15px;padding-bottom:5px}
.account-setting .btn-setting:hover{background:#264E90;}
.account-setting .btn-setting:active{background:#264E90 !important;}
.account-setting .btn-setting:focus{background:#264E90 !important;}


.account-setting .social-input{display:none}



.video-yt-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px; height: 0; overflow: hidden;
		margin-right:25px;margin-left:25px;
		margin-top:25px;margin-bottom:25px;
}
 
.video-yt-wrapper iframe,
.video-yt-wrapper object,
.video-yt-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.btn-edit-video{float:none;margin-top:0px;padding:3px 15px;background:#36495C !important;font-size:14px;}
@media only screen and (min-width:600px){
	.btn-edit-video{float:right;margin-top:0;}
}

#video-in-modal .video-yt-wrapper{margin:0;margin-bottom:20px;}
#video-in-modal .modal-dialog{width:300px}
@media only screen and (min-width:600px){
	#video-in-modal .modal-dialog{width:600px}
}
.dd-container{margin:0 auto;margin-bottom:20px;margin-top:0;}
a.dd-selected{color:#111}
@media only screen and (min-width:600px){
	.dd-container{margin:15px;margin-bottom:20px;margin-top:10px;}
}

.account-notifications span{padding:0 15px;font-size:15px;font-weight:bold}
.bootstrap-swtich-focused{border:none !important}
.account-setting h3{color:#BDC3C7;font-size:20px;}
.account-setting h3 span{color:#7EA4F5;}
.account-setting .delete-account{background:#F9FAFB;border:2px solid #ECF0F1;border-radius:4px;padding:20px 25px;margin:15px 0;position:relative}
.account-setting .delete-account i.fa{position:absolute;top:10px;right:10px;color:#BEC5CC;cursor:pointer}
.account-setting .notifier i.fa-check{color:#1abc9c}
.account-setting .delete-account h2{font-size:24px;margin-top:0}
.account-setting .delete-account p{font-size:16px;margin-bottom:10px;}
.account-setting .delete-account p span{color:#ff0000}
.account-setting .delete-account .btn-danger{background:#E30E1F;padding:8px 20px;margin-top:5px;margin-bottom:5px;}
.account-setting .delete-account .btn-primary{background:#2D5CA9;padding:8px 20px;margin-top:5px;margin-bottom:5px;}

@media only screen and(min-width:600px){
	.account-setting .delete-account .btn-primary{margin-right:5px;}
	.account-setting .delete-account .btn-danger{margin-left:5px;}
}
.account-setting .btn-all-save{background:#2D5CA9;margin-left:5px;padding-left:20px;padding-right:20px;}
.account-setting .btn-all-save:hover{background:#264E90}

.ct-profile-wrapper .btn-chat{padding:2px 12px;background:#fff;border:1px solid #636C77;color:#636C77;font-size:13px;font-weight:bold}
.ct-profile-wrapper .btn-chat:hover{color:#111 !important;background:#ddd !important}
.ct-profile-wrapper .btn-chat:focus{color:#111 !important;background:#ddd !important}

.ct-profile-wrapper .chat-wrapper{margin:5px 0;text-align:left;}

@media only screen and(min-width:600px){
	.ct-profile-wrapper .chat-wrapper{text-align:center;}
}

#map-canvas-poi{max-width:100%;width:100%;min-height:500px;height:600px;}
@media only screen and(min-width:600px){
	#map-canvas-poi{min-height:300px;height:300px;}
}

.email-forgot-password{padding-left:0}


#owl-demo .img-responsive
{
    max-height:400px !important;
    max-width:100% !important;
}



.ct-adpost-listing .mask {height: 260px;margin: 0 auto;overflow: hidden;}
#popover_plus_content .footer-carousel {margin: 0 0 0 12px;width: 96%;}
.ct-adpost-listing .navbutton { bottom: 5px;left: 41.999%;position: static;padding-top:10px;}


#popover_plus_content .footer-carousel .foot-menu {
padding: 3px 12px 3px 12px !important;
}


.gm-style-iw {left:21px;}/*  commebted */

.unpublish-btn,.unpublish-btn:hover{background-color: #c7392b !important; color: #fff !important;}

#myModal{display:none}
.fa-chevron-left:before,
.fa-chevron-right:before {
    color: #c9ced2;
    content: "";
    font-size: 39px;
}
.owl-controls .owl-pagination{
display:none !important;
}
#top-detail a {
    color: #2a4d8e;
    font-size: 12px !important;
    font-weight: normal !important;
    margin-right: 5px;
    padding: 2px;
}
#owl-demo{
width:600px;
display:block
}

.ct-adpost-listing .tab-content .square button {
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin-right: 5px;
    margin-top: 5px;
}

#top-detail ul{
margin-left:0 !important;
}
.a2a_kit.a2a_kit_size_30.a2a_default_style {
    float: left;
}
.a2a_svg.a2a_s__default.a2a_s_twitter,
.a2a_svg.a2a_s__default.a2a_s_a2a,
.a2a_svg.a2a_s__default.a2a_s_facebook {
    background-size: 100% auto !important;
    height: 30px !important;
    margin-top: 0px;
    width: 30px !important;
}
@media only screen and (max-width:500px){
#owl-demo {
    margin: 0 auto;
    width: 400px;
}
}

@media only screen and (max-width:500px){
#owl-demo {
    margin: 0 auto;
    width: 300px;
		margin-bottom:15px;
}
.square_image .owl-buttons{
top:75px !important;
}
}



 .advt-posted-wrapper .action-row {
    display: inline-block;
    float: left;
    margin-left: 0;
    margin-top: 0;
}

.advt-posted-wrapper #selecctall {
    display: inline-block;
    float: left;
}

.fb-comment span{height:400px !important;}

.resp-tabs-container .square .owl-prev{
	position:absolute;
	left:0;
	top:40%
}

.resp-tabs-container .square .owl-next{
	position:absolute;
	right:0;
	top:40%
}

/** google custom search */

.gsc-result-info {}
.gsc-input-box{height:30px;}
.gsc-input{margin:4px !important}
.gsst_a{padding-top:5px !important;}
.gs-snippet{padding-left:8px;padding-right:8px}
.gs-result .gs-title, .gs-result .gs-title *{}
.gs-result a.gs-visibleUrl, .gs-result .gs-visibleUrl {}
.gs-result .gs-snippet {}
.gsc-results .gsc-cursor-box .gsc-cursor-page {}
.gsib_a{padding:0 !important}
.gsc-input-box-hover, .gsc-input-box-focus{border:1px solid #d9d9d9;}
.gsc-search-box .gsc-input > input:hover, .gsc-input-box-hover{box-shadow:none !important}
.gsc-search-box .gsc-input > input:focus, .gsc-input-box-focus{border:1px solid #4d90fe !important;box-shadow:none !important}
.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2,
.cse .gsc-search-button input.gsc-search-button-v2:hover, input.gsc-search-button-v2:hover{
	height:29px !important;
	background-image:url(http://www.google.com/uds/css/v2/search_box_icon.png);
	background-position:center;
	background-repeat:no-repeat;
}
.gs-image-box.gs-web-image-box.gs-web-image-box-portrait{padding-left:8px;padding-right:8px;}

.froala-wrapper.f-basic{
	border-top:1px solid transparent !important
}
.navbar-brand {
    padding: 13px 15px 8px ;
}
.navbar .nav > li > a {
    padding: 16px 25px 8px;
}
.navbar-right .contact {
    padding-top: 7px;
}
.navbar .nav > li > a > [class*="fui-"] {
    top: 3px;
}
.ct-adpost-listing .tab-wrapper {
    padding: 10px 0;
}
.tab-content {
	padding: 20px 15px 10px;
}
.dd-selected {
    padding: 6px 6px 3px 7px !important;
}
.ct-adpost-listing .tab-content .list ul li a{
	padding: 5px 0 0 10px;
}
#square{
	margin:0px 15px;
}
.ct-signup .signup {
    margin: 148px auto;
}
.ct-signup .amy-bg {
    left: 137px;
}
.m_top_10{
	margin-top:10px;
}
.froala-editor.f-basic {
  border-top: 1px solid !important;
}
.hid_it{
	display:none;
}
.dl-menuwrapper .dl-submenu {
    height: 160px;
    overflow-y: auto;
}
.dl-menuwrapper .dl-menu.dl-menuopen {
    height: 160px;
    overflow-y: auto;
}
.modal-login input {
	border: 2px solid #bdc3c7;
}

/*.ct-adpost-listing .form-list button.btn-search {
    padding: 2px 5px 2px 1px;
}
.ct-adpost-listing .form-list input.search {
    min-height: 30px;
}*/