
body, h1,h2,h3,h4,h5,h6,p{font-family:"Lato",sans-serif;margin:0}

header{background:#ECEEF0}
header ul.navbar-nav{margin-top:15px;margin-left:0;}
header ul.navbar-nav > li > a{color:#b0b0b0;font-size:17px;font-weight:bold;
	-webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
header ul.navbar-nav > li > a:hover{
	color:#F468A9;
	-webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus{color:#F468A9}
@media only screen and (min-width:768px){
	header ul.navbar-nav{margin-left:25px;}
}

section.ct-head .about-pic{margin-right:50px;}
section.ct-head h2{font-size:40px;font-weight:bold;letter-spacing:-3px;margin-bottom:15px;}
section.ct-head p{font-size:18px;}

section.ct-block {margin:30px 0}
.head-block{padding:15px 30px;min-height:70px;}
.head-block img{margin-right:30px;vertical-align:center;}
.head-block h5{color:#fff;font-size:17px;font-weight:bold;margin:0}

.navbar-toggle{position:absolute;top:10px;right:0}
.navbar-toggle .icon-bar{background:#333}


.founder{background:#f468a9;padding-top:25px;
	-webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
	cursor:pointer;
}
.founder:hover{
	background:#F780B6;
	-webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

.features{background:#00529c;padding-top:25px;cursor:pointer;
	-webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.post-an-ad{background:#ffcf27;padding-top:25px;cursor:pointer;
	-webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.city-page-ad{background:#34495e;padding:0 30px;cursor:pointer;
	-webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.features:hover{background:#1860A0;padding-top:25px;cursor:pointer;
	-webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.post-an-ad:hover{background:#FFD756;padding-top:25px;cursor:pointer;
	-webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.city-page-ad:hover{background:#3E5770;padding:0 30px;cursor:pointer;
	-webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

.city-page-ad img{padding:25px 0;margin:0;margin-right:20px;}
.city-page-ad h5{padding:15px 0;text-align:center}

section.ct-block p{color:#232323;font-size:17px;font-weight:600;margin:0;margin-top:20px;min-height:100px}
section.ct-block a{color:#00529c;font-size:16px;margin:20px 0;font-weight:600;text-decoration:underline;display:block;}

section.ct-city-page{margin-bottom:25px;}
section.ct-city-page p{margin-top:15px;font-weight:600;margin-bottom:20px;}
section.ct-city-page .content p{margin-top:15px;font-weight:600;margin-bottom:20px;font-size:17px;}
section.ct-city-page .content p.rules{color:#566473}

section.ct-city-page .city-page-ad-left img{margin:0 25px 0 0}
section.ct-city-page .city-page-ad-left h5{text-align:left}


section.ct-city-page h3{margin:35px 0 40px 0;font-size:24px;color:#566473;font-weight:700}
@media only screen and(min-width:768px){
	section.ct-city-page h3{font-size:36px}
}


section.ct-city-page .head-block{min-height:60px;margin-bottom:10px;}
section.ct-city-page .founder, section.ct-city-page .features, section.ct-city-page .post-an-ad{padding-top:20px;}

section.ct-city-page .info-contact{min-height:500px;padding-left:20px;}
section.ct-city-page .info-contact h2{margin-top: 25px; margin-right: 20px;}
section.ct-city-page .info-contact h3{margin-top: 20px; font-size:24px;color:#5e5e5e;font-weight:600;margin-bottom:0}
section.ct-city-page .info-contact p.info{margin:0;font-weight:600;color:#3498db}


section.ct-city-page .amys-feature h2{margin-bottom:60px;}
section.ct-city-page .amys-feature .profile-content p{margin:10px 0;font-size:16px;margin-bottom:15px;}
section.ct-city-page .amys-feature .profile-content p a{color:#3498db;font-size:16px;}


section.ct-city-page .amys-feature .profile-content h2, section.ct-city-page .amys-feature .header h2{margin-bottom:0;margin-right:20px;color:#566473;margin-top:15px;}
@media only screen and (max-width:640px){
	section.ct-city-page .amys-feature .profile-content h2, section.ct-city-page .amys-feature .header h2{font-size:28px}
}
section.ct-city-page .amys-feature .profile-content h2{margin-top:25px;}
section.ct-city-page .amys-feature .profile-content h2 img{margin-right:15px;}
section.ct-city-page .amys-feature .profile-content h2 img.texting{margin-right:0;margin-left:15px;}
section.ct-city-page .amys-founder p{font-size:16px;}
section.ct-city-page .amys-founder .position{font-size:16px;color:#566473}

section.ct-city-page .post-an-ad-final{position:relative;min-height:800px}
section.ct-city-page .post-an-ad-final h2{margin-bottom:15px;}
section.ct-city-page .post-an-ad-final img.amy-full{position:absolute;right:60px;top:15px;z-index:-1;opacity:0.5}
@media only screen and (min-width:1024px){
	section.ct-city-page .post-an-ad-final img.amy-full{position:absolute;right:60px;top:15px;z-index:0;opacity:1}
}
section.ct-city-page .post-an-ad-final .post-an-ad-final-content h2{color:#566473;margin:25px 0}
section.ct-city-page .post-an-ad-final .post-an-ad-final-content p{margin:15px 0;max-width:580px;font-size:16px;}

section.ct-city-page .privacy p{margin:15px 0;color:#585858;font-size:16px;margin-bottom:25px;}
@media only screen and (min-width:768px){
	section.ct-city-page .privacy p{font-size:24px;}
}

section.ct-city-page .privacy h3{color:#5e5e5e;font-size:24px;margin:0;margin-bottom:15px;}
section.ct-city-page .privacy h3.title{color:#6eafe2;}
section.ct-city-page .privacy h3.title span{color:#5e5e5e;}

section.ct-city-page .amy-tos img{border:5px solid #ecf0f1}




section.ct-founders{margin-top:50px;}
section.ct-founders .col-lg-3{text-align:center}

section.ct-founders img{border-radius:50%;border:5px solid #bdc3c7}
section.ct-founders h2{color:#566473;margin-top:15px;font-size:40px;color:#111111;font-weight:bold;letter-spacing:-3px;margin:0;margin-top:20px;}
section.ct-founders h2.position{color:#566473;font-size:36px;letter-spacing:-1px;margin-bottom:30px;margin-top:0}
section.ct-founders p{color:#666666;font-size:16px;margin-bottom:15px;font-weight:600}








footer{ background: #ECF0F1; padding:40px 0 }
footer .footer{  }
footer .footer .bottom-menu{  }
footer .footer .bottom-menu .bottom-links{  }
footer .footer .bottom-menu .bottom-links li{  }
footer .footer .bottom-menu .bottom-links li a{ color: #000000; font-weight: bold; }
footer .footer .bottom-menu .bottom-links li.active a,
footer .footer .bottom-menu .bottom-links li a:hover{ color: #F468A9; }

footer .footer .bottom-menu .bottom-links li a.fb{ color: #405D9B; }
footer .footer .bottom-menu .bottom-links li a.tw{ color: #00ACEE; }
footer .footer .bottom-menu .bottom-links li a.yt{ color: #000000; }
footer .footer .bottom-menu .bottom-links li a.yt span{ color: #FF3333; }
footer .footer .bottom-menu .bottom-links li a{color: #BDC3C7;
    font-weight: bold;}
footer ul.bottom-links{list-style:none;padding:0}
footer ul.bottom-links li{float:none;display:block}
footer ul.bottom-links li a{color:#b8bfc7;padding-top:2px;padding-bottom:2px;display:block}
footer ul.bottom-links li a:hover{color:#00529c}

footer i.fa{margin-right:5px;}

footer .footer-brand{display:none}

@media only screen and (min-width:768px){
	footer ul.bottom-links li{float:left;margin:0 18px 0 0;}
	footer ul.bottom-links li a{color:#b8bfc7;padding-top:0;padding-bottom:0;display:inline}
}

@media only screen and (min-width:1024px){
	
	footer .footer-brand{display:inline-block}
	
	}