.pink{ color: #F468A9; }
.pink-bg{ background: #F468A9; }

#logo{ display: block; margin: 15px 20px 0; }

span.u-icon{margin-right:10px;}
i.fa{margin-right:10px;}
span.caret{border-bottom-color: #333333 !important;border-top: 8px solid #333333 !important;}
.right-caret {
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-left: 6px solid #fff;
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
		float:right;
}

.left-caret {
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #fff;
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
		float:left;
		position: absolute; left: 15px; top: 13px;
}

.open > .dropdown-menu{margin-top:10px}
.navbar .navbar-search.form-search .input-append .btn:hover, .navbar .navbar-search.form-search .input-append .btn:focus{color:#555555}

header{  }
header.navbar{ margin: 0; border-radius: 0; background: #ECEEF0; }
header.navbar .navbar-search{ padding: 10px 20px 10px; }
header .header{ width: 1200px; margin: 0 auto; }
header .nav-collapse{ width: 1014px; }
header .nav-collapse { background: #ECEEF0; }
header .nav-collapse .nav{ margin: 0 0 0 0; }
header .nav-collapse .nav li {  }
header .nav-collapse .nav li a{ color: #A4B1B2; padding: 15px; }
header .nav-collapse .nav li.active a,
header .nav-collapse .nav li a:hover{ transition:none; }
header .nav-collapse .nav li a span.pull-left{ margin: 4px 0 0 10px; 
	-moz-transition: all 0.3s ease 0s;
     -webkit-transition: all 0.3s ease 0s;
         -ms-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
             transition: all 0.3s ease 0s;
}
header .nav-collapse .nav li a span.pull-left:hover{
	color: #F468A9;
	-moz-transition: all 0.3s ease 0s;
     -webkit-transition: all 0.3s ease 0s;
         -ms-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
             transition: all 0.3s ease 0s;
}

header .main-menu-top{
	margin-right:178px;
}
@media only screen and (max-width: 640px) {
	header .main-menu-top{
		margin-right:225px;
	}
}



header .nav-collapse .nav li a span.header-icon{ display: inline-block; height: 25px; background: url(../img/icons/header-icons.png) no-repeat; float: left; }
header .nav-collapse .nav li a span.header-icon.logo{ background-position: 0 0; width: 24px; }
header .nav-collapse .nav li a span.header-icon.post-advt{ background-position: -24px 0; width: 13px; }
header .nav-collapse .nav li a span.header-icon.notifications{ background-position: -37px 0; width: 16px; }
header .nav-collapse .nav li a span.header-icon.sign-up{ background-position: -53px 0; width: 16px; }
header input.search-query {width:150px;
	color:#000000 !important;
	border-top:2px solid #BDC3C7 !important;
	border-left:2px solid #BDC3C7 !important;
	border-bottom:2px solid #BDC3C7 !important;
}
header .form-search button{
	border-top:2px solid #BDC3C7 !important;
	border-right:2px solid #BDC3C7 !important;
	border-bottom:2px solid #BDC3C7 !important;
}
header button.dropdown-toggle{
	padding:5px 12px;
	background:#fff;
	color:#333333;
	border:2px solid #BDC3C7;
}
.navbar .nav > li > a > [class*="fui-"]{margin:0;float:left}
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus{color:#F468A9 !important;
-moz-transition: all 0.3s ease 0s;
     -webkit-transition: all 0.3s ease 0s;
         -ms-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
             transition: all 0.3s ease 0s;
}
.select .btn .filter-option{color:#757575}
header button.dropdown-toggle span.caret{
	color:#757575;
	border-bottom-color: #757575 !important;
    border-left-width: 6px;
    border-right-width: 6px;
    border-style: solid solid none;
    border-top: 8px solid #757575 !important;
    transition: all 0.25s ease 0s;
}
header button.dropdown-toggle span.filter-option{
	top:5px !important;
}
header .select-block{margin-top:10px !important}
header .r-menu-wrapper{float:right}
header .r-menu-wrapper > div{float:left}
header .fui-user{margin-right:10px !important;font-size:18px !important;}
header .fui-user-sign-in{font-size:14.994px !important;margin:0 !important}

header ul.r-nav > li > a > span{color:#34495E}

header .dropdown-inverse{background:#ECEEF0}
header .dropdown-arrow-inverse{border-bottom-color:#ECEEF0 !important;border-top-color:#ECEEF0 !important}
header .dropdown-inverse li > a:hover, .dropdown-inverse li > a:active, .dropdown-inverse li > a{color:#A1A6A9}
header .dropdown-inverse li > a:hover, .dropdown-inverse li > a:active, .dropdown-inverse li > a:hover{background:#A1A6A9;color:#fff}

header .form-login{position:relative;padding:15px 20px !important}
header .form-login a.forgot-password{left:35px;bottom:3px;padding-bottom:3px;position:absolute;font-size:11px;color:#80a8cc}
header .form-login a.forgot-password:hover{color:#00529c}

header .form-login .keep-checkbxs{position:absolute;right:-34px;bottom:0;font-size:11px !important;color:#80a8cc;padding-bottom:5px}
header .form-login .keep-checkbxs label{margin-bottom:0}


header .form-login input{border-radius:6px !important;border:2px solid #BDC3C7 !important;width:175px;margin:0 5px;}
header .form-login input[type=submit].btn-login{border-radius:0px !important;border:2px solid transparent !important;background:#3498db;font-size:14px !important;font-weight:bold;width:80px;margin-left:10px;margin-top:5px;padding:5px 20px;}
header .form-login .checkbox.checked, header .form-login .radio.checked{color:#2D5CA9}
header .form-login .fui-checkbox-checked{color:#80a8cc}

header .form-login input[type=submit].btn-login:hover{background:#0668aa}

header .dropdown-inverse li.active > a, .dropdown-inverse li.selected > a{background:#34495e}
header .dropdown-inverse li.active > a, .dropdown-inverse li.selected > a:hover{background:#385675}
header .dropdown-inverse li.active > a, .dropdown-inverse li.selected > a:selected{background:#385675}



#sign-up-modal{ display: none; top: 10px; width: 790px; margin-left: -390px; height: 640px; }
#sign-up-modal .modal-header{ border: none;  }
#sign-up-modal .modal-header .modal-title{ text-align: center; font-size: 30px; font-weight: bold; color: black; }
#sign-up-modal .modal-body{ overflow: visible; }
#sign-up-modal .modal-body .sign-amy-model{ width: 263px; height: 625px; background: url(../img/sign/amy-model.png) no-repeat; position: absolute; top: -60px; z-index: 100; }
#sign-up-modal .modal-body .sign-up-form{ width: 470px; margin: 34px 0 0 239px; }
#sign-up-modal .modal-body .control-group{ width: 450px; margin-bottom: 15px; }
#sign-up-modal .modal-body .control-group i{ right: 110px; padding: 0; }
#sign-up-modal .modal-body .control-group p{ font-size: 16px; margin: 0; float: right; line-height: 24px; color: black; margin: 0; width: 100px; }
#sign-up-modal .modal-body .control-group span{ background: url(../img/sign/icons.png) no-repeat; width: 19px; display: block; position: absolute; z-index: 10; left: 30px; padding: 0 20px 0 0; border-right: 1px solid #C6C0CA; }
#sign-up-modal .modal-body .control-group span.username{ background-position: 0px 0px; height: 19px; top: 22px; }
#sign-up-modal .modal-body .control-group span.email{ background-position: 0px -19px; height: 19px; top: 22px; }
#sign-up-modal .modal-body .control-group span.password{ background-position: 0px -38px; height: 19px; top: 22px; }
#sign-up-modal .modal-body .control-group span.confpassword{ background-position: 0px -55px; height: 19px; top: 22px; }
#sign-up-modal .modal-body .control-group span.fullname{ background-position: 0px -74px; height: 19px; top: 22px; }
#sign-up-modal .modal-body .control-group span.city{ background-position: 0px -98px; height: 19px; top: 22px; }
#sign-up-modal .modal-body .control-group input{ width: 210px; padding: 13px 5px 13px 80px; border: 2px solid white; border-right: 1px solid #EAE6EE; border-bottom: 2px solid #EAE6EE; font-size: 16px;  color: black; }
#sign-up-modal .modal-body .control-group input:focus{ border: 2px solid #00529C; }
#sign-up-modal .modal-body .control-group.error input{ border: 2px solid #BA0D0D; }
#sign-up-modal .modal-body .btn.btn-pink{ width: 300px; }


#sign-in-modal{ width: 330px; left: 50%; margin-left: -165px; display: none; }
#sign-in-modal .modal-header{ border: none;  }
#sign-in-modal .modal-header .modal-title{ text-align: center; font-size: 22px; font-weight: bold; color: black; margin: 30px 0 0; }
#sign-in-modal .modal-header .amy-face{ position: absolute; top: 20px; left: 30px; }
#sign-in-modal .modal-header .amy-face img{ width: 60px; height: 60px; }
#sign-in-modal .modal-body{ overflow: visible; }
#sign-in-modal .modal-body .sign-in-form{ width: 240px; margin: 0 auto; }
#sign-in-modal .modal-body .control-group{ width: 240px;  }
#sign-in-modal .modal-body .control-group input{ width: 160px; padding: 13px 5px 13px 70px; border: 2px solid white; border-right: 1px solid #EAE6EE; border-bottom: 2px solid #EAE6EE; font-size: 16px;  color: black; }
#sign-in-modal .modal-body .control-group input:focus{ border: 2px solid #00529C; }
#sign-in-modal .modal-body .control-group span{ background: url(../img/sign/icons.png) no-repeat; width: 19px; display: block; position: absolute; z-index: 10; left: 25px; padding: 0 15px 0 0; border-right: 1px solid #C6C0CA; }
#sign-in-modal .modal-body .control-group span.username{ background-position: 0px 0px; height: 19px; top: 16px; }
#sign-in-modal .modal-body .control-group span.password{ background-position: 0px -38px; height: 19px; top: 16px; }
#sign-in-modal .modal-body .btn.btn-pink{ width: 240px; }
#sign-in-modal .modal-body .forgot{ display: block; margin: 10px auto 20px; text-align: center; font-size: 13px; color: blue; }
#sign-in-modal .modal-body .forgot:hover{ text-decoration: underline; }
#sign-in-modal .modal-body .fb-connect{ display: block; width: 300px; height: 50px; background: url(../img/sign/fb-connect.png) no-repeat; margin: 0 auto; }


footer{ background: #ECF0F1; height: 100px; }
footer .footer{ width: 1200px; margin: 0 auto; }
footer .footer .bottom-menu{  }
footer .footer .bottom-menu .bottom-links{ margin: 0 0 0 290px; }
footer .footer .bottom-menu .bottom-links li{  }
footer .footer .bottom-menu .bottom-links li a{ color: #000000; font-weight: bold; }
footer .footer .bottom-menu .bottom-links li.active a,
footer .footer .bottom-menu .bottom-links li a:hover{ color: #F468A9; }

footer .footer .bottom-menu .bottom-links li a.fb{ color: #405D9B; }
footer .footer .bottom-menu .bottom-links li a.tw{ color: #00ACEE; }
footer .footer .bottom-menu .bottom-links li a.yt{ color: #000000; }
footer .footer .bottom-menu .bottom-links li a.yt span{ color: #FF3333; }
footer .footer .bottom-menu .bottom-links li a{color: #BDC3C7;
    font-weight: bold;}

		
		
.home-body { width: 1200px; margin-top: -5px; }
.home-body a.sign-in{ padding-left:0;padding-right:0 }

.home-body .home-body-left{ width: 180px; }
.home-body ul.dropdown-menu{ background:#ECEEF0}
.home-body .admin-logo{text-align:center}

.home-body .home-body-left .logged-out{  }
.home-body .home-body-left .logged-out .user-image{ display: block; margin: 0 5px; height: 190px; width: 190px; }
.home-body .home-body-left .logged-out .for-login{ background: #fff; margin: 0; }
.home-body .home-body-left .logged-out .for-login h6{ text-align: center; color: #000000; font-weight: bold; padding: 15px 0; border-top: 1px solid #BDC3C7; margin:0}
.home-body .home-body-left .logged-out .for-login .welcome{ text-align: center; color: #000000; font-weight: bold; padding: 15px 0; font-size: 14px; }
.home-body .home-body-left .logged-out .for-login .btn{ width: 125px; margin: 0 auto 5px; display: block; }
.home-body .home-body-left .logged-out .for-login .social-connect{ margin: 40px 0 0; }
.home-body .home-body-left .logged-out .for-login .social-connect .soc-log{ margin: 0 0 5px; display: block; }

.home-body .home-body-left .logged-in{ min-height: 700px;}
.home-body .home-body-left .logged-in .user-image-link{ display: block; margin: 0 5px; overflow: hidden; border-radius: 50%; }
.home-body .home-body-left .logged-in .user-image-link img{ width: 190px; height: 190px; }
.home-body .home-body-left .logged-in .btn-group.open { margin-top:0 }
.home-body .home-body-left .logged-in .btn-group.open .user-name{ margin: 0 0 10px; }
.home-body .home-body-left .logged-in .btn-group.open .user-name p{ font-size: 14px; line-height: 16px; width: 100px; margin: 15px 10px 0 15px; }
.home-body .home-body-left .logged-in .btn-group.open .user-name a{ display: block; margin: 10px 0 0; }
.home-body .home-body-left .logged-in .btn-group.open .user-name a img{ border-radius: 50%; overflow: hidden; }
.home-body .home-body-left .logged-in .dropdown-menu{ border-radius:0 }
.home-body .home-body-left .logged-in .dropdown-menu li:last-child{ background: #C9CED2; }
.home-body .home-body-left .logged-in .dropdown-menu li a:hover{ background: #BDC3C7; color: white; }
.home-body .home-body-left .logged-in .dropdown-menu a .u-icon{ background: url(../img/icons/user-icons.png) no-repeat; display: inline-block; width: 16px; height: 20px; float: left; margin: 0 20px 0 0; }
.home-body .home-body-left .logged-in .dropdown-menu a .u-icon.profile{ 			background-position: 0 1px; }
.home-body .home-body-left .logged-in .dropdown-menu a .u-icon.inbox{ 				background-position: -33px 1px; }
.home-body .home-body-left .logged-in .dropdown-menu a .u-icon.text-chat{ 			background-position: -49px 3px; }
.home-body .home-body-left .logged-in .dropdown-menu a .u-icon.notifications{ 		background-position: -65px 3px; }
.home-body .home-body-left .logged-in .dropdown-menu a .u-icon.ads-posted{ 			background-position: -81px 0px; width: 13px; margin-right: 23px; }
.home-body .home-body-left .logged-in .dropdown-menu a .u-icon.video-bio{ 			background-position: -94px 1px; }
.home-body .home-body-left .logged-in .dropdown-menu a .u-icon.video-resume{ 		background-position: -110px 1px; }
.home-body .home-body-left .logged-in .dropdown-menu a .u-icon.wall{ 				background-position: -110px 1px; }
.home-body .home-body-left .logged-in .dropdown-menu a .u-icon.friends{ 			background-position: -17px 1px; }
.home-body .home-body-left .logged-in .dropdown-menu a .u-icon.account-settings{ 	background-position: -126px 2px; }
.home-body .home-body-left .logged-in .dropdown-menu a .u-icon.log-out{ 			background-position: -142px 3px; }
.home-body .home-body-left .logged-in .dropdown-menu a span.pull-right{ color: white; background: #2980B9; font-size: 12px; padding: 2px 8px; font-weight: bold; border-radius: 5px; position:absolute; right:10px}

.home-body .home-body-right{ width: 1019px; padding: 20px 0 0; border-left:1px solid #bdc3c7}
.home-body .home-body-right .countries{ min-width: 180px; margin: 0 0 0 30px; padding: 0 0 35px; position:relative}
.home-body .home-body-right .countries .recommend-country{ position:absolute;bottom:-50px;background:#f9fafb;border:2px solid #ecf0f1;border-radius:4px;padding:5px 15px }
.home-body .home-body-right .countries .recommend-country h5{ color:#606e7c;font-size:15px; }
.home-body .home-body-right .countries .recommend-country h5 span{color:#5996c4}
.home-body .home-body-right .countries .head{ color: #989EA3; font-size: 16px; font-weight: bold; border-bottom: 2px solid #ECF0F1; padding:5px 0; text-transform:uppercase;  }
.home-body .home-body-right .countries .content{ margin: 0 0 0 -5px; padding: 8px 0 20px 5px; }
.home-body .home-body-right .countries .content a{ display: block; color: black;  font-size: 15px; text-decoration: none; padding: 9px; border-radius: 6px; width: 120px; }
.home-body .home-body-right .countries .content a:first-child,
.home-body .home-body-right .countries .content .select:first-child .btn{ border-top-right-radius: 0; border-top-left-radius: 0; }
.home-body .home-body-right .countries .content a:hover,
.home-body .home-body-right .countries .content a.active{ background: #ECF0F1; color: #F468A9; }
.home-body .home-body-right .countries .content.drop{ min-width: 180px; margin: 0; }
.home-body .home-body-right .countries .content.drop .btn{ background: #ECF0F1; color: black; width: 200px; font-weight: bold; }
.home-body .home-body-right .countries .content.drop .open .btn{ background: #3B5897; color:white; }
.home-body .home-body-right .countries .content.drop .open .dropdown-menu{ margin-top: 5px; background: white; }
.home-body .home-body-right .countries .content.drop .open .dropdown-menu a{ border-radius: 6px; }
.home-body .home-body-right .countries .content.drop .btn .fui-arrow-right{ color: white; }
.home-body .home-body-right .countries .content.drop .select{ margin-bottom: 5px; }
.home-body .home-body-right .countries .content.drop .select a{ width: auto; }

/* city-page */
.city-page{padding-top:0 !important}
.home-body .home-body-right .city-page .countries .content{ border: none; }
.home-body .home-body-right .city-head{ line-height: 40px; border-bottom: 2px solid #ECF0F1; width: 810px; margin: 0 30px 11px; padding-top:10px;padding-bottom:10px}
.home-body .home-body-right .city-head .general-city{ color: #2E404D; font-size: 18px; font-weight: bold; margin: 0 15px 0 0; }
.home-body .home-body-right .city-head .other-city{ color: #A4B1B2; margin: 0 5px; }
.home-body .home-body-right .city-head .other-city:hover, 
.home-body .home-body-right .city-head .other-city.active{ color: #F468A9; }
.home-body .home-body-right.city-page .countries .content a{ padding: 2px 0 0 2px; min-width: 80px; width: auto; }
.home-body .home-body-right.city-page .countries .content a:hover{ background: none; }
.home-body .home-body-right .city-page-ad-banner .ad-banner-wrapper{ margin-left:30px;border:2px solid #ecf0f1;background:#fff; padding:10px 10px 15px;margin-right:180px;margin-bottom:5px;cursor:pointer;height:70px;width:708px}
.home-body .home-body-right .city-page-ad-banner .ad-banner-wrapper h1{margin:0;font-size:35px;color:#c9ced2;text-align:center;line-height:28px;margin:0 0 16px}
.home-body .home-body-right .city-page-ad-banner .ad-banner-wrapper h6{margin:0;font-size:12px;color:#2e404d;text-align:right}
.home-body .home-body-right .city-page-ad-banner .ad-banner-wrapper h4{margin:0;font-size:14px;color:#7f8c8d;text-align:center}
.home-body .home-body-right .city-page-ad-banner .ad-banner-wrapper h6 a{color:#2d5ca9}

/* inbox page */
.inbox-page{ padding-top:40px !important }
.inbox-page .inbox-header{ background: #7F8C8D; height: 20px; line-height: 20px; padding: 0 12px; min-height: 50px}
.inbox-page .inbox-header ul.inbox-control{margin:0;list-style:none;display: inline-block;padding-top: 10px}
.inbox-page .inbox-header ul.inbox-control > li{float: left;margin-right: 1px;}
.inbox-page .inbox-header ul.inbox-control > li span.fui-exit{margin-right: 5px}
.inbox-page .inbox-header ul.inbox-control > li i.fa{margin-left: 5px;margin-right: 0}

.inbox-page .inbox-header ul.inbox-control > li > a{display: block;padding: 5px 10px;background: #ffffff;border-radius: 2px;color:#616161; }
.inbox-page .inbox-header ul.inbox-control > li > a:hover{background:#fafafa;}
.inbox-page .inbox-header ul.inbox-control > li.settings > a{background: none;}
.inbox-page .inbox-header ul.inbox-control > li.settings{margin-left: 50px;margin-top: 7px}
.inbox-page .inbox-header ul.inbox-control > li.back .fui-exit{transform:rotate(180deg);
-ms-transform:rotate(180deg); /* IE 9 */
-webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */}

.inbox-page .inbox-header ul.inbox-control > li.back{margin-right: 20px}
.inbox-page .inbox-header .title{ background: url(../img/icons/inbox-icon.png) no-repeat 3px; padding: 0 0 0 40px; font-size: 18px; font-weight: bold; color: white; cursor:pointer;padding-top:15px;padding-bottom: 15px}
.inbox-page .inbox-header .settings{ background: url(../img/icons/inbox-setting-icon.png) no-repeat; width: 16px; height: 16px; margin: 2px; display: block; }
.inbox-page .message{ cursor:pointer }
.inbox-page .message .pull-right{margin-right:20px}
.inbox-header .pull-right{ margin-right:28px }
.inbox-page .message:hover,
.inbox-page .message.active{ background: #ECF0F1; }
.inbox-page .message.no-hover{ background: #FFFFFF; }
.inbox-page .message div{ margin: 0; }
.inbox-page .message div .checkbox{ margin: 15px; }
.inbox-page .message div.content{  }
.inbox-page .message div.content img{ margin: 2px; }
.inbox-page .message div.content .inside{ margin: 8px 0 0 10px; max-width: 560px; }
.inbox-page .message div.content .inside .name{ font-size: 16px; font-weight: bold; color: #024883; }
.inbox-page .message div.content .inside .all{ font-size: 14px; color: #111111; margin: 0 0 5px; line-height: 22px; font-family:arial;}
.inbox-page .message div.content .inside .all textarea{ font-family:arial;font-size: 14px; color: #111111; margin: 0 0 3px 48px; line-height: 20px; width: 535px; max-width: 535px; min-height: 80px; border: 1px solid #BDC3C7; border-radius: 0;border-bottom: none;margin-bottom: 0}
.inbox-page .message div.content .inside .all .option{padding:5px 11px;max-width:535px;width:535px;margin:0 0 3px 48px; border: 1px solid #BDC3C7;}
.inbox-page .message div.content .inside .all .option ul{margin:0;list-style: none;display: inline-block;}
.inbox-page .message div.content .inside .all .option ul > li{float:left;}
.inbox-page .message div.content .inside .all .option ul > li button{color:#7f8c8d;background:#f2f2f2;padding:5px 15px;border:1px solid #BDC3C7;border-radius: 4px}
.inbox-page .message div.content .inside .all .option ul > li > a{display: block;color:#7f8c8d;margin-left: 10px;padding:6px 0;font-size:11px;font-weight: bold;font-family: 'Lato'}

.inbox-page .message .delete-icon{ background: url(../img/icons/delete-icon.png) no-repeat 0 -20px; width: 20px; height: 15px; display: block; margin: 20px 0 0 20px; }
.inbox-page .message .delete-icon:hover{ background-position: 0 0; height: 20px; }
.inbox-page .message .sent-time{ color: #285E90; font-size: 12px; font-weight: bold; margin: 5px 0 0; text-align: center; }
.inbox-page .inbox-toggle-menu{position:absolute;background:#fff;border:1px solid #dcdcdc;top:50px;z-index:99;display: none;}
.inbox-page .inbox-toggle-menu ul{margin: 0; list-style: none;}
.inbox-page .inbox-toggle-menu ul li a{padding:3px 15px;color:#111111;display:block;}

.inbox-new-message .inbox-toggle-menu ul li a{padding:6px 80px 6px 20px;color:#111111;display:block;}

.inbox-page .inbox-toggle-menu ul li a:hover{background: #ECEEF0}


.inbox-new-message .message{border-bottom:1px solid #e4e4e4;border-left:1px solid #e4e4e4;border-right:1px solid #e4e4e4;}
.inbox-new-message .message .to{padding-top:25px}
.inbox-new-message .message label{font-size:14px;font-weight:bold;}
.inbox-new-message .message input{border:0px solid transparent;font-size:13px;padding:6px 0;margin-bottom:3px;margin-left:10px;}
.inbox-new-message ::-webkit-input-placeholder {
   color: #a6a6a6 !important;
	 font-size:13px;
	 opacity:0.8 !important;
	 font-weight:bold;
}
.inbox-new-message :-moz-placeholder{
   color: #a6a6a6 !important;
	 font-size:13px;
	 opacity:0.8 !important;
	 font-weight:bold;
}
.inbox-new-message ::-moz-placeholder{
   color: #a6a6a6 !important;
	 font-size:13px;
	 opacity:0.8 !important;
	 font-weight:bold;
}
.inbox-new-message :-ms-input-placeholder { 
   color: #a6a6a6 !important;
	 font-size:13px;
	 opacity:0.8 !important;
	 font-weight:bold;
}
.inbox-new-message form{margin-bottom:0}
.inbox-new-message .message div{padding:10px 15px;border-bottom:1px solid #e4e4e4;}
.inbox-new-message .message .message-content textarea{border:0px solid transparent;width:100%;padding:0;font-weight:bold;font-size:14px;}
.inbox-new-message .message .control-button{border-bottom:0px solid transparent;padding:0}
.inbox-new-message .message .control-button .pull-left{border-bottom:0px solid transparent;}

.inbox-new-message .message .control-button button{padding:6px 20px;background:#f2f2f2;color:#6e6e6e;font-size:12px;border:1px solid #dcdcdc}
.inbox-new-message .message .control-button ul.more{list-style:none;margin-top:18px;}
.inbox-new-message .message .control-button ul.more li{float:left}
.inbox-new-message .message .control-button ul.more li > a{font-size:13px;color:#a6a6a6;padding:5px 0 5px 15px}
.inbox-new-message .message .control-button ul.more li > a > i{color:#7f8c8d}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; padding:8px 0}
.autocomplete-suggestions h3{font-size:14px;font-weight:bold;color:#000; }

.autocomplete-suggestion { padding: 8px 10px; white-space: nowrap; overflow: hidden; }
.autocomplete-suggestion img{border-radius:50%;float:left;margin-right:15px;}

.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }



/* search res page */
.search-res{ padding-top:10px !important }
.search-res .mask{ float:left; width:300px; height:260px; overflow:hidden;}
.search-res	ul.images { position:relative; top:0px;left:0px; height:2660px; list-style:none;padding-left:0;margin:0}
.search-res	ul.images li { float:left; position:relative; top:0px;left:0px; }
.search-res	ul.images li > img{ width:300px;height:260px }

	
.search-res .navbutton{position: absolute; bottom: 60px; left: 130px;}
.search-res	span.picture-date{color:#7f8c8d;font-weight:bold;font-size:12px;position:absolute;margin:0;bottom:97px;left:15px;}

.search-res	ul.nav-slider{list-style:none;padding:0;position:absolute;margin:0;bottom:100px;right:15px;}
.search-res	ul.nav-slider li{width:10px;height:10px;border-radius:50%;float:left;margin:0 2px;cursor:pointer;background:#7f8c8d}
.search-res	ul.nav-slider li.selected{background:#ffffff}

.search-res .popover{background:rgba(252, 252, 251, 0.8);border-radius:0;border:1px solid #7eb7db;max-width:320px;text-align:center}
.search-res .popover span.close{position:absolute;right:3px;top:3px;color:#C8CDD0;font-size:14px}
.search-res .popover span.close i{color:#111111;size:12px}


.search-res .popover-content{padding:5px 10px 15px;}

.search-res .popover h5{color:#00529c;font-weight:bold;font-size:15px}
.search-res .popover h5 span{color:#1f3038;}

.search-res .footer-carousel {padding:5px 0}
.search-res .footer-carousel .foot-menu{border-radius:4px;margin:5px 0}

.search-res .footer-carousel .foot-menu a{font-size:10px;font-weight:bold;color:#ffffff;vertical-align:middle;display:block;padding:3px 5px;}
.search-res .footer-carousel .view-pic{background:#3473db}
.search-res .footer-carousel .posting-info{background:#2c3e50}
.search-res .footer-carousel .new-tab{background:#1abc9c}
.search-res .footer-carousel .contact-info{background:#00529c}
.search-res .footer-carousel .send-email{background:#2ecc71}
.search-res .footer-carousel .inbox-msg-user{background:#255559}






.search-res .select .btn .filter-option{ top:7px }
.search-res .btn .caret{ margin-top:5px }


.search-res .form-search .btn{padding:7px 10px 6px 4px}
.search-res .search .search-query,.search-res .input-prepend input,.search-res .stepper-wrap input{height:15px}


.search-res .breadcrumb-text p span{color:#111111}
.search-res .cities{ margin: 0 0 0 20px;}
.search-res .cities a{ text-transform:uppercase; color: #C9CED2; font-size: 10px; margin: 0 10px 0 0; }
.search-res .cities a:hover, 
.search-res .cities a.active{ color: #F468A9; }
.search-res .breadcrumb-text{ margin-left: 20px;margin-bottom:10px }
.breadcrumb-text p{margin-bottom:0 !important}
.search-res .breadcrumb-text a{ color: #111111; }
.search-res .breadcrumb-text a:hover{ color: #F468A9; }
.search-res .breadcrumb-text span.active{ color: #F468A9; }
.search-res .form-search{}
.form-search button.dropdown-toggle{width:210px !important}
.search-res .form-search form{ margin: 0 0 0 20px; }
.search-res .form-search form .select{ margin: 0  5px 0 0; }
.search-res .form-search form .select select{ border-radius: 6px; border: 2px solid #BDC3C7; padding: 6px; height: 41px; font-size: 16px; font-weight: bold; outline: none; width: 170px; }
.search-res .form-search form .search{ margin: 0 5px 0 0; }
.search-res .form-search form .search input{ width: 150px; }

@media only screen and (max-width: 640px) {
	.search-res .form-search form .search input{height:35px;}
	.search-res .form-search form .price input.no-border{height:35px}
	.search-res .search .search-query, .search-res .input-prepend input, .search-res .stepper-wrap input{height:35px;margin-top:0;width:40px;}
}
.search-res .form-search form .search input:hover,
.search-res .form-search form .search input:focus{ border: 2px solid #BDC3C7; border-right: none; }
.checkbox.checked .icons, .radio.checked .icons{color:#2d5ca9}
.search-res .form-search form .checkbxs label.checked{color:#34495E !important}
.search-res .form-search form .price{ margin: 0 5px 0 0; }
.search-res .form-search form .price span{ margin:0 10px; font-weight:bold; font-size:17px }
.search-res .form-search form .price input{ width: 70px; }
.search-res .form-search form .price input.no-border{ border-top-right-radius: 0; border-bottom-right-radius: 0; border-radius:6px;border:2px solid #BDC3C7}
.search-res .form-search form .price input:hover,
.search-res .form-search form .price input:focus{ border: 2px solid #BDC3C7; }
.search-res .form-search form .rooms{}
.search-res .form-search form .checkbxs{ margin: 0 0 0 15px;}
.search-res .form-search form .checkbxs label{ width: 60px; text-align: right; font-size: 17px; font-weight: bold; margin: 10px 0 0; }
.search-res .form-search form .checkbxs label.checked{ color: #F468A9; }
.search-res .show-types{ text-align: center; padding: 10px 0 0 0; border-top: 2px solid #BDC3C7; margin: 0; }
.search-res .show-types a{ display: inline-block; width: 75px; height: 28px; line-height: 28px; text-align: center; font-size: 14px; font-weight: bold; color: white; background: #00529C; margin: 0 0 0 5px; border-radius: 5px; }
.search-res .show-types a:hover,
.search-res .show-types a.active{ color: #111111; background: #ECF0F1; }
.search-res .pagination{ margin: 20px 65px; }
.search-res .results{ margin: 10px 65px; }
.search-res .results .date{ background: #E6E6E6; color: #000; font-size: 15px; font-weight: bold; text-align: center; height: 28px; line-height: 28px; }
.search-res .results .city-map-view .date-map{ background: #E6E6E6; color: #000; font-size: 15px; font-weight: bold; text-align: center; height: 28px; line-height: 28px; }
.search-res .results .city-map-view .map-frame{ padding:15px 0;position:relative }
.search-res .results .city-map-view .map-frame .map-zoom-control{ position:absolute;left:10px;top:25px }
.search-res .results .city-map-view .map-frame .map-poi-plus-sample{ position:absolute;left:512px;top:493px; cursor:pointer; }
.search-res .results .city-map-view .map-frame .map-poi-min-sample{ position:absolute;left:390px;top:582px; cursor:pointer; }


.search-res .results .city-map-view .map-frame .map-zoom-control div{ background:#00529c;width:41px;height:41px;position:relative;margin-bottom:5px;cursor:pointer }

.search-res .results .city-map-view .map-frame .map-zoom-control div img{ vertical-align:middle;position:absolute; top:15px;left:15px; }
.search-res .results .city-map-view .map-frame .map-zoom-control div img.zoom-out{ top:18px }






.search-res .results .item{  }
.search-res .results .item.grid-view{ width: 280px; overflow: hidden; margin: 10px 12px 5px 0; display: inline-block; }
.search-res .results .item.grid-view.nomarg{ margin-right: 0; }
.search-res .results .item.grid-view img{  }
.search-res .results .item.grid-view .image .big-img{ display: none; }
.search-res .results .item.grid-view a{ display: block; }
.search-res .results .item.grid-view .title{ color: #00529C; font-weight: bold; font-size: 14px; line-height: 15px; }
.search-res .results .item.grid-view .price{ color: #1F3038; }
.search-res .results .item.grid-view span{ font-weight: bold; font-size: 14px; }
.search-res .results .item.grid-view .mapcolor{ color: #187818; margin: 0 5px; }
.search-res .results .item.grid-view .piccolor{ color: #99B9D6; }
.search-res .results .item.grid-view .other-links{ margin: 4px 0 0; }
.search-res .results .item.grid-view .other-links a{ color: white; text-align: center; font-size: 10px; display: inline-block; font-weight: bold; padding: 2px 6px; margin: 0 1px 0 2px; line-height: 16px; border-radius: 5px; }
.search-res .results .item.grid-view .other-links .op{ background: #2ECC71; }
.search-res .results .item.grid-view .other-links .opint{ background: #80A8CC; }
.search-res .results .item.grid-view .other-links .viewpic{ background: #3473DB; }
.search-res .results .item.grid-view .other-links .viewmap{ background: #00529C; }
.search-res .results .item.list-view{ width: 100%; overflow: hidden; margin: 5px; display: inline-block; }
.search-res .results .item.list-view.nomarg{ margin-right: 0; }
.search-res .results .item.list-view .image .big-img{ display: none; }
.search-res .results .item.list-view img{ display: none; }
.search-res .results .item.list-view a{  }
.search-res .results .item.list-view .title{ color: #00529C; font-weight: bold; font-size: 15px	; line-height: 15px; }
.search-res .results .item.list-view .price{ color: #1F3038; }
.search-res .results .item.list-view span{ font-weight: bold; font-size: 14px; }
.search-res .results .item.list-view .mapcolor{ color: #187818; margin: 0 5px; }
.search-res .results .item.list-view .piccolor{ color: #99B9D6; }
.search-res .results .item.list-view .other-links{ margin: 4px 0 0; display: none; }
.search-res .results .item.pic-view{ width: 100%; margin: 5px; display: inline-block; }
.search-res .results .item.pic-view.nomarg{ margin-right: 0; }
.search-res .results .item.pic-view .image{ width: 50px; height: 50px; float: left; margin: 0 10px 0 0; position: relative; }
.search-res .results .item.pic-view .image .big-img{ width: 280px; height: 225px; border: 2px solid #CCCCCC; position: absolute; display: none; z-index: 10; background-repeat: no-repeat; top: 40px; left: 40px; }
.search-res .results .item.pic-view .image:hover .big-img{ display: block; }
.search-res .results .item.pic-view img{ width: 50px; height: 50px; }
.search-res .results .item.pic-view a{  }
.search-res .results .item.pic-view .title{ color: #00529C; font-weight: bold; font-size: 15px; line-height: 15px; display: block; float: left; width: 805px; margin: 5px 0 0; }
.search-res .results .item.pic-view .price{ color: #1F3038; }
.search-res .results .item.pic-view span{ font-weight: bold; font-size: 14px; }
.search-res .results .item.pic-view .mapcolor{ color: #187818; margin: 0 5px; }
.search-res .results .item.pic-view .piccolor{ color: #99B9D6; }
.search-res .results .item.pic-view .other-links{ margin: 4px 0 0; display: none; }

.like-page .header{background:#ecf0f1;padding:10px 20px;margin:3px}
.like-page .search-form{padding:0 20px;padding-top:15px;border-bottom:1px solid #BDC3C7}
.like-page .search-form .chckbox{margin-left:220px}
.like-page .search-form label.checkbox{margin:0;padding-left:28px;}
.like-page .checked{color:#2D5CA9}


.like-page .search-form input{padding:5px}
.like-page .search-form button{position: absolute; top:2px;right:2px; height: 30px; padding: 5px; background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(204, 204, 204);
-webkit-border-top-right-radius: 6px;
-webkit-border-bottom-right-radius: 6px;
-moz-border-radius-topright: 6px;
-moz-border-radius-bottomright: 6px;
border-top-right-radius: 6px;
border-bottom-right-radius: 6px;
}


.like-page .bottomline{height:1px;border-bottom:1px solid #BDC3C7}

.like-page .search-result{margin:10px 0;border-bottom:1px solid #bfc5c9}
.like-page .loadmore{padding:10px 20px;}
.like-page .loadmore a{font-size:14px; color:#024883; font-weight:bold}



.like-page .search-result h3{color:#024883;font-size:16px;font-weight:bold;margin:0}

.like-page .search-result h4{font-size:14px;color:#34495e;margin:0}
.like-page .search-result .person-like{padding:5px 20px;}
.like-page .search-result .person-like h3 span{font-weight:normal;}
.like-page .search-result .person-like h3 span.amy-admin{color:#024883}


.like-page .search-result .person-like img{border-radius:50%}

.like-page .search-result .name{padding:5px 0;}

.like-page .search-result .person-like .pull-left{margin-right:15px;}



.like-page .col-left{min-width:40%}

.like-page h3{font-size:15px;font-weight:normal;display:inline-block;margin-left:10px;}

.like-page h3 span{color:#024883;font-weight:bold}
.like-page h3 strong{font-weight:bold}



/* ad post final */
.ad-post-final{  }
.ad-post-final .ad-posted{ margin-left:25px; }
.ad-post-final .home-body-right { margin: 0; width: 1019px; }
.ad-post-final .city-breadcrumb { padding-left:25px; }
.ad-post-final .city-breadcrumb p{ font-size: 18px; padding: 0 20px 15px 0; border-bottom: 2px solid #ECF0F1; }
.ad-post-final .city-breadcrumb p a{ color: black; }
.ad-post-final .city-breadcrumb p a:hover{ color: #F468A9; }
.ad-post-final .review-to-publish{padding:20px 25px;border:2px solid #ecf0f1;background:#f9fafb;margin:5px 15px 15px 25px;border-radius:6px;}
.ad-post-final .review-to-publish h3{margin:0;font-size:16px;font-weight:normal;color:#2c3e50;margin-bottom:20px;}
.ad-post-final .review-to-publish h3 a{font-weight:bold;color:#00529c}
.ad-post-final .review-to-publish .review-btn-control{}
.ad-post-final .review-to-publish .review-btn-control .pull-right{margin-right:70px;margin-top:7px}
.ad-post-final .review-to-publish .review-btn-control label{font-size:14px;font-weight:normal;}
.ad-post-final .review-to-publish .review-btn-control .checkbox.checked{color:#2c3e50}
.ad-post-final .review-to-publish .review-btn-control label a{color:#00529c;font-size:14px;font-weight:bold;}
.ad-post-final .review-to-publish .review-btn-control button{font-weight:bold;padding:5px 45px;border-radius:4px;}
.ad-post-final .review-to-publish .review-btn-control button.edit-btn{background:#2980b9;}
.ad-post-final .review-to-publish .review-btn-control button.edit-btn:hover{background:#3E6BA4;}
.ad-post-final .review-to-publish .review-btn-control button.publish-btn{background:#ed0085;}
.ad-post-final .review-to-publish .review-btn-control button.publish-btn:hover{background:#DD117C;}
.ad-post-final .head-links,
.ad-post-final .post-title,
.ad-post-final .slider-box,
.ad-post-final .under-slider,
.ad-post-final .description,
.ad-post-final .comment-box{padding-left:25px;}
.ad-post-final .post-title{ font-size: 42px; color: black; }
.ad-post-final .head-links{ margin: 15px 0; }
.ad-post-final .head-links a{ background: url(../img/icons/ad-post-head-links.png) no-repeat; display: inline-block; padding: 0 0 0 25px; color: #3B5998; margin: 0 20px 0 0; }
.ad-post-final .head-links a.tv{background:url(../img/icons/tv-icon.png) no-repeat;padding-left:30px}
.ad-post-final .head-links a:hover{ color: #17326B; }
.ad-post-final .head-links a.mail{ background-position: 0 3px; }
.ad-post-final .head-links a.user{ background-position: 0 -17px; }
.ad-post-final .head-links a.inbox{ background-position: 0 -38px; }
.ad-post-final .head-links a.chat{ background-position: 0 -60px; }
.ad-post-final .description{ padding-top:10px;padding-bottom:10px;font-size: 15px; line-height: 2; color: #1F1F1F; }
.ad-post-final .slider-box{ height: 410px; }
.ad-post-final .slider-box .slider{ width: 645px; border-radius: 6px; overflow: hidden; }
.ad-post-final .slider-box .slider{ position: relative; }
.ad-post-final .slider-box .slider ul{ margin: 0; padding: 0; list-style: none; display: block; }
.ad-post-final .slider-box .slider ul li{ background-color: #eee;  width: 645px; height: 410px; padding: 0; margin: 0; display: block; float: left; position: relative; }
.ad-post-final .slider-box .slider ul li img{ width: 645px; height: 410px; }
.ad-post-final .slider-box .slider ul li div{ background: url(../img/icons/ad-post-slider-div-bg.png); padding: 20px 35px; position: absolute; bottom: 0; width: 605px; font-size: 16px; color: white; }
.ad-post-final .slider-box .slider .buttons{ position: absolute; top: 165px; background: url(../img/icons/ad-post-slider-arrows.png) no-repeat; width: 25px; height: 45px; }
.ad-post-final .slider-box .slider .buttons.prev{ left: 10px; background-position: 0 -44px; }
.ad-post-final .slider-box .slider .buttons.prev.disabled{ background-position: 0 0; }
.ad-post-final .slider-box .slider .buttons.next{ right: 10px; background-position: -25px -44px; }
.ad-post-final .slider-box .slider .buttons.next.disabled{ background-position: -25px 0; }
.ad-post-final .slider-box .slider .pagers{ position: absolute; top: 15px; right: 30px; background: none; }
.ad-post-final .slider-box .slider .pagers a{ text-indent: -9999px; display: inline-block; width: 10px; height: 10px; border-radius: 50%; background: #2C3E50; margin: 0 7px 0 0; box-shadow: 0 0 3px 1px white; }
.ad-post-final .slider-box .slider .pagers a.selected{ background: white; box-shadow: 0 0 3px 1px #2C3E50; }
.ad-post-final .slider-box .map-box{ background: #ECF0F1; height: 410px; width: 300px; border-radius: 6px; overflow: hidden; }
.ad-post-final .slider-box .map-box address{ font-size: 14px; font-weight: bold; text-align: center; color: #000000; height: 66px; margin: 0; padding: 20px 0 0; }
.ad-post-final .under-slider{ margin: 5px 0 0; }
.ad-post-final .under-slider .shares{ margin: 0 0 0 5px; }
.ad-post-final .under-slider .shares a{ background: url(../img/icons/ad-post-shares.png) no-repeat; width: 20px; height: 20px; display: inline-block; }
.ad-post-final .under-slider .shares a.fb{ background-position: 0 0; }
.ad-post-final .under-slider .shares a.tw{ background-position: -20px 0; }
.ad-post-final .under-slider .shares a.pr{ background-position: -40px 0; }
.ad-post-final .under-slider .shares a.in{ background-position: -60px 0; }
.ad-post-final .under-slider .links{ margin: 0 0 0 20px; }
.ad-post-final .under-slider .links a{ background: url(../img/icons/ad-post-under-slider-links.png) no-repeat; display: inline-block; font-size: 13px; margin: 0 10px 0 0; padding: 0 0 0 25px; height: 19px; line-height: 19px; color: #CBCBCB; }
.ad-post-final .under-slider .links a:hover{ color: gray; }
.ad-post-final .under-slider .links a.spam{ background-position: 0 0; }
.ad-post-final .under-slider .links a.date{ background-position: 0 -19px; line-height: 15px; }
.ad-post-final .under-slider .links a.sale{ background: url(../img/icons/envelope.png) no-repeat; display: inline-block; font-size: 13px; margin: 0 10px 0 0; padding: 0 0 0 25px; height: 19px; line-height: 19px; color: #CBCBCB; }
.ad-post-final .under-slider .links a.sale:hover{ color: gray; }
.ad-post-final .comment-box{ width: 580px; margin: 30px 0; }
.ad-post-final .comment-box .new-comment{ position: relative; border: 2px solid #E9EAED; margin: 0 0 10px; }
.ad-post-final .comment-box .new-comment .title{ background: #F6F7F8; padding: 0 15px; line-height: 40px; font-size: 16px; color: #34495E; }
.ad-post-final .comment-box .new-comment textarea{ border-radius: 0; border: 0; font-size: 14px; width: 554px; max-width: 554px; margin: 0; height: 75px; }
.ad-post-final .comment-box .new-comment .buttons{ background: #F6F7F8; }
.ad-post-final .comment-box .new-comment .buttons .btn{ padding: 3px 20px 3px; margin: 10px; border-radius: 3px; }
.ad-post-final .comment-box .show-more-comments{ background: #2f96b4; color: white; font-size: 14px; font-weight: bold; text-align: center; height: 35px; line-height: 35px; display: block; margin: 0 0 10px; }
.ad-post-final .comment-box .show-more-comments:hover{ background: #2C81BA; }
.ad-post-final .comment-box .old-comments{  }
.ad-post-final .comment-box .old-comments .comment{ margin: 0 0 15px; }
.ad-post-final .comment-box .old-comments .comment img{ width: 45px; height: 45px; border-radius: 50%; float: left; margin: 0 10px 0 0; }
.ad-post-final .comment-box .old-comments .comment .right { width: 520px; }
.ad-post-final .comment-box .old-comments .comment .right .head{ margin: 5px 0 0; width: 520px; }
.ad-post-final .comment-box .old-comments .comment .right .head .name{ font-size: 18px; color: #024883; font-weight: bold; }
.ad-post-final .comment-box .old-comments .comment .right .head .date{ font-size: 12px; color: #C5C5C5; line-height: 16px; /*margin: 5px 0 0 15px;*/ }
.ad-post-final .comment-box .old-comments .comment .right .content{ font-size: 14px; line-height: 18px; margin: 10px 0 0 0; }
.ad-post-final .comment-box .old-comments .comment .right .links{ margin: 10px 0 0; }
.ad-post-final .comment-box .old-comments .comment .right .links a{ color: #00529C; display: inline-block; margin: 0 10px 0 0; line-height: 17px; }
.ad-post-final .comment-box .old-comments .comment .right .links a:hover{ color: #0B365E;  }
.ad-post-final .comment-box .old-comments .comment .right .links a.like{ background: url(../img/icons/ad-post-comment-buttons.png) no-repeat 0 0; padding: 0 0 0 25px; }
.ad-post-final .comment-box .old-comments .comment .right .links a.dislike{ background: url(../img/icons/ad-post-comment-buttons.png) no-repeat 0 -17px; padding: 0 0 0 25px; }
.ad-post-final .comment-box .old-comments .comment .right .right{ width: 460px; }
.ad-post-final .comment-box .old-comments .comment .right .right .head{ margin: 5px 0 0; width: 460px; }
.ad-post-final .publish-post{ padding: 15px; width: 870px; border-radius: 5px; border: 2px solid #ECF0F1; background: #F9FAFB; margin: 0 25px 10px; }
.ad-post-final .publish-post .title{ font-size: 16px; font-weight: bold; color: #5B6673; }
.ad-post-final .publish-post .title a{ color: #4574AC; }
.ad-post-final .publish-post .buttons{ margin: 15px 0 0; }
.ad-post-final .publish-post .buttons .btn{ padding: 5px 15px; margin: -6px 10px 0 0; }
.ad-post-final .publish-post .buttons .checkbox{ display: inline-block; margin: 0 0 0 15px;  }
.ad-post-final .publish-post .buttons .checkbox a{ color: #4574AC; }
.ad-post-final .ad-posted{ width: 840px; border: 1px solid #D3D6D6; background: #F9FAFB; padding: 15px; border-radius: 10px; }
.ad-post-final .ad-posted .already-posted{ margin: 0 0 10px; }
.ad-post-final .ad-posted .already-posted .check{ width: 30px; padding: 45px 10px 0; }
.ad-post-final .ad-posted .already-posted .check .checkbox.checked .icons{ color: #00529C; }
.ad-post-final .ad-posted .already-posted .ad-box{ width: 740px; /*height: 80px;*/ overflow: hidden; border: 1px solid #D3D6D6; padding: 10px 15px; background: #F5F5F5; }
.ad-post-final .ad-posted .already-posted .ad-box .title{ color: #00529C; font-weight: bold; font-size: 15px;  }
.ad-post-final .ad-posted .already-posted .ad-box .links{ margin: 5px 0; }
.ad-post-final .ad-posted .already-posted .ad-box .title.expired{ color: #595959; font-style: italic; }
.ad-post-final .ad-posted .already-posted .ad-box .links a{ font-size: 12px; font-weight: bold; color: black; display: inline-block; margin: 0 20px 0 0; }
.ad-post-final .ad-posted .already-posted .ad-box .links a.active{ color: #2980B9; }
.ad-post-final .ad-posted .already-posted .ad-box .links a.expired{ color: red; }
.ad-post-final .ad-posted .already-posted .ad-box .buttons{  }
.ad-post-final .ad-posted .already-posted .ad-box .buttons .btn{ padding: 3px 15px; margin: 0 5px 0 0; }
.ad-post-final .ad-posted .already-posted .ad-box .buttons .btn.btn-info{ background: #00529C; }
.ad-post-final .ad-posted .already-posted .ad-box .buttons .btn.btn-info:hover{ background: #ECF0F1;color:#111111 }
.ad-post-final .ad-posted .already-posted .ad-box .buttons .btn-pink:hover{ background: #ECF0F1;color:#111111 }
.ad-post-final .ad-posted .already-posted .ad-box .buttons .btn-small:hover{ background: #ECF0F1;color:#111111 }
.ad-post-final .ad-posted .check-buttons{  }
.ad-post-final .ad-posted .check-buttons .check{ margin: 20px 10px 0; margin: 20px 25px; }
.ad-post-final .ad-posted .check-buttons .check .checkbox{  }
.ad-post-final .ad-posted .check-buttons .check .checkbox.checked .icons{ color: #00529C; }
.ad-post-final .ad-posted .check-buttons .btn{ margin: 10px 10px 0 0; background: #BDC3C7; padding: 8px 15px; }
.ad-post-final .ad-posted .check-buttons .btn:hover{ background: #7F8C8D; }
.ad-post-final .ad-posted .check-buttons .btn.btn-info{ background: #00529C; }
.ad-post-final .ad-posted .check-buttons .btn.btn-info:hover{ background: #5DADE2; }
.ad-post-final .ad-posted .delete-ad-modal{ background: #F5F5F5; }
.ad-post-final .ad-posted .delete-ad-modal .modal-header{ border-bottom: 2px solid #E4E4E4; }
.ad-post-final .ad-posted .delete-ad-modal .modal-header .modal-title{ font-size: 16px; font-weight: bold; color: black; text-align: center; }
.ad-post-final .ad-posted .delete-ad-modal .modal-body{  }
.ad-post-final .ad-posted .delete-ad-modal .modal-body .title{ color: #024883; font-size: 13px; font-weight: bold; }
.ad-post-final .ad-posted .delete-ad-modal .modal-body .date{ font-size: 13px; font-weight: bold; margin: 5px 0; }
.ad-post-final .ad-posted .delete-ad-modal .modal-footer { border-top: 2px solid #E4E4E4; }
.ad-post-final .ad-posted .delete-ad-modal .modal-footer .btn{ padding: 8px 15px; }
.ad-post-final .ad-posted .delete-ad-modal .modal-footer .btn.btn-default{ background: #7F8C8D; }
.ad-post-final .ad-posted .delete-ad-modal .modal-footer .btn.btn-default:hover{ background: #555E5F; }
.ad-post-final .ad-posted .delete-ad-modal .modal-footer .btn.btn-primary{ background: #C31D0F; }
.ad-post-final .ad-posted .delete-ad-modal .modal-footer .btn.btn-primary:hover{ background: #8A1910; }
.ad-post-video [class*="span"]{margin-left:0;}
.ad-post-video .category-dropdown{padding-left:25px}

/* multi level dropdown */
.menuwrapper-menu{border-bottom:2px solid #ECF0F1;margin-left:25px;margin-bottom:25px;margin-right:25px;}
.ad-post-video .dl-menuwrapper{margin-bottom:15px;margin-right:25px}
.dl-menuwrapper .custom-select{background:#ecf0f1;font-weight:bold;color:#111111;font-size:15px;border-radius:6px;cursor:pointer;padding:10px 20px 10px 20px;}
.dl-menuwrapper .custom-select .caret{float:right;margin-top:5px;border-bottom-color:#fff;border-top-color:#fff}

.dl-menuwrapper .dl-menu.dl-menuopen{border-radius:6px;}
.dl-menuwrapper button:hover, .dl-menuwrapper button.dl-active, .dl-menuwrapper ul{background:#ecf0f1}
.dl-menuwrapper li > a{color:#111111;font-weight:normal}
.dl-menuwrapper li > a:hover{background:#00529c;color:#fff;font-weight:normal}
.dl-menuwrapper li.first-child > a:hover{
	-webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
}
.dl-menuwrapper li.last-child > a:hover{
	-webkit-border-bottom-right-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
-moz-border-radius-bottomright: 6px;
-moz-border-radius-bottomleft: 6px;
border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
}
.dl-menuwrapper .dl-submenu{margin-left:0;border-radius:6px;}
.dl-menuwrapper li.dl-back > a{
-webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
}

.dl-menuwrapper{z-index:999;position:relative}
.ad-post-video .ad-post-video-wrapper {width:775px;z-index:0 !important}
.ad-post-video .ad-post-video-wrapper input.numeric{width:20px;}
.ad-post-video .ad-post-video-wrapper h5{position:absolute;top:30px;right:5px;font-weight:regular;font-size:13px;margin:0}
.ad-post-video .ad-post-video-wrapper .left-col{margin-right:10px;margin-top:10px}
.ad-post-video .ad-post-video-wrapper .right-col{margin-right:10px;margin-top:10px;width:455px}
.ad-post-video .ad-post-video-wrapper .right-col input.video-link-dsc{border-right:0;margin:0;width:405px;font-size:14.994px;}
.ad-post-video .ad-post-video-wrapper .right-col input.video-dsc{margin:0;width:440px;font-size:14px;border-radius:6px;border-right:2px solid #BDC3C7;font-size:14.}
.ad-post-video .ad-post-video-wrapper .right-col .blog-video{margin-bottom:20px;}


.ad-post-video .ad-post-video-wrapper .right-col input.video-link-dsc:focus{border-color:#BDC3C7}
.ad-post-video .ad-post-video-wrapper .right-col .video-description{border:2px solid #BDC3C7;border-radius:6px;padding:10px 15px;background:#fff}
.ad-post-video .ad-post-video-wrapper .right-col .video-description h3{font-size:18px;color:#ff0000;font-weight:regular;}
.ad-post-video .ad-post-video-wrapper .right-col .video-description h3.blog{text-align:center}

.ad-post-video .ad-post-video-wrapper .right-col .video-description p{line-height:1.5;font-size:14px;font-weight:regular;}
.ad-post-video .ad-post-video-wrapper .right-col .video-description p.blog{margin-left:15px;margin-right:15px;}

.ad-post-video .ad-post-video-wrapper .photo-upload{margin-top:15px;}
.ad-post-video .ad-post-video-wrapper .photo-upload .row .pull-left{width:32.0000%;margin:10px 5px;text-align:center;position:relative;}
.ad-post-video .ad-post-video-wrapper .photo-upload .row .pull-left > div.control{min-height:108px}
.ad-post-video .ad-post-video-wrapper .photo-upload .row .pull-left > div.control .btn-control{border-radius:8px;margin-left:25px;margin-right:25px;margin-top:65px}
.ad-post-video .ad-post-video-wrapper .photo-upload .row .pull-left > div.control .btn-control h3{border-radius:8px;background:#95a5a6;padding-top:10px;padding-bottom:10px;font-weight:bold;font-size:15px;color:#fff;position:relative;height:22px;}
.ad-post-video .ad-post-video-wrapper .photo-upload .row .pull-left > div.control .btn-control h3.failed{background:#ba0d0d}
.ad-post-video .ad-post-video-wrapper .photo-upload .row .pull-left > div.control .caption h4.failed{color:#ba0d0d}
.ad-post-video .ad-post-video-wrapper .photo-upload .row .pull-left > div.control .btn-control h3.uploading{background:#00529c}
.ad-post-video .ad-post-video-wrapper .photo-upload .row .pull-left > div.control .bg-failed{background:#cccccc}
.ad-post-video .ad-post-video-wrapper .photo-upload .row .pull-left > div.control .bg-uploading{background:#3498db}
.ad-post-video .ad-post-video-footer{width:775px;margin-top:20px;}
.ad-post-video .ad-post-video-footer input[type="submit"]{font-weight:bold;font-size:15px;color:#fff;background:#2980b9;padding-left:20px;padding-right:20px;}
.ad-post-video .ad-post-video-wrapper .photo-upload .row .pull-left > div.control .btn-control h3 > span{position:absolute;top:13px;left:50px}
.ad-post-video .ad-post-video-wrapper .photo-upload .row .pull-left > div.control .caption{min-height:50px;margin-top:10px;background:#eeeeee;margin-left:25px;margin-right:25px;}
.ad-post-video .ad-post-video-wrapper .photo-upload .row .pull-left > div.control .caption h4{font-size:14px;font-weight:bold;color:#95a5a6;padding:7px 4px;}
.ad-post-video .ad-post-video-wrapper .photo-upload .row .pull-left > div.control .caption h4 > span{font-weight:regular;}
.ad-post-video .ad-post-video-wrapper .photo-upload .row .pull-left > textarea{margin-top:5px;height:60px;font-size:13px;line-height:1.5;border-radius:4px;width:210px;margin-left:10px;margin-right:10px}
.ad-post-video .ad-post-video-wrapper .photo-upload .row .pull-left > div.img-wrapper{position:absolute;top:5px;right:15px;}
.ad-post-video .ad-post-video-wrapper .photo-upload .row .pull-left > div.img-wrapper a.delete-btn span{position:absolute;top:0;right:5px;color:#fff;font-size:16px;}
.ad-post-video .ad-post-video-wrapper .photo-upload .row .pull-left > div.img-wrapper a.delete-btn:hover span{color:#A80915}
.ad-post-video .ad-post-video-wrapper .right-col button.video-link-search{background:#fff;color:#BDC3C7;border:2px solid #BDC3C7;border-left:0;padding:5.5px 5px;margin:0}
.ad-post-video .ad-post-video-wrapper .email-section{width:277px}
.ad-post-video .ad-post-video-wrapper .email-section i.fa-check-circle{color:#00529C}
.ad-post-video .ad-post-video-wrapper .email-section i.fa-times-circle{color:#CC0000}

.ad-post-video .ad-post-video-wrapper .email-section .facebook input{border-color:#00529C;color:#00529C}
.ad-post-video .ad-post-video-wrapper .email-section .twitter input{border-color:#01AEFE;color:#01AEFE}
.ad-post-video .ad-post-video-wrapper .email-section .gplus input{border-color:#CD3627;color:#CD3627}
.ad-post-video .ad-post-video-wrapper .email-section .tumblr input{border-color:#36506B;color:#36506B}
.ad-post-video .ad-post-video-wrapper .email-section .pinterest input{border-color:#CA2624;color:#CA2624}
.ad-post-video .ad-post-video-wrapper .email-section .other input{border-color:#95A5A6;color:#95A5A6}

.ad-post-video .ad-post-video-wrapper .email-section .facebook i.fa-check-circle{color:#00529C}
.ad-post-video .ad-post-video-wrapper .email-section .twitter i.fa-check-circle{color:#01AEFE}
.ad-post-video .ad-post-video-wrapper .email-section .gplus i.fa-check-circle{color:#CD3627}
.ad-post-video .ad-post-video-wrapper .email-section .tumblr i.fa-check-circle{color:#36506B}
.ad-post-video .ad-post-video-wrapper .email-section .pinterest i.fa-check-circle{color:#CA2624}
.ad-post-video .ad-post-video-wrapper .email-section .other i.fa-check-circle{color:#95A5A6}




.ad-post-video .ad-post-video-wrapper .email-section span.icon-disabled{position:absolute;left:23.5px;z-index:1}
.ad-post-video .ad-post-video-wrapper .email-section input{margin-bottom:5px;width:80%;font-size:14.994px;line-height:24px;}
.ad-post-video .ad-post-video-wrapper .email-section input.video-link{width:100%;color:#ff0000;font-size:14px;border-color:#ff0000;margin:45px 0}
.ad-post-video .ad-post-video-wrapper .email-section label.radio{margin-top:8px}
.ad-post-video .ad-post-video-wrapper .email-section .checkbox.checked, .ad-post-video .ad-post-video-wrapper .email-section .radio.checked{color:#2c3e50}
.ad-post-video .ad-post-video-wrapper .email-section .checkbxs{margin:5px 0}
.ad-post-video .ad-post-video-wrapper .email-section .email-checkbxs span.email{color:#00529C}
.ad-post-video .ad-post-video-wrapper .email-section .txt-chat .checkbox.checked, .ad-post-video .ad-post-video-wrapper .email-section .txt-chat .radio.checked{color:#f468a9}
.txt-chat .checkbox.checked .icons{color:#f468a9}
.txt-chat .radio.checked .icons{color:#2D5CA9}
.ad-post-video .home-body-right .city-breadcrumb p{color:#000000;}
.ad-post-video .home-body-right .ad-post-video-wrapper{background:#ecf0f1;padding:20px 30px 15px 20px;border:1px solid #BDC3C7;margin-right:50px;position:relative}
.ad-post-video .ad-post-video-wrapper .city-breadcrumb p a:hover{color:#F468A9}
.ad-post-video .ad-post-video-wrapper input:focus,.ad-post-video .ad-post-video-wrapper textarea:focus{border-color:#80A8CC}
.ad-post-video .ad-post-video-wrapper input{margin-right:5px;padding-top:5px;padding-bottom:5px;font-size:14.994px;line-height:24px;color:#34495E}
.ad-post-video .ad-post-video-wrapper input.ad-title{width:355px;}
.ad-post-video .ad-post-video-wrapper input.ad-location{width:225px;}
.ad-post-video .ad-post-video-wrapper input.ad-rent{width:66px;}
.ad-post-video .ad-post-video-wrapper input.ad-room{width:45px;}
.ad-post-video .ad-post-video-wrapper textarea{width:734px;height:215px;margin-top:10px;margin-bottom:10px;}
.ad-post-video .ad-post-video-wrapper .email-checkbxs .icons{top:10px}


.profile-page ul.nav-tabs > li.active > a,.profile-page .nav-tabs > li.active > a:hover,.profile-page .nav-tabs > li.active > a:focus{border-radius:0;background:#ecf0f1;border-left:none;border-right:none;border-top:2px solid #90c0d8}
.profile-page ul.nav-tabs > li{border-right:1px solid #ecf0f1;border-left:1px solid transparent;border-top:0;border-bottom:1px solid transparent}
.profile-page ul.nav-tabs > li.active{border-right:1px solid #ecf0f1;border-left:1px solid transparent;border-top:0;border-bottom:1px solid transparent}
.profile-page ul.nav-tabs{border-top:1px solid #ecf0f1;margin-bottom:0;border-bottom:1px solid #ecf0f1}
.profile-page ul.nav-tabs > li > a{font-size:14px;color:#90c0d8;font-weight:normal;margin-right:0;}
.profile-page ul.nav-tabs > li.active > a{font-size:14px;color:#37404e;font-weight:normal;margin-right:0;border-bottom:1px solid #ECF0F1}
.profile-page ul.nav-tabs > li > a:hover{background:#ECF0F1;border-top:2px solid #90C0D8;border-radius:0;margin-right:0;}
.profile-page ul.nav-tabs > li > a.toggle i.fa{margin:0}
.profile-page ul.nav-tabs > li ul.user-settings > li > a{color:#111111;padding-left:20px;padding-right:20px;}
.profile-page ul.nav-tabs > li ul.user-settings > li > a:hover{color:#90C0D8}


.profile-page ul.dropdown-menu > li > a:hover{color:#7ea4f5}
.profile-page .profile-ct-header{padding-left:20px;}
.profile-page .profile-ct-header .head-info{padding:15px;}
.profile-page .profile-ct-header .head-info h2{margin:0;font-size:24px;font-weight:regular;color:#000;float:left}
.profile-page .profile-ct-header .head-info .likes{float:right;padding:5px;margin-left:8px;}
.profile-page .profile-ct-header .head-info span{color:#9ea7b3;font-size:12px;}
.profile-page .profile-ct-header .head-info h4{font-size:14px;color:#9ea7b3}
.profile-page .profile-ct-header .head-info .liked h5{margin:0;margin-right:5px;float:left;display:inline;padding:4px 8px 6px;background:#90c0d8;color:#fff;font-weight:bold;font-size:12px;border-radius:4px;}
.profile-page .profile-ct-header .head-info .liked h5 a{color:#fff;text-decoration:none}
.profile-page .profile-ct-header .head-info .liked h5 a img{margin-right:5px;}
.profile-page .profile-ct-header ul.share{list-style:none;display:inline-block;margin:0;padding:40px 20px}
.profile-page .profile-ct-header ul.share > li{display:block;float:left}
.profile-page .profile-ct-main{padding:20px 0}
.profile-page .profile-ct-main ul.profile-tabs > li > a.toggle{padding-left:10px;padding-right:10px}
.profile-page .profile-ct-main ul.profile-tabs img.report-icon{opacity:0.5;margin-left:10px;}
.profile-page .profile-ct-main ul.profile-tabs > li > ul.dropdown-menu{background:#fff;border:none;min-width:245px;-webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.5);-moz-box-shadow:    1px 1px 4px 0px rgba(50, 50, 50, 0.5);box-shadow:         1px 1px 4px 0px rgba(50, 50, 50, 0.5);}
.profile-page .profile-ct-main .tab-content{border:none;padding:0;border-radius:0}
.profile-page .profile-ct-main .tab-content .tab-about{position:relative}
.profile-page .profile-ct-main .tab-content .tab-about a.edit{position:absolute;top:17px;left:15px}
.profile-page .profile-ct-main .tab-content .tab-about a.edit i.fa-edit{color:#BDBDBD}



.profile-page .profile-ct-main .tab-content .tab-heading{background:#f6f7f8;}
.profile-page .profile-ct-main .tab-content .tab-heading h3{margin:0;padding:6px 40px 8px;color:#6a7481;font-size:18px;}
.profile-page .profile-ct-main .tab-content .about p{margin-bottom:10px;border-bottom:1px solid #ecf0f1;border-top:1px solid #ecf0f1;font-weight:normal;font-size:14px;color:#252525;padding:10px 40px;}
.profile-page .profile-ct-main .tab-content .about .about-item{padding:15px 60px;}
.profile-page .profile-ct-main .tab-content .about .about-item h4{padding-left:40px;margin:0;color:#6a7480;font-size:14px;font-weight:600;}
.profile-page .profile-ct-main .tab-content .about .about-item h5{padding-left:40px;margin:0;padding-top:5px;color:#95a5a6;font-size:12px;}
.profile-page .profile-ct-main .tab-content .about .about-item h4.work{background:url(../img/icons/work.png) no-repeat;}
.profile-page .profile-ct-main .tab-content .about .about-item h4.study{background:url(../img/icons/study.png) no-repeat;}
.profile-page .profile-ct-main .tab-content .about .about-item h4.lives{background:url(../img/icons/lives.png) no-repeat;}
.profile-page .profile-ct-main .tab-content .about .about-item h4.location{background:url(../img/icons/locations.png) no-repeat;}
.profile-page .profile-ct-main .tab-content .about .about-item h4.like{background:url(../img/icons/like.png) no-repeat;}
.profile-page .profile-ct-main .tab-content .tab-wall-ct{padding:15px 40px;}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box{width:650px}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box form{border:1px solid #d3d6db;margin-bottom:10px;}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box form .title{background:#f6f7f8;border-bottom:1px solid #d3d6db}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box form .title h4{margin:0;padding:15px;font-size:14px;color:#111111;}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box form textarea{width:92%;border:none;padding-top:20px;padding-left:20px;height:27px;}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box form .buttons{padding:10px;background:#f6f7f8;border-top:1px solid #d3d6db}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box form .buttons .pull-left{padding-left:10px;padding-top:7px}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box form .buttons .pull-left a{color:#959595;font-size:12px;padding-left:20px;padding-top:10px;padding-bottom:10px;margin-right:15px;}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box form .buttons .pull-left a.location{background:url(../img/icons/location-grey.png) no-repeat left center;}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box form .buttons .pull-left a.camera{background:url(../img/icons/camera.png) no-repeat left center;}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box form .buttons button{background:#2980b9;padding:5px 20px;border-radius:4px;}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box .more-comments{padding-top:10px;padding-bottom:10px;text-align:center;background:#2980b9;font-weight:bold;}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box .more-comments a{font-size:14px;color:#fff}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box .old-comments{margin-left:5px;margin-right:5px}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box .old-comments .comment{margin-top:10px;margin-bottom:10px;}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box .old-comments .comment .pull-left img{border-radius:50%}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box .old-comments .comment .right{width:90%}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box .old-comments .comment .head a{color:#024883;font-size:16px;font-weight:bold;}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box .old-comments .comment .head span{font-size:12px;margin-left:15px;color:#dfdfdf}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box .old-comments .comment .content p{margin:0;color:#111111;font-size:14px;}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box .old-comments .comment .links a{margin:0 5px;font-size:14px;color:#00529c;}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box .old-comments .comment .links a.dislike{background:url(../img/icons/ad-post-comment-buttons.png) no-repeat scroll 0 -17px rgba(0, 0, 0, 0);padding-left:25px;}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box .old-comments .comment .links a.like{background:url(../img/icons/ad-post-comment-buttons.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);padding-left:25px;}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box .old-comments .comment .leave-comment{margin:10px 0}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box .old-comments .comment .leave-comment .pull-left{margin-right:10px;min-height:32px;min-width:28px}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box .old-comments .comment .leave-comment .leave-comment-ct{position:relative;}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box .old-comments .comment .leave-comment .leave-comment-ct input{width:90%;font-size:11px;color:#ccc;padding:4px;border-radius:0;border:1px solid #D3D6DB}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box .old-comments .comment .leave-comment .leave-comment-ct span{position:absolute;right:20px;top:5px;cursor:pointer}
.profile-page .profile-ct-main .tab-content .tab-wall-ct .comment-box .old-comments .comment .reply{width:90%}
.profile-page .profile-ct-main .tab-content .tab-ads-posted-ct {padding:10px;}
.profile-page .profile-ct-main .tab-content .tab-ads-posted-ct .ad-item{background:#f5f5f5;border:1px solid #d7dcde;margin:5px;padding:10px 20px;}
.profile-page .profile-ct-main .tab-content .tab-ads-posted-ct .ad-item h3{font-size:14px;color:#2980b9;font-weight:semibold}
.profile-page .profile-ct-main .tab-content .tab-ads-posted-ct .ad-item .ad-control{padding-top:10px;}
.profile-page .profile-ct-main .tab-content .tab-ads-posted-ct .ad-item .ad-control button{line-height:1;padding:8px 15px;font-size:12px;border-radius:4px;font-weight:bold;margin-right:10px;}
.profile-page .profile-ct-main .tab-content .tab-ads-posted-ct .ad-item .ad-control button.edit{background:#34495e;}
.profile-page .profile-ct-main .tab-content .tab-ads-posted-ct .ad-item .ad-control button.repost{background:#90c0d8;}
.profile-page .profile-ct-main .tab-content .tab-ads-posted-ct .ad-item .ad-control button.delete{background:#2d5ca9;}
.profile-page .profile-ct-main .tab-content .tab-ads-posted-ct .ad-item .ad-control h5{color:#111111;font-size:12px;font-weight:normal;margin:0;padding:0;display:inline}
.profile-page .profile-ct-main .tab-content .tab-ads-posted-ct .ad-item .ad-control h5 a{font-weight:bold;color:#024883}
.profile-page .profile-ct-main .tab-content .tab-ads-posted-ct .ad-item .ad-control .pull-right a{color:#024883;font-size:12px;font-weight:normal;}
.profile-page .profile-ct-main .tab-content .tab-ads-posted-ct .ad-item .ad-control .pull-right a.right{margin-left:30px}
.profile-page .profile-ct-main .tab-content .tab-ads-posted-ct .ad-item .ad-control .pull-right a.inactive{color:#e30e1f}
.profile-page .profile-ct-main .tab-content .tab-video-wrapper {padding:15px 40px;padding-right:0;}
.profile-page .profile-ct-main .tab-content .tab-video-wrapper .profile{background:url(../img/icons/video-user.png) no-repeat left center;margin:0;padding:8px 30px;font-size:14px;font-weight:bold;color:#000}
.profile-page .profile-ct-main .tab-content .tab-video-wrapper .date-posted{background:url(../img/icons/clock-icon.png) no-repeat left center;margin:0;padding:8px 25px;font-size:14px;font-weight:bold;color:#bdc3c7}
.profile-page .profile-ct-main .video-ct{position:relative;text-align:center;padding-bottom:75px;}
.profile-page .profile-ct-main .video-ct .video-ct-wrapper{margin-left:10px;background:url(../img/video-bg.jpg) no-repeat right bottom;min-width:668px;width:95%;min-height:752px;padding-top:30px;border:5px solid #ecf0f1}
.profile-page .profile-ct-main .video-ct .video-ct-wrapper .video-btn-control{position:absolute;bottom:392px;width:93%;left:20px;}
.profile-page .profile-ct-main .video-ct .video-ct-wrapper .video-btn-control .play{float:left;width:12.5%;background:#024c8e;border-right:1px solid #6e929f;padding:14.75px 0}
.profile-page .profile-ct-main .video-ct .video-ct-wrapper .video-btn-control .play-duration{float:left;width:37.5%;background:#024c8e;border-right:1px solid transparent;padding:16.75px 0}
.profile-page .profile-ct-main .video-ct .video-ct-wrapper .video-btn-control .play-duration h3{color:#fff;font-size:16px;font-weight:bold;margin:0}
.profile-page .profile-ct-main .video-ct .video-ct-wrapper .video-btn-control .play-duration-2{float:left;width:25.5%;background:#111111;border-right:1px solid #6e929f;padding:16.75px 0}
.profile-page .profile-ct-main .video-ct .video-ct-wrapper .video-btn-control .play-duration-2 h3{color:#fff;font-size:16px;font-weight:bold;margin:0}
.profile-page .profile-ct-main .video-ct .video-ct-wrapper .video-btn-control .volume{float:left;width:11.5%;background:#111111;border-right:1px solid #6e929f;padding:14.75px 0}
.profile-page .profile-ct-main .video-ct .video-ct-wrapper .video-btn-control .fullscreen{float:left;width:11.5%;background:#111111;border-right:1px solid transparent;padding:14.75px 0}
.profile-page .profile-ct-main .video-ct .video-ct-wrapper .video-info{background:rgba(2, 76, 142, 0.8);position:absolute;left:20px;bottom:0;width:90.5%;padding:25px 16px;}
.profile-page .profile-ct-main .video-ct .video-ct-wrapper .video-info h2{text-align:left;font-size:28px;color:#fff;font-weight:bold}
.profile-page .profile-ct-main .video-ct .video-ct-wrapper .video-info p{margin-left:30px;text-align:left;font-size:18px;color:#fff;opacity:0.9;font-weight:normal}
.profile-page .profile-ct-main .video-ct .video-ct-wrapper .video-info p input{font-size:15px;padding:5px 0;width:43%}
.profile-page .profile-ct-main .video-ct .video-ct-wrapper .video-info p.small{text-align:left;font-size:20px;font-weight:bold;color:#fff}
.profile-page .profile-ct-main .video-ct .video-ct-wrapper .video-info a.share{background:url(../img/icons/icon-paperclip.png) no-repeat left center; padding-left:30px;padding-right:20px;font-size:15px;color:#fff}
.profile-page .profile-ct-main .video-ct .video-ct-wrapper .video-info button{padding:7px 25px;border:1px solid #fff;line-height:1;font-size:14px;color:#fff;margin:0 5px;}
.profile-page .profile-ct-main .video-ct .video-ct-wrapper .video-info button.fb-like{background:#3b5a9b;}
.profile-page .profile-ct-main .video-ct .video-ct-wrapper .video-info button.tweet{background:#00aae4}
.profile-page .profile-ct-main .tab-content .about .about-item span{color:#00529c}
.profile-page .profile-content{padding-top:10px;margin-right:140px;width:878px;border-right:1px solid #BDC3C7}

.notification{padding-left:20px !important;padding-top:20px;width:999px !important;padding-bottom:40px !important}
.notification .notification-list{padding:5px 0}
.notification .notification-list .pull-left{min-height:44px;margin-right:15px;}
.notification .notification-list .pull-left img{border-radius:50%}
.notification .notification-list p{font-size:14px;margin:0;color:#34495e}
.notification .notification-list span{color:#34495e;font-size:12px;}
.notification .notification-list a{font-weight:normal;color:#00529c}
.notification .notification-list .profile-link{font-weight:bold}


.main-photo {padding-top:15px !important}
.modal .modal-header{background:#f5f5f5;-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;border-bottom:1px solid #e4e4e4}
.modal h4.modal-title{color:#111111;font-size:16px;font-weight:bold;text-align:center}
.modal .modal-body p{margin:0;padding:20px 0;font-size:14px;color:#2c3e50;text-align:center}
.modal .modal-footer{text-align:center}
.modal .modal-footer button.btn-delete{background:#c31d0f}

.main-photo .photo-breadcrumb{padding-bottom:15px !important;margin-bottom:15px;padding-left:30px;border-bottom:1px solid #BDC3C7}
.main-photo .photo-breadcrumb p{margin-bottom:15px;}
.main-photo .photo-breadcrumb p a,.main-photo .photo-breadcrumb p{color:#111111;font-size:18px;font-weight:bold;}
.main-photo .photo-breadcrumb p a:hover{color:#F468A9}
.main-photo .main-photo-ct{padding-left:20px;padding-bottom:30px}
.main-photo .main-photo-ct .photo-wrapper{border:1px solid #e5e5e5;min-height:246px;min-width:196px;float:left;margin:5px;position:relative}
.main-photo .main-photo-ct .photo-wrapper .caption p{font-size:11px;color:#024883;font-weight:bold;padding:10px;width:166px;margin:0}
.main-photo .main-photo-ct .photo-wrapper .caption a{position:absolute;top:5px;right:5px;}
.main-photo .main-photo-ct .photo-wrapper .caption i.fui-cross{color:#fff}
.main-photo .main-photo-ct .photo-wrapper .caption i.fui-cross:hover{color:#c31d0f}
.main-photo .main-photo-ct .photo-control{text-align:center;border:1px solid transparent;padding:65px 0;min-height:0}
.main-photo .main-photo-ct .photo-control button.upload{color:#fff;font-weight:bold;font-size:15px;background:#95a5a6;width:90%}
.main-photo .main-photo-ct .photo-control .upload-info{border:1px solid #e7e7e7;background:#eeeeee;color:#7f8c8d;margin-top:20px;padding:10px 0}
.main-photo .main-photo-ct .photo-control .upload-info h3{font-size:16px;font-weight:bold;margin:0}
.main-photo .main-photo-ct .photo-control .upload-info span{font-size:14px;font-weight:normal;margin:0}

.individual-photo-ct {background:#ecf0f1}
.individual-photo-ct .thumbs{margin:15px 0}
.individual-photo-ct .thumbs div{margin:5px;float:left;position:relative}
.individual-photo-ct .thumbs div > a{position:absolute;color:#fff;top:5px;right:5px;}
.individual-photo-ct .thumbs div > a:hover{color:#CD0A0B}

.individual-photo-ct .thumbs .photo-wrapper{width:196px;position:relative;float:left;height:64px;background:#fff;padding:65px 0;text-align:center;border:1px solid #E7E7E7}
.individual-photo-ct .thumbs .photo-wrapper button{background:none repeat scroll 0 0 #95A5A6;color:#FFFFFF;font-size:15px;font-weight:bold;width:90%}
.individual-photo-ct .thumbs .photo-wrapper .upload-info{background:none repeat scroll 0 0 #EEEEEE;border:1px solid #E7E7E7;color:#7F8C8D;margin-top:20px;padding:10px 0;float:none}
.individual-photo-ct .thumbs .photo-wrapper .upload-info h3{font-size:16px}
.individual-photo-ct .thumbs .photo-wrapper .upload-info span{font-size:14px}










.individual-photo-ct .slider-wrapper{width:511px;}
.individual-photo-ct .frame{border:1px solid #d7d9de;}
.individual-photo-ct .photo-info{background:#f6f7f8;border-bottom:1px solid #d7d9de}
.individual-photo-ct .photo-about{background:#fff;}
.individual-photo-ct .photo-about p{color:#2c3e50;font-size:14px;margin:0;padding:20px 0;text-align:center}
.individual-photo-ct ul.links{list-style:none;float:left;margin:0;padding:8px 10px}
.individual-photo-ct ul.links li{float:left;}
.individual-photo-ct ul.links li > a{color:#00529c;font-size:14px;}
.individual-photo-ct ul.links li{padding:0 5px;}
.individual-photo-ct ul.links li:first-child{padding-left:0}
.individual-photo-ct ul.likes{list-style:none;float:right;margin:0;padding:8px 10px}
.individual-photo-ct ul.likes li{float:left}
.individual-photo-ct ul.likes li > a{background:url(../img/icons/like.png) no-repeat left center;padding-left:20px;color:#00529c;font-size:14px;}
.individual-photo-ct .comment-box{margin-top:20px;}
.individual-photo-ct .new-comment .title{background:#f6f7f8;border-bottom:1px solid #d3d6db}
.individual-photo-ct .new-comment{background:#fff;border:1px solid #d3d6db}
.individual-photo-ct .new-comment textarea{border:none;font-size:14px;width:95%;color:#898989;margin:0}
.individual-photo-ct .new-comment .title h6{font-size:14px;margin:0;padding:10px}
.individual-photo-ct .new-comment .buttons{background:#f6f7f8;border-top:1px solid #d3d6db}
.individual-photo-ct .new-comment .buttons button.btn-small{padding:4px 25px 4px;margin:8px;border-radius:4px;}
.individual-photo-ct .old-comments{padding-bottom:50px;}
.individual-photo-ct .old-comments .comment{padding-top:15px}
.individual-photo-ct .old-comments .comment .right{width:88%;padding:5px 0;}
.individual-photo-ct .old-comments .comment .right .head a.name{color:#024883;font-size:16px;font-weight:bold}
.individual-photo-ct .old-comments .comment .right .head span{color:#c5c5c5;font-size:12px;margin-left:10px;}
.individual-photo-ct .old-comments .comment .right .content p{color:#111111;font-size:14px;}
.individual-photo-ct .old-comments .comment .right .links a{color:#00529c;margin:0 7px;}
.individual-photo-ct .old-comments .comment .right .links a.like{background:url(../img/icons/ad-post-comment-buttons.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);padding-left:20px}
.individual-photo-ct .old-comments .comment .right .links a.dislike{background:url(../img/icons/ad-post-comment-buttons.png) no-repeat scroll 0 -17px rgba(0, 0, 0, 0);padding-left:20px}

div.sign-up{height:700px;width:960px;margin:0 auto;margin-top:10px;margin-bottom:30px;z-index:1;position:relative}
.sign-up img.amy-bg{position:absolute;left:5px;top:20px;z-index:9}
.sign-up .form-head{padding-top:20px;margin:0 330px;margin-bottom:15px;}
.sign-up .form-head h2{font-size:34px;font-weight:bold;color:#111111;margin:0;text-align:right}
.sign-up .form-head h5{font-size:20px;font-weight:bold;color:#707070;margin:0;text-align:right}
.sign-up .form-content input[type="text"]{width:58%;margin:5px 0;z-index:-1;padding-left:45px;font-size:16px;border:1px solid #BDC3C7;color:#34495E}
.sign-up .form-content input[type="text"].error{border:1px solid #ba0d0d;color:#ba0d0d}
.sign-up .form-content .correct input[type="text"]{border:1px solid #00529c;}
.sign-up .form-content .form-group{position:relative;}
.sign-up .form-content .form-group .sign-notification{position:absolute;right:80px;top:13px}
.sign-up .form-content .form-group .sign-notification img{margin-right:10px;}
.sign-up .form-content .share-group{padding:10px 15px;width:61%;border-radius:8px;border:1px solid #BDC3C7;padding-bottom:8px;margin-top:5px;}
.sign-up .form-content .share-group .banner{padding:5px 10px;color:#fff}
.sign-up .form-content .share-group span.icons{top:5px;}
.sign-up .form-content .share-group label{margin:0;padding-bottom:8px;}
.sign-up .form-content .share-group .twitter .checkbox.checked .icons{color:#00AAE4}
.sign-up .form-content .share-group .fb-banner, .facebook-sign-in{background:#2f4b93}
.sign-up .form-content .share-group .fb-banner i.fa-facebook{margin-right:15px;}
.sign-up .form-content .share-group .tw-banner{background:#00aae4}
.sign-up .form-content .share-group .profpic{margin:5px 15px}
.sign-up .form-content .share-group .profpic a{font-size:16px;color:#00529c;margin-left:10px;display:inline-block;height:24px;vertical-align:top;padding:5px 0}
.sign-up .form-content .share-group .profpic span.fui-user{font-size:24px;color:#00529c}

.sign-up .form-content .share-group .facebook-sign-in{margin:5px 15px}
.sign-up .form-content .share-group .facebook-sign-in a{font-weight:bold;font-size:14px;color:#fff;padding:10px 15px;display:block}
.sign-up .form-content .tos,.sign-up .form-content .submit-area{width:65%;margin:15px}
.sign-up .form-content .tos h3{font-size:14px;color:#566473;font-weight:normal;margin:0;text-align:center;margin:0 110px}
.sign-up .form-content .tos h3 a{color:#f381b5}
.sign-up .form-content .tos h3 a:hover{color:#d94488}
.sign-up .form-content .submit-area{text-align:center}
.sign-up .form-content .submit-area input[type="submit"]{background:#f381b5;padding:20px 100px;font-size:22.28px;font-weight:bold;color:#fff;}
.sign-up .form-content .submit-area input[type="submit"]:hover{background:#d94488;}
.sign-up .form-content .error input[type="text"],.sign-up .form-content .error input[type="text"]:focus{border:1px solid #ba0d0d;color:#ba0d0d}
.sign-up .form-content .error span{color:#ba0d0d}
.sign-up .form-content input[type="text"]:focus{border:1px solid #2D5CA9;box-shadow:none;}
.sign-up .form-content .form-group .col-sm-12 {position:relative}
.sign-up .form-content .form-group .col-sm-12 span.fui{position:absolute;left:15px;top:13px;padding-right:10px;border-right:2px solid #f3f5f6;padding-top:3px;padding-bottom:3px;}
.form-login .checkbox{padding-left:22px;}


.video-ad-post .video-box{margin:5px 15px 15px 25px;border-radius:6px;}
.video-ad-post .video-box .video-contact{max-width:626px;margin:10px 0;background:#fff;border:1px solid #e5e5e5}
.video-ad-post .video-box .video-contact .pull-left{margin-right:15px;}

.video-ad-post .video-box .video-contact h3{font-weight:bold;font-size:16px;color:#3b5998;color:0}
.video-ad-post .video-box .video-contact .head-links{margin-top:0}
.video-ad-post .video-box .video-contact .head-links a{margin-right:9px;font-size:12px;padding:0 0 0 25px;height:17px}
.video-ad-post .video-box .video-contact .head-links a:last-child{margin-right:0 !important;}

.video-ad-post .video-box .video-contact .head-links a.like{ background: url(../img/icons/ad-post-comment-buttons.png) 0 -17px no-repeat; display: inline-block; padding: 0 0 0 25px; color: #3B5998; margin: 0 20px 0 0; }
.video-ad-post .video-box .video-contact .v-contact{ max-width:619px;padding:20px 13px;border-bottom:1px solid #e5e5e5}

.video-ad-post .video-box .video-contact .v-description{ padding:10px 20px;}
.video-ad-post .video-box .video-contact .v-description h4{ color:#111111;font-weight:bold;font-size:14px;margin:0}
.video-ad-post .video-box .video-contact .v-description p{ color:#111111;font-weight:normal;font-size:14px;margin:0;line-height:1;margin:15px 0}

.video-ad-post .video-box .video-contact .v-description h2{ color:#111111;font-weight:normal;font-size:20px;margin:0}
.video-ad-post .video-box .video-contact .v-description ul.v-description-links{ list-style:none;margin:0}
.video-ad-post .video-box .video-contact .v-description ul.v-description-links > li{ float:left}
.video-ad-post .video-box .video-contact .v-description ul.v-description-links > li > a{ color:#00529c;font-size:14px;font-weight:regular;margin-right:10px; }
.video-ad-post .video-box .video-contact .v-description ul.v-description-links > li > a:hover{ color:#00437f }
.video-ad-post .video-box .video-contact .v-description a.like{ background: url(../img/icons/ad-post-comment-buttons.png) 0 0 no-repeat; display: inline-block; padding: 0 0 0 25px; color:#00529c; }
.video-ad-post .v-comment .comment-box{ width:626px;margin:0;padding:0}
.video-ad-post .v-comment .comment-box .title{ font-size:14px;color:#34495e}
.video-ad-post .v-comment .comment-box textarea{ height:45px;width:600px;max-width:600px }
.video-ad-post .v-comment .comment-box .old-comments .comment .right{ width:480px }
.video-ad-post .v-comment .comment-box .old-comments .reply .right{ width:420px }

.video-ad-post .v-comment .comment-box .old-comments{ margin:0 40px }


.video-modal .video-wrapper {text-align:center;padding:20px 0}
.video-modal .v-contact, .video-modal .v-description, .video-modal .v-comment{padding:20px}
.video-modal .v-contact .pull-left{margin-right:10px}

.video-modal .v-contact h3 {font-size:16px}
.video-modal .v-description h4 {color:#111111;font-weight:bold;font-size:16px}
.video-modal .v-description h2 {color:#111111;font-weight:bold;font-size:20px}
.video-modal .v-description p {color:#111111;font-weight:normal;font-size:14px;line-height:1;margin:15px 0}
.video-modal .v-description ul.v-description-links {list-style:none;margin:0}
.video-modal .v-description ul.v-description-links > li{float:left}
.video-modal .v-description ul.v-description-links > li > a{margin-right:10px;font-size:14px;color:#00529C}



.video-modal .v-description a.like{background: url("../img/icons/ad-post-comment-buttons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #00529C;
    display: inline-block;
    padding: 0 0 0 25px;}


.blog-and-vlog .video-section{padding:0 30px;}
.blog-and-vlog .content-section{margin:50px 25px;}
.blog-and-vlog .content-section p{font-size:16px;font-weight:400;margin:10px 0;color:#585858;margin-right:140px}
.blog-and-vlog .slider-box{margin:0 25px;}
.blog-and-vlog .share-section{text-align:left;padding:35px 0;padding-bottom:0}
.blog-and-vlog .my-shares{margin-right:20px}
.blog-and-vlog .my-shares a{display:inline-block;padding:5px 10px;color:#FFFFFF;font-weight:bold;font-size:14px;border-radius:4px;margin:0 5px}
.blog-and-vlog .my-shares a.fb-share{background:#3864bf}
.blog-and-vlog .my-shares a.tweet-share{background:#02affe}
.blog-and-vlog .my-shares a.tumblr-share{background:#047fb3}
.blog-and-vlog .my-shares a.fb-share:hover{background:#2B53A5}
.blog-and-vlog .my-shares a.tweet-share:hover{background:#0099DB}
.blog-and-vlog .my-shares a.tumblr-share:hover{background:#0674A0}

.blog-and-vlog .comment-box{margin:50px 25px}
.blog-and-vlog .share-section .links{margin-left:20px;}
.blog-and-vlog .share-section .links a.share{background:none;padding-left:0;padding-top:3px;}

.blog-and-vlog .blog-and-vlog-container{max-width:900px;}
.blog-and-vlog .head-links a{background:none;padding-left:0}
.blog-and-vlog .head-links a i{margin-right:5px;}
.blog-and-vlog .head-links a i.fa-user{color:#f381b5}
.blog-and-vlog .head-links a i.fa-facebook{color:#38548f}
.blog-and-vlog .head-links a i.fa-twitter{color:#01affe}
.blog-and-vlog .head-links a i.fa-google-plus{color:#d32525}
.blog-and-vlog .head-links a i.fa-tumblr{color:#273f57}
.blog-and-vlog .head-links a i.fa-pinterest{color:#cb2027}
.blog-and-vlog .head-links a i.fa-clock-o{color:#7a7a7a}
.blog-and-vlog .title-section{padding:0 25px;}
.blog-and-vlog .title-section h3{font-size:28px;font-weight:bold;color:#000;}
.blog-and-vlog .video-section img{border:1px solid #cc181e}


ul.email-option{background:#ffffff;border:1px solid #3B5998;list-style:none;position:absolute;top:30px;left:0;z-index:1;display:none}
ul.email-option > li{line-height:1;padding:10px 10px;}
ul.email-option > li > a{display:block;color:#3B5998;}
ul.email-option > li:hover{background:#ECEEF0}


