* {font-family: 'Lato'}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-family: 'Lato'}
h1 {margin-bottom:20px;margin-top:15px;}
h4, h5, h6 {margin-bottom:0px;}

header{padding-top:15px;padding-bottom:15px;padding:0;border-radius:0}
header .container{padding:0}
.navbar{margin-bottom:0}
header img.face{display:none}
.navbar-brand{padding:25px 15px}
i.fa{margin-right:5px;}
img.img-responsive{width:100%}
.navbar-toggle .icon-bar{background:#566473;height:4px;width:24px;}
.navbar-nav > li.search-icon{display:none}
.navbar .nav > li > a{color:#A4B1B2}
.navbar .nav > li > a:hover{color:#F468A9}
.navbar-right .contact{padding-top:20px;width:108%}
header button.dropdown-toggle{background:#fff;border:2px solid #BDC3C7;color:#333333;padding:5px 12px}
.select.select-block{margin-bottom:0}
header button.dropdown-toggle span.caret{
	color:#757575;
	border-bottom-color: #757575 !important;
    border-left-width: 6px;
    border-right-width: 6px;
    border-style: solid solid none;
    border-top: 8px solid #757575 !important;
    transition: all 0.25s ease 0s;margin-top:8px;
}
header input.search-query {
	max-width:150px;
	color:#000000 !important;
	border-top:2px solid #BDC3C7 !important;
	border-left:2px solid #BDC3C7 !important;
	border-bottom:2px solid #BDC3C7 !important;
}
header button.dropdown-toggle span.filter-option{top:5px !important}
.navbar .navbar-search.form-search .input-append .btn{
	border-top:2px solid #BDC3C7 !important;
	border-right:2px solid #BDC3C7 !important;
	border-bottom:2px solid #BDC3C7 !important;
}
.navbar .navbar-search.form-search .input-append .btn:hover, .navbar .navbar-search.form-search .input-append .btn:focus{color:#555}
.dropdown-inverse{background:#ECEEF0;color:#CCCCCC}
header .dropdown-inverse li.active > a, .dropdown-inverse li.selected > a{background:#34495E;color:#FFFFFF}
header .dropdown-inverse li > a:hover, .dropdown-inverse li > a:active, .dropdown-inverse li > a{color:#A1A6A9}

@media only screen and (max-width:480px){
	.navbar-header{text-align:center}
	.navbar-brand{text-align:center;float:none;display:inline-block;width:100%;padding-top:15px;padding-bottom:15px;}
	.navbar-nav {display:inline-block;margin-right:5px;}
	.navbar-nav > li{float:left;}
	.navbar-nav > li > a > .text{display:none}
	.navbar-nav > li.search-icon{display:inline-block}
	.navbar-nav > li > a > .fui-search{font-size:21px;}
	
	
	header img.face{display:inline-block;margin-right:10px}
	
	.navbar-toggle{position:absolute;float:left;margin-top:15px;margin-right:5px;left:0}
}

.btn-file {
  overflow: hidden;
  position: relative;
}
.btn-file > input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
  width: 100%;
}
.fileinput {
  margin-bottom: 9px;
  display: block;
}
.fileinput .fileinput-filename {
  font-size: 15px;
}
.fileinput .uneditable-input {
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: text;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fileinput .uneditable-input [class^="fui-"] {
  margin-right: .3em;
}
.fileinput .fileinput-preview {
  cursor: pointer;
}
.fileinput .thumbnail {
  overflow: hidden;
  display: inline-block;
}
.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
  display: none;
}
.fileinput-inline .fileinput-controls {
  display: inline;
}
.fileinput-new .input-group .btn-file {
  border-radius: 0 4px 4px 0;
}
.fileinput-new .input-group .btn-file.btn-xs,
.fileinput-new .input-group .btn-file.btn-sm {
  border-radius: 0 3px 3px 0;
}
.fileinput-new .input-group .btn-file.btn-lg {
  border-radius: 0 6px 6px 0;
}
.form-group.has-warning .fileinput .uneditable-input {
  color: #f1c40f;
  border-color: #faebcc;
}
.form-group.has-warning .fileinput .fileinput-preview {
  color: #f1c40f;
}
.form-group.has-warning .fileinput .thumbnail {
  border-color: #faebcc;
}
.form-group.has-error .fileinput .uneditable-input {
  color: #e74c3c;
  border-color: #ebccd1;
}
.form-group.has-error .fileinput .fileinput-preview {
  color: #e74c3c;
}
.form-group.has-error .fileinput .thumbnail {
  border-color: #ebccd1;
}
.form-group.has-success .fileinput .uneditable-input {
  color: #2ecc71;
  border-color: #d6e9c6;
}
.form-group.has-success .fileinput .fileinput-preview {
  color: #2ecc71;
}
.form-group.has-success .fileinput .thumbnail {
  border-color: #d6e9c6;
}

@media only screen and (min-width:768px){
	.navbar-toggle{display:none}
	.navbar .nav > li > a{padding-left:25px;padding-right:25px;}
	.navbar-nav{padding:25px 15px}
	.navbar-header{float:left}
}

@media only screen and (max-width:1200px){
	.logged-in .admin-logo{display:none}
}

@media only screen and (min-width:481px){
	
	.navbar .nav > li{float:left}
	.navbar-nav > li > a > .text{display:none}
}

@media only screen and (min-width:600px){
	
	.navbar-nav > li > a > .text{display:inline}
	
}
@media only screen and (min-width:601px){
	.navbar-nav{padding:25px 15px}
	.navbar .nav > li > a{padding-left:25px;padding-right:25px;}
}

@media only screen and (min-width:980px){
	.navbar-nav{padding:0}
	
	
}

@media only screen and (max-width:1024px){
	.navbar-right{display:none}
}

header span.header-icon{ display: inline-block; height: 25px; background: url(../img/icons/header-icons.png) no-repeat; float: left; margin-top:-4px;margin-right:10px;}
header span.header-icon.logo{ background-position: 0 0; width: 24px; }
header span.header-icon.post-advt{ background-position: -24px 0; width: 13px; }
header span.header-icon.notifications{ background-position: -37px 0; width: 16px; }
header span.header-icon.sign-up{ background-position: -53px 0; width: 16px; }

footer{background:#EBEDEF}
footer .footer-brand{display:none}
section.ct-content .container{padding:0}
section.ct-content .container > div{padding:0}

.navbar-collapse{padding:0;max-height:540px}
.logged-in .left-menu{margin-top:15px}
.logged-in .admin-logo{text-align:center;}
.logged-out .admin-logo{text-align:center;border-bottom:1px solid #BDC3C7}


.logged-in .left-menu ul{background:#ECEEF0;padding:10px 0;}
.logged-in .left-menu ul li{position:relative;}


.logged-in .user-name{margin-bottom:10px}
.logged-in .user-name p{display:inline-block;font-size:14px;line-height:16px;margin:8px 0;padding-left:15px}
.logged-in .user-name img{display:inline-block;border-radius:50%}
.logged-in li > a{padding:6px 15px 8px 50px;display:block;font-size:14.994px;color:rgba(52, 73, 94, 0.75)}
.logged-in li > a:hover{background:#BDC3C7;color:#fff}
.logged-in .u-icon{ background: url(../img/icons/user-icons.png) no-repeat; display: inline-block; width: 16px; height: 20px; margin: 0 15px 0 0; position:absolute;left:15px;top:5px;}
.logged-in .u-icon.profile{ 			background-position: 0 1px; }
.logged-in .u-icon.inbox{ 				background-position: -33px 1px; }
.logged-in .u-icon.text-chat{ 			background-position: -49px 3px; }
.logged-in .u-icon.notifications{ 		background-position: -65px 3px; }
.logged-in .u-icon.ads-posted{ 			background-position: -81px 0px; width: 13px; margin-right: 18px; top:7px }
.logged-in .u-icon.video-bio{ 			background-position: -94px 1px; }
.logged-in .u-icon.video-resume{ 		background-position: -110px 1px; }
.logged-in .u-icon.wall{ 				background-position: -110px 1px; }
.logged-in .u-icon.friends{ 			background-position: -17px 1px; }
.logged-in .u-icon.account-settings{ 	background-position: -126px 2px; }
.logged-in .u-icon.log-out{ 			background-position: -142px 3px; }
.logged-in .num-notif{background:none repeat scroll 0 0 #2980B9;display:inline-block;text-align:right;border-radius:5px;padding:2px 8px;color:#fff;margin-left:15px;}

.logged-in li:last-child{background:none repeat scroll 0 0 #C9CED2}


.ct-post-ad-final .right-content{border-left:1px solid transparent;padding:15px}
.ct-post-ad-final .right-content .wrapper{background:#ecf0f1;padding:15px;border:1px solid #BDC3C7;position:relative}
.ct-post-ad-final .right-content .wrapper input{width:100%;height:35px;margin-top:4px;margin-bottom:5px;font-size:14.994px}
.ct-post-ad-final .right-content .wrapper input:focus{border-color:#80A8CC}

.ct-post-ad-final .right-content .wrapper textarea{width:100%;height:215px;}
.ct-post-ad-final .right-content .wrapper textarea:focus{border-color:#80A8CC}

.ct-post-ad-final .right-content .wrapper fieldset form div{margin:5px 0}
.ct-post-ad-final .right-content .wrapper .info input{width:80%}
.ct-post-ad-final .right-content .wrapper .info i.fa{margin-left:10px}
.ct-post-ad-final .right-content .wrapper .info i.fa-check-circle{color:#00529C}
.ct-post-ad-final .right-content .wrapper .info i.fa-times-circle{color:#CC0000}


.ct-post-ad-final .right-content .wrapper .info .facebook input{border-color:#00529C;color:#00529C}
.ct-post-ad-final .right-content .wrapper .info .twitter input{border-color:#01AEFE;color:#01AEFE}
.ct-post-ad-final .right-content .wrapper .info .gplus input{border-color:#CD3627;color:#CD3627}
.ct-post-ad-final .right-content .wrapper .info .tumblr input{border-color:#36506B;color:#36506B}
.ct-post-ad-final .right-content .wrapper .info .pinterest input{border-color:#CA2624;color:#CA2624}
.ct-post-ad-final .right-content .wrapper .info .other input{border-color:#95A5A6;color:#95A5A6}

.ct-post-ad-final .right-content .wrapper .info .facebook i.fa-check-circle{color:#00529C}
.ct-post-ad-final .right-content .wrapper .info .twitter i.fa-check-circle{color:#01AEFE}
.ct-post-ad-final .right-content .wrapper .info .gplus i.fa-check-circle{color:#CD3627}
.ct-post-ad-final .right-content .wrapper .info .tumblr i.fa-check-circle{color:#36506B}
.ct-post-ad-final .right-content .wrapper .info .pinterest i.fa-check-circle{color:#CA2624}
.ct-post-ad-final .right-content .wrapper .info .other i.fa-check-circle{color:#95A5A6}

.ct-post-ad-final .right-content .wrapper .blog-form .video-description{border:2px solid #BDC3C7;border-radius:6px;padding:10px 15px;background:#fff}
.ct-post-ad-final .right-content .wrapper .blog-form .video-description h3{text-align:center}
.ct-post-ad-final .right-content .wrapper .blog-form .video-description p{margin-left:15px;margin-right:15px;}


.ct-post-ad-final .right-content .wrapper .input{padding:0 5px;}
.ct-post-ad-final .right-content .wrapper .col-sm-4{padding:0 5px}
.ct-post-ad-final .right-content .wrapper .col-sm-7{padding:0}
.ct-post-ad-final .right-content .wrapper .map-input{padding:0}
.ct-post-ad-final .right-content .wrapper .map-input input{width:90%;display:inline-block;padding-right:0;float:left;border-radius:0;
	border-top:2px solid #BDC3C7;
	border-left:2px solid #BDC3C7;
	border-bottom:2px solid #BDC3C7;
	border-right:0 none;
	-webkit-border-top-left-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-bottomleft: 6px;
border-top-left-radius: 6px;
border-bottom-left-radius: 6px;
}
.ct-post-ad-final .right-content .wrapper .map-input button{width:10%;display:inline-block;margin:4px 0px;padding:5px;height:35px;border-radius:0;
	border-top:2px solid #BDC3C7;
	border-right:2px solid #BDC3C7;
	border-bottom:2px solid #BDC3C7;
	background:#fff;color:#BCC3CA;
	border-left:0 none;
	-webkit-border-top-right-radius: 6px;
-webkit-border-bottom-right-radius: 6px;
-moz-border-radius-topright: 6px;
-moz-border-radius-bottomright: 6px;
border-top-right-radius: 6px;
border-bottom-right-radius: 6px;
}


.ct-post-ad-final .right-content .wrapper .map-input .map-canvas{width:100%;height:195px}
.ct-post-ad-final .right-content .wrapper .video-description{border:2px solid #BDC3C7;border-radius:6px;padding:10px 15px;background:#fff}
.ct-post-ad-final .right-content .wrapper .video-description h3{font-size:18px;color:#ff0000;font-weight:regular;}
.ct-post-ad-final .right-content .wrapper .video-description p{line-height:1.5;font-size:14px;font-weight:regular;}
.ct-post-ad-final .right-content .wrapper .video-link.col-sm-5 input{color:#ff0000;font-size:14px;border-color:#ff0000;padding:0}
.ct-post-ad-final .right-content .wrapper .upload-wrapper img.img-responsive{width:85%;text-align:center;display:inline-block}
.ct-post-ad-final .right-content .wrapper .upload-wrapper .btn-file{background:#00529c}
.ct-post-ad-final .right-content .submit{text-align:center;}
.ct-post-ad-final .right-content .submit input{width:auto;display:inline-block;padding:8px 26px;background:#00529C;height:41px}
.ct-post-ad-final .right-content .submit input[type="submit"]{background:#95A5A6;margin-right:5px;padding:8px 35px;}
.ct-post-ad-final .right-content .submit input[type="submit"]:hover{background:#718687}




.ct-post-ad-final .right-content .wrapper .upload-wrapper .fileinput{text-align:right}
.ct-post-ad-final .right-content .wrapper .upload-wrapper .btn-select-image{margin-top:15px;}

.ct-post-ad-final .right-content .wrapper .upload-wrapper .img-upload-wrapper{min-height:175px;min-width:230px;border:2px solid #BDC3C7;background:#fff;border-radius:6px;width: 220px; height: 150px;}

.ct-post-ad-final .right-content .wrapper .upload-wrapper textarea{height:80px;margin-top:5px;font-size:13px;line-height:1.5;border-radius:4px;width:230px;}
.ct-post-ad-final .right-content .wrapper .upload-wrapper .control{padding:75px 0;}
.ct-post-ad-final .right-content .wrapper .upload-wrapper .btn-control{position:relative;}
.ct-post-ad-final .right-content .wrapper .upload-wrapper .bg-uploading{border-radius:8px;background:#3498DB;}
.ct-post-ad-final .right-content .wrapper .upload-wrapper .bg-failed{border-radius:8px;background:#CCCCCC;}
.ct-post-ad-final .right-content .wrapper .upload-wrapper h3{border-radius:8px;padding-top:10px;padding-bottom:10px;font-weight:bold;font-size:15px;color:#fff;height:45px;background:#95A5A6}
.ct-post-ad-final .right-content .wrapper .upload-wrapper h3.uploading{background:#00529C;}
.ct-post-ad-final .right-content .wrapper .upload-wrapper h3.failed{background:#BA0D0D}
.ct-post-ad-final .right-content .wrapper .upload-wrapper h3 span{position:absolute;top:13px;left:30%}
.ct-post-ad-final .right-content .wrapper .upload-wrapper h4{font-size:14px;font-weight:bold;color:#95a5a6;padding:7px 4px;text-align:center}
.ct-post-ad-final .right-content .wrapper .email-checkbxs span.icons{top:7px}
.ct-post-ad-final .right-content .wrapper .checkbxs label{font-size:14px;font-weight:normal;line-height:20px;}
.ct-post-ad-final .right-content .wrapper .checkbxs span.icon-disabled{position:absolute;left:8.75px;z-index:1}
.ct-post-ad-final .right-content .wrapper .checkbxs span.email{color:#00529C}

.checkbox.disabled, .radio.disabled{color:#ABADAF}
.checkbox.disabled .icons, .radio.disabled .icons{color:#D1D3D5}
.checkbox.checked .icons, .radio.checked .icons{color:#2D5CA9}
.checkbox.checked, .radio.checked{color:#34495E}

.stepper-wrap{margin-top:9px;margin-bottom:9px;}
.stepper-btn-wrap{margin:0;height:35px;}
input.numeric{padding-right:30px}
.dl-menuwrapper .custom-select{background:#ecf0f1;font-weight:bold;color:#111111;font-size:15px;border-radius:6px;cursor:pointer;padding:10px 20px 10px 20px;}
.dl-menuwrapper .custom-select .caret{float:right;margin-top:5px;border-bottom-color:#fff;border-top-color:#fff}

.dl-menuwrapper .dl-menu.dl-menuopen{border-radius:6px;width:100%}
.dl-menuwrapper button:hover, .dl-menuwrapper button.dl-active, .dl-menuwrapper ul{background:#ecf0f1}
.dl-menuwrapper li > a{color:#111111;font-weight:normal;background:#ECF0F1;font-family:'Lato';font-size:14px;color:#111}
.dl-menuwrapper li > a:hover{background:#00529c;color:#fff;font-weight:normal}
.dl-menuwrapper li.first-child > a:hover{
	-webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
}
.dl-menuwrapper li.last-child > a:hover{
	-webkit-border-bottom-right-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
-moz-border-radius-bottomright: 6px;
-moz-border-radius-bottomleft: 6px;
border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
}
.dl-menuwrapper .dl-submenu{margin-left:0;border-radius:6px;}
.dl-menuwrapper li.dl-back > a{
-webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
}

.dl-menuwrapper{z-index:1;position:relative;margin:5px 0;max-width:98%}
.right-caret {
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-left: 6px solid #fff;
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
		float:right;
}

.left-caret {
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #fff;
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
		float:left;
		position: absolute; left: 15px; top: 13px;
}
.addlayer{z-index:-1}

.ct-homepage{}
.ct-homepage .admin-pn{display:none}
.ct-homepage .sm-toggle a.sm-toggle-trigger{display:block;background:#ECF0F1;padding:10px;font-size:18px;font-weight:bold;color:#565E6B;margin:10px 0;border-radius:6px;cursor:pointer}
.ct-homepage .dropdown-show a.sm-toggle-trigger{background:#00529C;color:#fff;}

.ct-homepage .sm-toggle a.sm-toggle-trigger:hover{background:#00529C;color:#fff}

.ct-homepage .sm-toggle i.fa{float:right}



.ct-homepage .list-toggle h3{display:none}
.ct-homepage .list-toggle{display:none}
.ct-homepage ul.home-list li a{color:#111;display:block;padding:9px;font-size:15px}
.ct-homepage ul.home-list li a:hover{color:#F468A9;background:#ECF0F1}
.ct-homepage .sub-list{padding:0}
.ct-homepage .logged-out{padding:0}
.ct-homepage .logged-out h6{text-align: center; color: #000000; font-weight: bold; padding: 15px 0; margin:0;font-size:23.996px}
.ct-homepage .logged-out h5{text-align: center; color: #000000; font-weight: bold; padding: 15px 0; font-size: 14px;}



.ct-homepage .recommend-country{background:#f9fafb;border:2px solid #ecf0f1;border-radius:4px;padding:5px 15px }
.ct-homepage .recommend-country h5{color:#606e7c;font-size:15px;}
.ct-homepage .recommend-country h5 span{color:#5996c4}
.ct-homepage .for-login button.btn{background:#F468A9;width:100%}
.ct-homepage .for-login a.sign-in{display:block;width:100%}
.ct-homepage .social-connect {text-align:left;margin-top:30px}
.ct-homepage .social-connect .soc-log-fb{background:#2F4B93;margin:5px 0}
.ct-homepage .social-connect .soc-log-tw{background:#00BDEF;margin:5px 0}
.ct-homepage .social-connect a{color:#fff;font-weight:bold;padding:5px 10px;display:block}


.ct-homepage .for-login .col-sm-6{margin:5px 0}
.ct-homepage .for-login button.btn:hover{background:#EE98C0;}
.ct-homepage .login-panel{margin:5px 35px;}

.ct-homepage-content{padding:20px;border-left:none}


.modal-dialog{width:300px}
.modal-header{border-bottom:none}
.modal{left:0;width:auto;margin:auto;border:none;background:none}
.modal-login{}
.modal-login .control-group{margin:10px 0}

.modal-login h4{text-align: center; font-size: 22px; font-weight: bold; color: black; margin: 15px 70px 0;}
.modal-login .control-group span{background: url(../img/sign/icons.png) no-repeat; width: 30px; display: block; position: absolute; z-index: 10; left: 20px; padding: 0 15px 0 0; border-right: 1px solid #C6C0CA;}
.modal-login .control-group span.username{ background-position: 0px 0px; height: 19px; top: 16px; }
.modal-login .control-group span.password{ background-position: 0px -38px; height: 19px; top: 16px; }
.modal-login input{width: 100%; padding: 13px 5px 13px 50px; border: 2px solid white; border-right: 1px solid #EAE6EE; border-bottom: 2px solid #EAE6EE; font-size: 16px;  color: black;height:50px}
.modal-login input:focus{border:2px solid #00529C}
.modal-login button.btn{background:#f381b5}
.modal-login button.btn:hover{background:#EE98C0}
.modal-login a.forgot{font-weight:bold;display:block;color:#535c67;padding:10px 0;float:right}
.modal-login a.forgot:hover{color:#f381b5}

@media only screen and (min-width:768px){
	.ct-homepage .admin-pn{display:block}
	.ct-homepage .sm-toggle{display:none}
	.ct-homepage h3{display:block;color: #989EA3; font-size: 16px; font-weight: bold; border-bottom: 2px solid #ECF0F1; padding:5px 0; text-transform:uppercase;}
	.ct-homepage .list-toggle{display:block;}
	
}

@media only screen and (min-width:1024px){
	.ct-post-ad-final .right-content{border-left:1px solid #BDC3C7}
	.ct-post-ad-final .right-content .wrapper{margin:30px;padding:0 30px 15px 20px;}
	.ct-post-ad-final .right-content .wrapper input[type="text"]{margin-top:9px;margin-bottom:9px;padding:0 5px}
	.ct-post-ad-final .right-content .wrapper .info input{margin-top:0;margin-bottom:0}
	.ct-post-ad-final .right-content .wrapper .col-sm-4{padding: 0 5px}
	.ct-post-ad-final .right-content .wrapper .col-sm-7{padding:0 5px;padding-left:15px;}
	.ct-post-ad-final .right-content .wrapper .map-input{padding-left:15px;padding-right:0}
	
	.ct-post-ad-final .right-content .wrapper .map-input button{margin:9px 0;}
	.dl-menu-wrapper{margin-left:30px;margin-right:30px;padding-bottom:15px;border-bottom:2px solid #ECF0F1}
	.dl-menu-ct{padding-left:0;padding-right:0}
	footer .footer-brand{display:inline-block}
	.modal-dialog{width:360px}
	.ct-homepage-content{border-left:1px solid #BDC3C7}
	.ct-post-ad-final .right-content .submit{text-align:right}
	.ct-post-ad-final .right-content .submit input[type="submit"]{width:auto;display:inline-block;padding:8px 35px}
	
	
}



.ct-city-page{border:none;padding:10px 0;}
.ct-city-page ul.list-cities {display:inline-block;border-bottom:2px solid #ECF0F1;width:100%}
.ct-city-page ul.list-cities > li{float:none;}
.ct-city-page ul.list-cities > li.active > a{color:#F468A9}
.ct-city-page ul.list-cities > li > a{display:block;padding:5px;color:#A4B1B2}
.ct-city-page ul.list-cities > li > a:hover{color:#F468A9}

.ct-city-page ul.list-cities > li.main > a{font-size:18px;color:#2E404D;font-weight:bold;padding-top:10px;}
.ct-city-page .banner{border:2px solid #ecf0f1;background:#fff; padding:10px 10px 15px;cursor:pointer;margin-bottom:10px}
.ct-city-page .banner h6{margin:0;font-size:12px;color:#2e404d;text-align:right;margin-bottom:5px;}
.ct-city-page .banner h6 a{color:#2D5CA9}
.ct-city-page .banner h1{margin:0;font-size:24px;color:#c9ced2;text-align:center;line-height:28px;margin:0 0 10px}
.ct-city-page .banner h4{margin:0;font-size:14px;color:#7f8c8d;text-align:center}
.ct-city-page .ct-list h3{color: #989EA3; font-size: 16px; font-weight: bold; border-bottom: 2px solid #ECF0F1; padding:5px 0; text-transform:uppercase;cursor:pointer}
.ct-city-page .ct-list h3:hover{color:#34495E}
.ct-city-page .ct-list h3 i.fa{display:inline-block;float:right}
.ct-city-page i.fa-chevron-right{display:inline-block;}


.ct-city-page .ct-list .ct-list-toggle{display:none;border-bottom:25px}
.ct-city-page .ct-list ul.ct-list-content > li > a{display:block;padding:4px 0;color:#111;font-size:15px}
.ct-city-page .ct-list ul.ct-list-content > li > a:hover{color:#F468A9}

@media only screen and (min-width:768px){
	.ct-city-page ul.list-cities > li{float:left;}
	.ct-city-page ul.list-cities > li > a{padding:15px 5px;}
	.ct-city-page .banner h1{font-size:35px;}
	.ct-city-page .ct-list h3{cursor:default}
	.ct-city-page .ct-list h3 i.fa{display:none}
	.ct-city-page .ct-list .ct-list-toggle{display:inline-block}
	.ct-city-page .ct-list h3:hover{color:#989EA3}
	.ct-city-page i.fa-chevron-right{display:none;}
}

@media only screen and (min-width:1024px){
	.ct-city-page{border-left:1px solid #BDC3C7;padding:10px 25px;}
	
	
}
