/* General styles for all menus */
.cbp-spmenu {
	background: #4F5A60;
	padding-top:30px;
	position: fixed;
}

.cbp-spmenu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

.cbp-spmenu a {
	display: block;
	font-family:'Roboto', sans-serif;text-transform:uppercase;font-size:16px;font-weight:500;
	color: #fff;
	font-size: 1.1em;
	transition: all 0.25s ease 0s;
}

.cbp-spmenu a:focus,.cbp-spmenu a:hover,.cbp-spmenu a:visited, .cbp-spmenu a:active{text-decoration:none}

.cbp-spmenu a:hover {
	color:#63A2D5;
	text-decoration:none;
	background:#475157;
	transition: all 0.25s ease 0s;
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

@media only screen and (max-width: 240px){
	.cbp-spmenu-vertical {width: 170px;}
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #5E686E;
	padding: 1em;
}



.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-right i.fa{color:#fff;margin-right:15px;}
.cbp-spmenu-right ul{padding:0;list-style:none}

.cbp-spmenu-right ul > li > a{outline:0}
.cbp-spmenu-right ul > li > a:active,.cbp-spmenu-right ul > li > a:hover, .cbp-spmenu-right ul > li > a:visited{text-decoration:none}


.cbp-spmenu-right ul > li > a{border-bottom:1px solid #5E686E;padding-left:20px;}
.cbp-spmenu-right ul > li.no-border > a{border-bottom:none}

.cbp-spmenu-right ul > li > ul.submenu > li > a{border-bottom:1px solid #5E686E;padding-left:35px;font-weight:400;text-transform:none;font-size:14px;}
.cbp-spmenu-right ul > li > ul.submenu{display:none}




.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

@media only screen and (max-width:240px){
	.cbp-spmenu-push-toleft {
		left: -170px;
	}
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

@media only screen and (max-width:240px){
	.cbp-spmenu,
	.cbp-spmenu-push {
		-webkit-transition: all 0.1s ease;
		-moz-transition: all 0.1s ease;
		transition: all 0.1s ease;
	}
}

/* Example media queries */

